.Reply-BigBox{width: 100%;height: auto;}
.Reply-BigBox>.top-head{text-align: center;font-size: 22px;font-weight: 600;margin-top: 2%;}
.Reply-BigBox p{width: 100%;padding:10px 0;text-align: left;height: 30px;line-height: 30px;margin-left: 3%;}
.Reply-BigBox p button{float:left;background:none;display: inline-block;height: 100%;margin:3px 0;line-height: 30px;border: 2px solid green;border-radius: 5px;padding-left: 3px;}
.Reply-BigBox p button img{display: inline-block;height: 100%;float: left;}
.Reply-BigBox p span{display: inline-block;height: 90%;line-height: 30px;border:2px solid green; border-radius: 5px;float: left;margin-left: 20px;margin-top: 2px;}
.Reply-BigBox p span input{display: inline-block;height: 95%;background: none;border: none;}
.Reply-BigBox p span i{display: inline-block;width: 20px;height: 95%;font-size: 18px;color: #959595;}

.Reply-BigBox>.Reply-table{width: 94%;height: auto;border: 1px solid #bfbfbf;margin: 5px 0;border-collapse:collapse;margin-left: 3%;}
.Reply-BigBox>.Reply-table tbody{width: 100%;}
.Reply-BigBox>.Reply-table tbody tr th{border: 1px solid #bfbfbf;height: 30px;line-height: 30px;}
.Reply-BigBox>.Reply-table tbody tr td{border: 1px solid #bfbfbf;padding-left: 3px;height: 30px;line-height: 30px;}
.Reply-BigBox>.Reply-table tbody tr td:nth-child(1){width: 8%;text-align: center;}
.Reply-BigBox>.Reply-table tbody tr td:nth-child(2){width:auto;text-align: center;}
.Reply-BigBox>.Reply-table tbody tr td:nth-child(3){width: 15%;text-align: center;}
.Reply-BigBox>.Reply-table tbody tr td:nth-child(4){width: 25%;text-align: center;}
.Reply-BigBox>.Reply-table tbody tr td:nth-child(5){width: 25%;text-align: center;}
.Reply-BigBox>.Reply-table tbody tr td:nth-child(6){width: 15%;text-align: center;}
