.Reply-BigBox{width: 100%;height: auto;}
.Reply-BigBox>.top-head{text-align: center;font-size: 22px;font-weight: 600;margin-top: 2%;}
.Reply-BigBox p{width: 100%;padding:10px 0;text-align: left;height: 30px;line-height: 30px;margin-left: 3%;}
.Reply-BigBox p button{float:left;background:none;display: inline-block;height: 100%;margin:3px 0;line-height: 30px;border: 2px solid green;border-radius: 5px;padding-left: 3px;}
.Reply-BigBox p button img{display: inline-block;height: 100%;float: left;}
.Reply-BigBox p span{display: inline-block;height: 90%;line-height: 30px;border:2px solid green; border-radius: 5px;float: left;margin-left: 20px;margin-top: 2px;}
.Reply-BigBox p span input{display: inline-block;height: 95%;background: none;border: none;}
.Reply-BigBox p span i{display: inline-block;width: 20px;height: 95%;font-size: 18px;color: #959595;}

.Reply-BigBox>.Reply-table{width: 94%;height: auto;border: 1px solid #bfbfbf;margin: 5px 0;border-collapse:collapse;margin-left: 3%;}
.Reply-BigBox>.Reply-table tbody{width: 100%;}
.Reply-BigBox>.Reply-table tbody tr th{border: 1px solid #bfbfbf;height: 30px;line-height: 30px;}
.Reply-BigBox>.Reply-table tbody tr td{border: 1px solid #bfbfbf;padding-left: 3px;height: 30px;line-height: 30px;}
.Reply-BigBox>.Reply-table tbody tr td:nth-child(1){width: 8%;text-align: center;}
.Reply-BigBox>.Reply-table tbody tr td:nth-child(2){width:auto;text-align: center;}
.Reply-BigBox>.Reply-table tbody tr td:nth-child(3){width: 15%;text-align: center;}
.Reply-BigBox>.Reply-table tbody tr td:nth-child(4){width: 25%;text-align: center;}
.Reply-BigBox>.Reply-table tbody tr td:nth-child(5){width: 25%;text-align: center;}
.Reply-BigBox>.Reply-table tbody tr td:nth-child(6){width: 15%;text-align: center;}

.Appaly_box{width:100%;height:100%;position:absolute;top:0;left:0;background:rgba(255,255,255,1);z-index:999;}
.Appaly_first{width:100%;height:100px;position:relative;}
.Appaly_first p{width:60%;height:80px;margin:0 auto;text-align:center;line-height:80px;font-size:20px;}
.Appaly_first i{font-size:1.5em;display:block;width:10%;}
.Appaly_Second {width:80%;margin-left:10%;border:1px solid #00CC99;border-radius:3px;height:auto;}
.Appaly_Second_1 button{display:block;width:20%;height:40px;text-align:center;line-height:40px;color:white;background:#7B7B7B;float:right;margin-right:5%;margin-top:20px;border:none;}
.Appaly_Second_2 li{width:100%;height:60px;}
.Appaly_Second_2 li span{display:block;width:10%;height:30px;float:left;margin-left:10%;background:#BEBEBE;color:white;text-align:center;line-height:30px;}
.Appaly_Second_2 li input{display:block;width:40%;float:left;height:28px;border:1px solid #7B7B7B;}
.Appaly_Second_2 li select{display:block;width:40%;float:left;height:28px;border:1px solid #7B7B7B;text-align:center;}

.list{width:80%;height:auto;margin-left:10%;border:1px solid #7B7B7B;}
.list p{width:100%;height:30px;line-height:30px;text-align:center;margin-top:10px;}
#tuwen{width:90%;margin-top:20px;margin-left:5%;border:1px solid #00F7DE;}
#tuwen td:nth-child(1){width:20%;text-align:center;border-right:1px solid #00CC99;border-bottom:1px solid #00F7DE;}
#tuwen td:nth-child(2){width:20%;text-align:center;border-right:1px solid #00CC99;border-bottom:1px solid #00F7DE;}
#tuwen td:nth-child(2) span{width:100%;display:block;}
#tuwen td:nth-child(3){width:20%;text-align:center;border-right:1px solid #00CC99;border-bottom:1px solid #00F7DE;}
#tuwen td:nth-child(3) img{width:90%;margin-left:2%;}
#tuwen td:nth-child(4){width:auto;text-align:center;border-right:1px solid #00CC99;border-bottom:1px solid #00F7DE;}

#tupian{width:90%;margin-top:20px;margin-left:5%;border:1px solid #00F7DE;}
#tupian td:nth-child(1){width:20%;text-align:center;border-right:1px solid #00CC99;border-bottom:1px solid #00F7DE;}
#tupian td:nth-child(2){width:20%;text-align:center;border-right:1px solid #00CC99;border-bottom:1px solid #00F7DE;}
#tupian td:nth-child(2) span{width:100%;display:block;}
#tupian td:nth-child(3){width:20%;text-align:center;border-right:1px solid #00CC99;border-bottom:1px solid #00F7DE;}
#tupian td:nth-child(3) img{width:90%;margin-left:2%;}
#tupian td:nth-child(4){width:auto;text-align:center;border-right:1px solid #00CC99;border-bottom:1px solid #00F7DE;}

#wenzi{width:90%;margin-top:20px;margin-left:5%;border:1px solid #00F7DE;}
#wenzi td:nth-child(1){width:20%;text-align:center;border-right:1px solid #00CC99;border-bottom:1px solid #00F7DE;}
#wenzi td:nth-child(2){width:20%;text-align:center;border-right:1px solid #00CC99;border-bottom:1px solid #00F7DE;}
#wenzi td:nth-child(2) span{width:100%;display:block;}
#wenzi td:nth-child(3){width:20%;text-align:center;border-right:1px solid #00CC99;border-bottom:1px solid #00F7DE;}
#wenzi td:nth-child(4){width:auto;text-align:center;border-right:1px solid #00CC99;border-bottom:1px solid #00F7DE;}


