{extend name="Public:index"/}
{block name="main"}
    <div class="order_index">
        <p>商家购物车查看</p>
    </div>
    <div class="order_check">
        <p>快速查询：</p>
        <span><input type="text" value="" name="BusinessKeywordSearch" placeholder="&nbsp;商品、姓名、账号"><i class="icon-search" onclick="BusinessKeywordSearch('')"></i></span>
    </div>

    <table class="car_list">
        <tbody>
        <tr>
            <th>编号</th>
            <th>购物车编号</th>
            <th>用户姓名</th>
            <th>用户联系方式</th>
            <th>购物车商品</th>
        </tr>
        <tr>
            <td>00001</td>
            <td>21552455255455545455445</td>
            <td>XXXXXX</td>
            <td>12455844654656</td>
            <td>商品一：XXXXXX，数量：XXX;
                商品一：XXXXXX，数量：XXX;
                商品一：XXXXXX，数量：XXX;
                商品一：XXXXXX，数量：XXX;
                商品一：XXXXXX，数量：XXX;
            </td>
        </tr>
        </tbody>
    </table>

    <div class="wei_list_fenye">
        <a class="icon-double-angle-left" href="javascript:void(0)"></a>
        <a href="javascript:void(0);">1</a>
        <a href="javascript:void(0);">2</a>
        <a href="javascript:void(0);">3</a>
        <a href="javascript:void(0);">4</a>
        <a class=" icon-double-angle-right" href="javascript:void(0)"></a>
    </div>
    <div style="clear:both;"></div>
{/block}