{extend name="Public:top"/}
{block name="main"}

<script>
    document.body.style.overflow="hidden";
    function $(v){return document.getElementById(v);}
    var x=0;
    function c(y){
        $("a"+x).style.display = "none";
        $("a"+y).style.display = "";
        x=y;
    }
</script>
<!------左侧列表-------->
<div class="left-box">
    <a class="left-menu"  href="javascript:;" onclick="c(0)">人物介绍</a>
    <a class="left-menu"  href="javascript:;" onclick="c(1)">公司介绍</a>
    <a class="left-menu"  href="javascript:;" onclick="c(2)">人物详细资料</a>
    <a class="left-menu"  href="javascript:;" onclick="c(3)">公司详细子资料</a>
    <a class="left-menu"  href="javascript:;" onclick="c(4)">照片展示</a>
    <a class="left-menu"  href="javascript:;" onclick="">资料编辑</a>
</div>


<!-------------右侧内容------------------->
<div class="right-box">
    <div class="right-info" id="a0">
            <div class="jieshao">人物介绍</div>
            <div class="jieshao_1">
                <li>姓名：XXXXX</li>
                <li>性别：XXXXX</li>
                <li>年龄：XXXXX</li>
                <li>电话：XXXXX</li>
                <li>座机：XXXXX</li>
                <li>住址：XXXXX</li>
                <li>QQ：XXXXX</li>
                <li>邮箱：XXXXX</li>
            </div>
            <div class="jieshao_2">
                <img src="/public/static/manage/images/1506842609781.jpg" />
            </div>
            <div class="cb"></div>
            <div class="kong"></div>
    </div>
    <div class="right-info" id="a1" style="display:none;">
            <div class="gongsi-jieshao">公司介绍</div>
            <div class="gongsi-jieshao_1">
                <p>
                曾经的曾经的曾近的曾经的曾经的曾近的曾经的曾经的曾近的曾经的曾经的曾近的
                曾经的曾经的曾近的曾经的曾经的曾近的曾经的曾经的曾近的曾经的曾经的曾近的
                曾经的曾经的曾近的曾经的曾经的曾近的曾经的曾经的曾近的曾经的曾经的曾近的
                曾经的曾经的曾近的曾经的曾经的曾近的曾经的曾经的曾近的曾经的曾经的曾近的
                曾经的曾经的曾近的曾经的曾经的曾近的曾经的曾经的曾近的曾经的曾经的曾近的
                曾经的曾经的曾近的曾经的曾经的曾近的曾经的曾经的曾近的曾经的曾经的曾近的
                曾经的曾经的曾近的曾经的曾经的曾近的曾经的曾经的曾近的曾经的曾经的曾近的
                曾经的曾经的曾近的曾经的曾经的曾近的曾经的曾经的曾近的曾经的曾经的曾近的
                </p>
                <img src="/public/static/manage/images/1506842609781.jpg">
            </div>
            <div class="kong"></div>
    </div>
    <div class="right-info" id="a2" style="display:none;">
        <div class="gongsi-jieshao">人物详细介绍</div>
        <div class="gongsi-jieshao_1">
            <p>
                岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的
                岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的
                岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的
                岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的
                岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的
                岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的
                岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的
                岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的
                岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的
                岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的岁月的

            </p>
            <img src="/public/static/manage/images/1506842609781.jpg">
        </div>
        <div class="kong"></div>
    </div>
    <div class="right-info" id="a3" style="display:none;">
        <div class="gongsi-jieshao">公司详细资料</div>
        <div class="gongsi-jieshao_1">
            <p>
                时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的
                时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的
                时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的
                时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的
                时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的
                时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的
                时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的
                时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的
                时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的时光的
            </p>
            <img src="/public/static/manage/images/1506842609781.jpg">
        </div>
        <div class="kong"></div>
    </div>
    <div class="right-info" id="a4" style="display:none;">
        <div class="photo-zhan">照片展示</div>
        <div class="photo-zhan_1">
            <span>此照片来自于。。。。。。</span>
            <img src="/public/static/manage/images/1506842609781.jpg">
            <span>此照片来自于。。。。。。</span>
            <img src="/public/static/manage/images/1506842609781.jpg">
            <span>此照片来自于。。。。。。</span>
            <img src="/public/static/manage/images/1506842609781.jpg">
            <span>此照片来自于。。。。。。</span>
            <img src="/public/static/manage/images/1506842609781.jpg">
        </div>
        <div class="kong"></div>
    </div>
</div>
{/block}


