{extend name="Public:index"/}
{block name="main"}
<div class="untreated">
    <h2>代理列表</h2>
    <p><button>添加</button></p>
    <table class="untreated_List">
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>电话</th>
            <th>QQ</th>
            <th>申请时间</th>
            <th>操作</th>
        </tr>
        <tr>
            <td>1</td>
            <td>张某某</td>
            <td>男</td>
            <td>21</td>
            <td>18787879797</td>
            <td>12457889461</td>
            <td>2018-03-17 12:12:12</td>
            <td>
                <button id="box">同意</button>
                <button>拒绝</button>
            </td>
        </tr>
    </table>
</div>
{/block}