{extend name="Public:index"/}
{block name="main"}
<h1 class="h1_1">公众号关注人员</h1>
<div class="phone_head">
    <div class="phone_head_l1">
        <input type="text" />
        <div id="" class="icon-search"></div>
    </div>
</div>
<table class="guan_list">
    <tbody>
        <tr>
            <th>编号</th>
            <th>昵称</th>
            <th>头像</th>
            <th>性别</th>
            <th>地址</th>
        </tr>
        <tr>
            <td>001</td>
            <td>这是个昵称这是个</td>
            <td><img src="/public/static/manage/images/1506842609781.jpg"></td>
            <td>男</td>
            <td>地址：XX省XXX市</td>
        </tr>
    </tbody>
</table>
{/block}