{extend name="Public:index"/}
{block name="main"}
<h1 class="alljob_first">所有职位列表</h1>
<button class="second">
    <input type="text" name="sousuo" value="">
    <i class="icon-search" style="font-size:20px;display:block;width:20%;float:right;"></i>
</button>

<button class="second_1">
    <img src="/public/static/manage/images/icon-add.png">
    <span>添加职位</span>
</button>
<div style="clear:both;"></div>
<table class="zhiwei_list">
    <tbody>
        <tr>
            <th>ID</th>
            <th>职位名称</th>
            <th>职位描述</th>
            <th>薪资</th>
            <th>要求</th>
            <th>招聘日期</th>
            <th>排序</th>
            <th>操作</th>
        </tr>
        <tr>
            <td>1</td>
            <td>测试兼职</td>
            <td>描述描述描述描述一大堆</td>
            <td>￥:2000-￥:3000</td>
            <td>任职要求:
                1.XXXXXXXXXXXXX.
                2.XXXXXXXXXXXXX
                3.XXXXXXXXXXXXX
                4.XXXXXXXXXXXXXXXXX
            </td>
            <td>
                2018-02-25至2018-03-08
            </td>
            <td>1</td>
            <td>
                <button>编辑</button>
                <button>删除</button>
                <div style="width:100%;height:10px;"></div>
            </td>
        </tr>
    </tbody>
</table>
{/block}