{extend name="Public:groups"/}
{block name="main"}
<div class="content_dao">
    <a href="{:url('/admin/personal/Personal/index')}" class="icon-angle-left" style="float:left;margin-top:4px;margin-left:3%;color:white;"></a>
    <p class="cont_zhan">附近的团</p>
</div>

<div class="near_first">
    <img src="__PUBLIC__/admin/images/sc.jpg">
    <span>描述描述描述描述各种描述</span>
</div>

<div class="ti_jian">下面是附近的团</div>
<div class="tuan_list">
    <img src="__PUBLIC__/admin/images/sc.jpg">
    <p>拼团拼团拼团拼团</p>
    <b>￥：80</b>
    <span>一团5减</span>
    <button>马上开团</button>
</div>
<div class="tuan_list">
    <img src="__PUBLIC__/admin/images/sc.jpg">
    <p>拼团拼团拼团拼团</p>
    <b>￥：80</b>
    <span>一团5减</span>
    <button>马上开团</button>
</div>
<div class="tuan_list">
    <img src="__PUBLIC__/admin/images/sc.jpg">
    <p>拼团拼团拼团拼团</p>
    <b>￥：80</b>
    <span>一团5减</span>
    <button>马上开团</button>
</div>
<div class="tuan_list">
    <img src="__PUBLIC__/admin/images/sc.jpg">
    <p>拼团拼团拼团拼团</p>
    <b>￥：80</b>
    <span>一团5减</span>
    <button>马上开团</button>
</div>
{/block}