{extend name="Public:index"/}
{block name="main"}
    <div class="Region-index-Box">
        <h1>区域管理列表</h1>
        <p class="operation">
            <button class="" onclick="AddRegion()"><img src="__PUBLIC__/manage/images/icon-add.png" alt="">添加区域</button>
            <select name="" class="Region-Choice">
                <option value="0">----全部----</option>
                {volist name="RegionList" id="val"}
                <option value="{$val.id}" onclick="Choice('{$val.id}')">{$val.regionName}</option>
                    {present name="val.children.0"}
                    {volist name="val.children" id="val_1"}
                    <option value="{$val_1.id}" onclick="Choice('{$val_1.id}')">|----{$val_1.regionName}</option>
                        {present name="val_1.children.0"}
                        {volist name="val_1.children" id="val_2"}
                        <option value="{$val_2.id}" onclick="Choice('{$val_2.id}')">|----|----{$val_2.regionName}</option>
                        {/volist}
                        {/present}
                    {/volist}
                    {/present}
                {/volist}
            </select>
            <span><input type="text" value="" name="" placeholder="&nbsp;&nbsp;&nbsp;搜索"><i class="icon-search"></i></span>
        </p>
        <table class="Region">
            <tbody>
                <tr>
                    <th>编号</th>
                    <th>区域名称</th>
                    <th>第几层次</th>
                    <th>所属区域</th>
                    <th>是否启用</th>
                    <th>添加区域</th>
                    <th>操作</th>
                </tr>
                {volist name="RegionList" id="vo"}
                <tr>
                    <td>{$key+1}</td>
                    <td>{$vo.regionName}</td>
                    <td>第&nbsp;{$vo.level}&nbsp;级区域</td>
                    <td>顶级区域</td>
                    <td>
                        <span class="Region-Enable">
                            <input type="hidden" value="{$vo['enable']=='1'?'open':'off'}" class="status">
                            <button class="Region-open" onclick="OffRegion('{$vo.id}')" id="RegionSwitch_off{$vo.id}">
                                <img src="__PUBLIC__/manage/images/inco-open.png" alt="">&nbsp;点击关闭
                            </button>
                            <button class="Region-off" onclick="OpenRegion('{$vo.id}')" id="RegionSwitch_open{$vo.id}">
                                <img src="__PUBLIC__/manage/images/inco-close.png" alt="">点击开启&nbsp;
                            </button>
                        </span>
                    </td>
                    <td>
                        <span class="Region-AddRegion">
                            <input type="hidden" value="" class="AddRegion">
                            <button onclick="AddRegion('{$vo.id}')">
                                <img src="__PUBLIC__/manage/images/NewAdd.png" alt="">&nbsp;添加
                            </button>
                        </span>
                    </td>
                    <td>
                        <span class="Region-EditRegion">
                            <input type="hidden" value="" class="EditRegion">
                            <button onclick="EditRegion('{$vo.id}')">
                                <img src="__PUBLIC__/manage/images/iocn-edit.png" alt="">&nbsp;编辑
                            </button>
                        </span>
                    </td>
                </tr>
                {present name="vo.children.0"}
                {volist name="vo.children" id="vo_1"}
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;|--(&nbsp;{$key+1}&nbsp;)</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;|--{$vo_1.regionName}</td>
                    <td>第&nbsp;{$vo_1.level}&nbsp;级区域</td>
                    <td>{$vo.regionName}</td>
                    <td>
                        <span class="Region-Enable">
                            <input type="hidden" value="{$vo_1['enable']=='1'?'open':'off'}" class="status">
                            <button class="Region-open" onclick="OffRegion('{$vo_1.id}')" id="RegionSwitch_off{$vo_1.id}">
                                <img src="__PUBLIC__/manage/images/inco-open.png" alt="">&nbsp;点击关闭
                            </button>
                            <button class="Region-off" onclick="OpenRegion('{$vo_1.id}')" id="RegionSwitch_open{$vo_1.id}">
                                <img src="__PUBLIC__/manage/images/inco-close.png" alt="">点击开启&nbsp;
                            </button>
                        </span>
                    </td>
                    <td>
                        <span class="Region-AddRegion">
                            <input type="hidden" value="" class="AddRegion">
                            <button onclick="AddRegion('{$vo_1.id}')">
                                <img src="__PUBLIC__/manage/images/NewAdd.png" alt="">&nbsp;添加
                            </button>
                        </span>
                    </td>
                    <td>
                        <span class="Region-EditRegion">
                            <input type="hidden" value="" class="EditRegion">
                            <button onclick="EditRegion('{$vo_1.id}')">
                                <img src="__PUBLIC__/manage/images/iocn-edit.png" alt="">&nbsp;编辑
                            </button>
                        </span>
                    </td>
                </tr>
                    {present name="vo_1.children.0"}
                    {volist name="vo_1.children" id="vo_2"}
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|--|--[&nbsp;{$key+1}&nbsp;]</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|--|--{$vo_2.regionName}</td>
                            <td>第&nbsp;{$vo_2.level}&nbsp;级区域</td>
                            <td>{$vo_1.regionName}</td>
                            <td>
                                <span class="Region-Enable">
                                    <input type="hidden" value="{$vo_2['enable']=='1'?'open':'off'}" class="status">
                                    <button class="Region-open" onclick="OffRegion('{$vo_2.id}')" id="RegionSwitch_off{$vo_2.id}">
                                        <img src="__PUBLIC__/manage/images/inco-open.png" alt="">&nbsp;点击关闭
                                    </button>
                                    <button class="Region-off" onclick="OpenRegion('{$vo_2.id}')" id="RegionSwitch_open{$vo_2.id}">
                                        <img src="__PUBLIC__/manage/images/inco-close.png" alt="">点击开启&nbsp;
                                    </button>
                                </span>
                            </td>
                            <td>
                                <span class="Region-AddRegion">
                                    <input type="hidden" value="" class="AddRegion">
                                    <button onclick="AddRegion('{$vo_2.id}')">
                                        <img src="__PUBLIC__/manage/images/NewAdd.png" alt="">&nbsp;添加
                                    </button>
                                </span>
                            </td>
                            <td>
                                <span class="Region-EditRegion">
                                    <input type="hidden" value="" class="EditRegion">
                                    <button onclick="EditRegion('{$vo_2.id}')">
                                        <img src="__PUBLIC__/manage/images/iocn-edit.png" alt="">&nbsp;编辑
                                    </button>
                                </span>
                            </td>
                        </tr>
                    {/volist}
                    {/present}
                {/volist}
                {/present}
                {/volist}
            </tbody>
        </table>
    </div>
    <div class="AddRegion-Box">
        <div class="AddRegion-head">
            <p>
                <button onclick="closeAdd()"><i class="icon-remove-circle"></i>关闭</button>
            </p>
            <h1>
                新增区域
            </h1><br>
            <div class="cb"></div>
            <div class="AddRegion-content">
                <div>
                    <span>区&nbsp;&nbsp;域&nbsp;&nbsp;名&nbsp;&nbsp;称：</span><input type="text" name="RegionName" value="" placeholder=""><label>&nbsp;</label>
                </div>
                <div class="AddRegion-enable">
                    <span>是&nbsp;&nbsp;否&nbsp;&nbsp;启&nbsp;&nbsp;用：</span>
                    启用：<input type="radio" name="RegionEnable" value="1" placeholder="" checked>
                    不启用：<input type="radio" name="RegionEnable" value="0" placeholder="">
                </div>
                <div>
                    <span>选择父级区域：</span>

                    <select class="RegionSelect_1">
                        {in name="AdminId" value="1"}
                        <option value="0">----顶级区域----</option>
                        {else/}
                        <option value="0">----请选择----</option>
                        {/in}
                        {volist name="RegionList" id="value"}
                        <option value="{$value.id}">----{$value.regionName}----</option>
                        {/volist}
                    </select>

                    {volist name="RegionList" id="va"}
                        {present name="va.children.0"}
                            {notin name="va.level" value="2"}
                            <select id="RegionSelect{$va.id}" class="RegionSelect_2">
                                <option value="0">---请选择----</option>
                                {volist name="va.children" id="va_1"}
                                <option value="{$va_1.id}">----{$va_1.regionName}----</option>
                                {/volist}
                            </select>
                            {/notin}
                        {/present}
                    {/volist}
                </div>
                <br>
                <div class="submit">
                    <button onclick="AddRegionSubmit()">提&nbsp;&nbsp;&nbsp;交</button>
                </div>
            </div>
        </div>
    </div>


    <div class="EditRegion-Box">
        <div class="EditRegion-head">
            <p>
                <button onclick="closeEdit()"><i class="icon-remove-circle"></i>关闭</button>
            </p>
            <h1>
                编辑区域
            </h1><br>
            <div class="cb"></div>
            <div class="EditRegion-content"></div>
        </div>
    </div>
{/block}


