.content_dao{width:100%;height:40px;border-bottom:2px solid #adadad;background:#adadad;color:white;}
.icon-angle-left{font-size:2em;}
.content_dao p{width:20%;height:40px;line-height:40px;text-align:center;float:left;font-size:.8em;margin-left:5%;}
.Dqu_first{width:100%;height:60px;background:orangered;font-size:.8em;color:white;}
.Dqu_first p{width:60%;float:left;height:40px;margin-top:10px;margin-left:5%;}
.Dqu_first button{border:1px solid white;color:white;background:orangered;border-radius:4px;margin-top:20.5px;margin-left:5%;}
.Dqu_second{width:100%;height:80px;background:#e0e0e0;}
.Dqu_second_1{width:100%;height:30px;}
.Dqu_second_1 p{width:30%;height:30px;float:left;font-size:.8em;text-align:center;line-height:30px;}
.Dqu_second_1 span{display:block;width:40%;height:30px;float:right;text-align:center;line-height:30px;font-size:.8em;}
.Dqu_second_2{width:100%;}
.Dqu_second_2 p{width:70%;height:50px;font-size:.8em;float:left;margin-left:5%;}
.Dqu_second_2 i{font-size:2em;}
.Dqux_third{width:100%;}
.Dqux_third li{list-style:none;height:40px;line-height:40px;text-indent:5%;font-size:.8em;}
.Dqux_third_1{width:100%;height:90px;background:#e0e0e0;}
.Dqux_third_1 img{width:70px;height:70px;margin-top:8px;margin-left:5%;float:left;border:1px solid #7B7B7B;border-radius:4px;}
.Dqux_third_1 p{width:50%;float:right;margin-right:8%;font-size:.8em;margin-top:8px;}
.Dqux_third_1 span{float:left;margin-left:5%;font-size:.6em;color:red;}
.Dqux_third_1 i{float:right;margin-right:5%;font-size:.6em;}
.Dqux_forth{width:100%;border-top:1px solid #BEBEBE;margin-top:40px;}
.Dqux_forth_1{width:100%;height:60px;border-bottom:1px solid #BEBEBE;}
.Dqux_forth_1 span{width:15%;float:left;display:block;height:60px;font-size:.8em;margin-left:5%;line-height:60px;}
.Dqux_forth_1 p{width:60%;height:60px;float:left;text-align:right;margin-left:5%;font-size:.8em;color:#7B7B7B;line-height:60px;}
.icon-angle-right{font-size:2em;}
.Dqux_bottom{position:fixed;bottom:0;width:100%;height:60px;}
.Dqux_bottom_1{width:70%;height:60px;float:left;line-height:60px;text-align:right;font-size:.8em;}
.Dqux_bottom_1 span{color:red;}
.Dqux_bottom button{display:block;width:30%;float:left;line-height:60px;text-align:center;background:orangered;color:white;font-size:.8em;border:none;}
