.WeiXinMenu-Box{width: 85%;margin-left: 7.5%;height: 100%;}
.WeiXinMenu-Box>.WeiXinMenu-form{margin-top: 5px;}
.WeiXinMenu-Box>.WeiXinMenu-form>.Menu-box{width: 80%;margin-left: 5%;border: 3px solid black;padding:5px 5%;}
.WeiXinMenu-Box>.WeiXinMenu-form>.Menu-box>.Menu-enable{border-bottom: 2px solid black;font-size: 20px;padding: 3px 0;}
.WeiXinMenu-Box>.WeiXinMenu-form>.Menu-box>.Menu-enable span{font-size: 20px;}
.WeiXinMenu-Box>.WeiXinMenu-form>.Menu-box>.Menu-enable input{display: inline-block;margin: 0 20px;}
.WeiXinMenu-Box>.WeiXinMenu-form>.Menu-box>.Menu-Content{padding:10px 0;display: none;}
.WeiXinMenu-Box>.WeiXinMenu-form>.Menu-box>.Menu-Content p span{font-size: 16px;display: inline-block;width: 95px;}
.WeiXinMenu-Box>.WeiXinMenu-form>.Menu-box>.Menu-Content p input{display: inline-block;width: 30px;}
.WeiXinMenu-Box>.WeiXinMenu-form>.Menu-box>.Menu-Content p button{background: none;border: 1px solid green;border-radius: 3px;margin-left: 30px;padding: 2px 5px;display: none;}
.WeiXinMenu-Box>.WeiXinMenu-form>.Menu-box>.Menu-Content>.Menu-Content-children{margin: 10px 0 10px 109px;display: none;}
.WeiXinMenu-Box>.WeiXinMenu-form>.Menu-box>.Menu-Content>.Menu-Content-children>.children-Menu{border:1px solid black;padding:10px 3px;}
.WeiXinMenu-Box>.WeiXinMenu-form>.Menu-box>.Menu-Content>.Menu-Content-children>.children-Menu input{display: inline-block;width: 30px;}
.WeiXinMenu-Box>.MenuSubmit{width: 80%;;margin-left: 5%;margin-bottom: 20px;}
.WeiXinMenu-Box>.MenuSubmit button{background: none;border: 1px solid green; border-radius: 3px; padding:3px 10px;}

