{extend name="Public:index"/}
{block name="main"}
    <div class="WeixinMenu-bigBox">
        <h1 class="Head">微信公众号菜单生成</h1>
        <!--<form class="Menu-form">-->
            <button class="addMenu" onclick="Add_menu()">添加一级菜单</button><label class="addMenu-label">（最多添加3个一级菜单，且名称不超过4个汉字）</label><br>
            {volist name="menuList" id="vo"}
            <div class="menuBox" id="MenuBox1">
                <p id="topMenu{$key+1}" class="topmenu">
                    {$key+1}、<input type="text" value="{$vo.name}" placeholder="请输入菜单名称" name="topMenu{$key+1}">
                    跳转链接：<input type="radio" name="topMenu{$key+1}-checkbox" placeholder="" value="1" onclick="addbutton(1)"
                                {present name="vo.type"}{$vo['type']=='view'?'checked':''}{/present}>
                    点击事件：<input type="radio" name="topMenu{$key+1}-checkbox" placeholder="" value="0" onclick="addbutton(0)"
                                {present name="vo.type"}{$vo['type']=='click'?'checked':''}{/present}>
                    {present name="vo.type"}
                    {if condition="($vo.type == 'view')"} 链接：<input type="text" value="http://" placeholder="链接">
                    {else /} <button onclick="addSecondMenu()">添加子菜单</button>
                    {/if}
                    {/present}

                </p>
                <div>
                    {volist name="vo.sub_button" id="vo_1"}
                    <p class="SecondMenu">
                        ({$key+1})<input type="text" value="{$vo_1.name}" placeholder="二级菜单名称">
                        跳转链接：<input type="radio" name="SecondMenu{$key+1}-checkbox" placeholder="" value="1" onclick="addbutton(1)"
                                    {present name="vo_1.type"}{$vo_1['type']=='view'?'checked':''}{/present}>
                        点击按钮：<input type="radio" name="SecondMenu{$key+1}-checkbox" placeholder="" value="0" onclick="addbutton(0)"
                                    {present name="vo_1.type"}{$vo_1['type']=='click'?'checked':''}{/present}><br>
                    </p>
                    {/volist}
                </div>
            </div>
            {/volist}
        <!--</form>-->
        <input type="hidden" value="{$count}">
    </div>

<!---------------------添加公众号菜单---------------------->
    <div class="bianji_menulist" id="list">
        <button class="menulist_bianji" onclick="Kbianji()">编辑</button>
        <button class="menulist_baocun" onclick="Baocun()">保存</button>
        <br>
        <div class="Menu_list1">
            <div class="Menu_list_1">
                餐单名称：<input type="text" value="餐单名称" disabled="disabled" name="candan_1" style="width:20%;text-align:center;" class="min_list">
            </div>
            <div class="Mo_radio1">
                <span>跳转链接<input type="radio" name="radio1" value="0" onchange="dianji(1,0)"></span>
                <span>添加子菜单<input type="radio" name="radio1" value="1" onchange="dianji(1,1)"></span>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="Menu_list2">
            <div class="Menu_list_2">
                餐单名称：<input type="text" value="餐单名称" disabled="disabled" name="candan_2" style="width:20%;text-align:center;" class="min_list">
            </div>
            <div class="Mo_radio2">
                <span>跳转链接<input type="radio" name="radio2" value="0" onchange="dianji(2,0)"></span>
                <span>添加子菜单<input type="radio" name="radio2" value="1" onchange="dianji(2,1)"></span>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="Menu_list3">
            <div class="Menu_list_3">
                餐单名称：<input type="text" value="餐单名称" disabled="disabled" name="candan_3" style="width:20%;text-align:center;" class="min_list">
            </div>
            <div class="Mo_radio3">
                <span>跳转链接<input type="radio" name="radio3" value="0" onchange="dianji(3,0)"></span>
                <span>添加子菜单<input type="radio" name="radio3" value="1" onchange="dianji(3,1)"></span>
            </div>
            <div style="clear:both;"></div>
        </div>

    </div>

{/block}
