{extend name="Public:index"/}
{block name="main"}
<div class="WeiXinMenu-Box">
    <h1 style="text-align: center;font-size: 30px;margin: 20px 0;">
        微信公众号菜单生成
    </h1>
    <p class="MenuSubmit"><button onclick="sureSave()">保存</button></p>
    <p class="MenuSubmit"><b style="color: red">注意：</b>主菜单字数不超过4个汉字或者8个字符，二级菜单字数不超过8个汉字或16个字符；任何链接必须以"http://"或者"https://"开头，关键字回复可以为任意关键字，素材消息需要填写微信公众平台添加的永久素材Id，否则将会生成失败或部分功能无效！请认真填写。</p>
    <form method="post" class="WeiXinMenu-form" onsubmit="return false;" id="form1">
        <div class="Menu-box">
            <p class="Menu-enable">
                <span class="zhucaidan"><b style="font-size: 20px;">主菜单1：</b></span>
                <input type="radio" name="MenuEnable" value="1" placeholder="" {present name="menuList.0"}checked{/present}><span>启用</span>
                <input type="radio" name="MenuEnable" value="0" placeholder="" {notpresent name="menuList.0"}checked{/notpresent}><span>不启用</span>
            </p>
            <div class="Menu-Content">
                <p>
                    <span>菜单名称：</span>
                    <input type="text" value="{$menuList.0.name}" name="MenuName" placeholder="四个汉字或者8个英文" style="border:1px solid black;display: inline-block;width:200px;height: 22px;margin-left: 10px;">
                    <input type="radio" name="Menu-type" placeholder="" value="1" {present name="menuList.0"}{present name="menuList.0.type"}checked{/present} {/present} ><span>跳转链接</span>
                    <input type="radio" name="Menu-type" placeholder="" value="0" {present name="menuList.0"} {notpresent name="menuList.0.type"}checked{/notpresent}{/present} ><span>点击事件</span>
                    <button class="addChildrenMenu">添加子菜单</button>
                </p>
                <div class="Menu-Content-children href">
                    <span>跳转链接：</span>
                    <input type="text" placeholder="http://" name="MenuHref" value="{present name="menuList.0"}{present name="menuList.0.type"}{$menuList.0.url}{/present} {/present}" style="display: inline-block;width: 300px;">
                </div>
                {present name="menuList.0"}
                {notpresent name="menuList.0.type"}
                {volist name="menuList.0.sub_button" id="vo"}
                <div class="Menu-Content-children childrenMenu" style="display: block;">
                    <div class="children-Menu">
                        <span>子菜单{$key+1}：</span>
                        <input type="text" placeholder="最多八个汉字16个字符" name="first-children-{$key+1}" value="{$vo.name}" style="width: 200px;display: inline-block;border: 1px solid black;height: 22px;">
                        <input type="radio" value="1" name="chidren1-enable{$key+1}" placeholder="" {$vo.type=="view"?"checked":""}><span>跳转链接</span>
                        <input type="radio" value="0" name="chidren1-enable{$key+1}" placeholder="" {$vo.type=="click"?"checked":""}><span>关键字回复</span>
                        <input type="radio" value="2" name="chidren1-enable{$key+1}" placeholder="" {$vo.type=="media_id"?"checked":""}><span>素材消息</span><br>
                        <span>跳转链接或者关键字或素材Id：</span><input value="{present name='vo.url'}{$vo.url}{else /}{present name='vo.key'}{$vo.key}{else/}{$vo.media_id}{/present}{/present}" type="text" name="chidren1-href{$key+1}" placeholder="关键字内容不限；跳转链接以'http://'或者'https://'开头；素材消息为永久素材Id" style="width: 570px;border: 1px solid black;height: 22px;margin: 5px 0">
                    </div>
                </div>
                {/volist}
                {/notpresent}
                {/present}
            </div>
        </div>
    </form>

    <form method="post" class="WeiXinMenu-form" onsubmit="return false;" id="form2">
        <div class="Menu-box">
            <p class="Menu-enable">
                <span class="zhucaidan"><b style="font-size: 20px;">主菜单2：</b></span>
                <input type="radio" name="MenuEnable" value="1" placeholder="" {present name="menuList.1"}checked{/present}><span>启用</span>
                <input type="radio" name="MenuEnable" value="0" placeholder="" {notpresent name="menuList.1"}checked{/notpresent}><span>不启用</span>
            </p>
            <div class="Menu-Content">
                <p>
                    <span>菜单名称：</span>
                    <input type="text" value="{$menuList.1.name}" name="MenuName" placeholder="四个汉字或者8个英文" style="border:1px solid black;display: inline-block;width:200px;height: 22px;margin-left: 10px;">
                    <input type="radio" name="Menu-type" placeholder="" value="1" {present name="menuList.1"}{present name="menuList.1.type"}checked{/present} {/present}<span>跳转链接</span>
                    <input type="radio" name="Menu-type" placeholder="" value="0" {present name="menuList.1"} {notpresent name="menuList.1.type"}checked{/notpresent}{/present}><span>点击事件</span>
                    <button class="addChildrenMenu">添加子菜单</button>
                </p>
                <div class="Menu-Content-children href">
                    <span>跳转链接：</span>
                    <input type="text" placeholder="http://" name="MenuHref" value="{present name="menuList.1"}{present name="menuList.1.type"}{$menuList.1.url}{/present} {/present}" style="display: inline-block;width: 300px;">
                </div>
                {present name="menuList.1"}
                {notpresent name="menuList.1.type"}
                {volist name="menuList.1.sub_button" id="vo_1"}
                <div class="Menu-Content-children childrenMenu" style="display: block;">
                    <div class="children-Menu">
                        <span>子菜单{$key+1}：</span>
                        <input type="text" placeholder="最多八个汉字16个字符" name="first-children-{$key+1}" value="{$vo_1.name}" style="width: 200px;display: inline-block;border: 1px solid black;height: 22px;">
                        <input type="radio" value="1" name="chidren1-enable{$key+1}" placeholder="" {$vo_1.type=="view"?"checked":""}><span>跳转链接</span>
                        <input type="radio" value="0" name="chidren1-enable{$key+1}" placeholder="" {$vo_1.type=="click"?"checked":""}><span>关键字回复</span>
                        <input type="radio" value="2" name="chidren1-enable{$key+1}" placeholder="" {$vo_1.type=="media_id"?"checked":""}><span>素材消息</span><br>
                        <span>跳转链接或者关键字或素材Id：</span><input value="{present name='vo_1.url'}{$vo_1.url}{else /}{present name='vo_1.key'}{$vo_1.key}{else/}{$vo_1.media_id}{/present}{/present}" type="text" name="chidren1-href{$key+1}" placeholder="关键字内容不限；跳转链接以'http://'或者'https://'开头；素材消息为永久素材Id" style="width: 570px;border: 1px solid black;height: 22px;margin: 5px 0">
                    </div>
                </div>
                {/volist}
                {/notpresent}
                {/present}
            </div>
        </div>
    </form>

    <form method="post" class="WeiXinMenu-form" onsubmit="return false;" id="form3">
        <div class="Menu-box">
            <p class="Menu-enable">
                <span class="zhucaidan"><b style="font-size: 20px;">主菜单3：</b></span>
                <input type="radio" name="MenuEnable" value="1" placeholder="" {present name="menuList.2"}checked{/present}><span>启用</span>
                <input type="radio" name="MenuEnable" value="0" placeholder="" {notpresent name="menuList.2"}checked{/notpresent}><span>不启用</span>
            </p>
            <div class="Menu-Content">
                <p>
                    <span>菜单名称：</span>
                    <input type="text" value="{$menuList.2.name}" name="MenuName" placeholder="四个汉字或者8个英文" style="border:1px solid black;display: inline-block;width:200px;height: 22px;margin-left: 10px;">
                    <input type="radio" name="Menu-type" placeholder="" value="1" {present name="menuList.2"}{present name="menuList.2.type"}checked{/present} {/present}><span>跳转链接</span>
                    <input type="radio" name="Menu-type" placeholder="" value="0" {present name="menuList.2"} {notpresent name="menuList.2.type"}checked{/notpresent}{/present}><span>点击事件</span>
                    <button class="addChildrenMenu">添加子菜单</button>
                </p>
                <div class="Menu-Content-children href">
                    <span>跳转链接：</span>
                    <input type="text" placeholder="http://" name="MenuHref" value="{present name="menuList.2"}{present name="menuList.2.type"}{$menuList.2.url}{/present} {/present}" style="display: inline-block;width: 300px;">
                </div>
                {present name="menuList.2"}
                {notpresent name="menuList.2.type"}
                {volist name="menuList.2.sub_button" id="vo_2"}
                <div class="Menu-Content-children childrenMenu" style="display: block;">
                    <div class="children-Menu">
                        <span>子菜单{$key+1}：</span>
                        <input type="text" placeholder="最多八个汉字16个字符" name="first-children-{$key+1}" value="{$vo_2.name}" style="width: 200px;display: inline-block;border: 1px solid black;height: 22px;">
                        <input type="radio" value="1" name="chidren1-enable{$key+1}" placeholder="" {$vo_2.type=="view"?"checked":""}><span>跳转链接</span>
                        <input type="radio" value="0" name="chidren1-enable{$key+1}" placeholder="" {$vo_2.type=="click"?"checked":""}><span>关键字回复</span>
                        <input type="radio" value="2" name="chidren1-enable{$key+1}" placeholder="" {$vo_2.type=="media_id"?"checked":""}><span>素材消息</span><br>
                        <span>跳转链接或者关键字或素材Id：</span><input value="{present name='vo_2.url'}{$vo_2.url}{else /}{present name='vo_2.key'}{$vo_2.key}{else/}{$vo_2.media_id}{/present}{/present}" type="text" name="chidren1-href{$key+1}" placeholder="关键字内容不限；跳转链接以'http://'或者'https://'开头；素材消息为永久素材Id" style="width: 570px;border: 1px solid black;height: 22px;margin: 5px 0">
                    </div>
                </div>
                {/volist}
                {/notpresent}
                {/present}
            </div>
        </div>
    </form>


</div>
{/block}
