{extend name="Public:index"/}
{block name="main"}
<div class="order_index">
    <p>未发货订单</p>
</div>
<div class="order_check">
    <p>快速查询：</p>
    <span><input type="text" value="" name="BusinessKeywordSearch" placeholder="&nbsp;商品、姓名、账号"><i class="icon-search" onclick="BusinessKeywordSearch('')"></i></span>
</div>

<table class="wei_fa">
    <tbody>
        <tr>
            <th>编号</th>
            <th>订单号</th>
            <th>用户信息</th>
            <th>创建时间</th>
            <th>所买商品</th>
            <th>订单金额</th>
            <th>收货信息</th>
            <th>操作</th>
        </tr>
        {volist name="order" id="vo"}
        <tr>
            <td>{$key+1}</td>
            <td>{$vo.GoodsOrderID}</td>
            <td>
                {$vo.UserName} <br>
            </td>
            <td>{$vo['lastUpdateTime']|date="Y.m.d H:i:s",###}</td>
            <td>
                商品名：{$vo.GoodsName};<br>
                套餐名：{$vo.PackageName};<br>
                数量：{$vo.num};
            </td>
            <td>￥：{$vo['price']}</td>
            <td>
                收货人：{$vo.ReceivePeople};&nbsp;&nbsp;&nbsp;联系电话：{$vo.ReceivePhoneNum}<br>
                地址：{$vo.ReceiveAddress}
            </td>
            <td>
                <button  id="send">发货</button>
            </td>
        </tr>
        {/volist}
    </tbody>
</table>
<div class="wei_list_fenye">
    <a class="icon-double-angle-left" href="javascript:void(0)"></a>
    <a href="javascript:void(0);">1</a>
    <a href="javascript:void(0);">2</a>
    <a href="javascript:void(0);">3</a>
    <a href="javascript:void(0);">4</a>
    <a href="javascript:void(0);">5</a>
    <a href="javascript:void(0);">6</a>
    <a href="javascript:void(0);">7</a>
    <a class=" icon-double-angle-right" href="javascript:void(0)"></a>
</div>
<div class="fahuo">
    <h1 class="fahuo_1">发货</h1>
    <i class="icon-remove-circle" style="position:absolute;top:10px;right:10px;cursor:pointer;" onclick="close_fahuo()"></i>
    <form method="post" id="fahuo">
    <div class="fahuo_second">
        <li>
            <span>公司名称</span>
            <input type="text" name="公司">
        </li>
        <li>
            <span>填写物流单号</span>
            <input type="text" name="wuliu">
        </li>
    </form>
        <li>
            <div class="anniu" onclick="fa()">发货</div>
        </li>
    </div>
</div>
{/block}