{extend name="Public:public"/}
{block name="main"}
<div class="MAXwidth topHead_box">
	<span class="logo_box fl"><img src="__PUBLIC__/admin/images/Logo.jpg" alt=""></span>
	<span class="margin_box fl">&nbsp;</span>
	<span class="Search_box fl"><input type="text" name="" placeholder="&nbsp;寻找你喜欢的商品"><button class="icon-search"></button></span>
	<span class="index_login_box fr"><a href="">登陆</a>/<a href="">注册</a></span>
	<div class="cb"></div>
</div>
<div class="MAXwidth">
	<div class="LeftMenuBox fl">
		<a href="javascript:;" class="LeftMenu" id="LeftMenu_1">全部商品</a>
		<a href="javascript:;" class="LeftMenu" id="LeftMenu_2">鲜果区</a>
		<a href="javascript:;" class="LeftMenu" id="LeftMenu_3">礼盒专区</a>
	</div>
	<div type="hidden" class="RightFruit fr" id="RightFruit_1">
		<div class="RightFruit_order">
			<a href="javascript:;" class="RightFruit_order_1 fl">默认排序</a>
			<a href="javascript:;" class="RightFruit_order_2 fl">
				口碑值<img src="__PUBLIC__/admin/images/arrowdown.png" />
			</a>
			<a href="javascript:;" class="RightFruit_order_2 fl">
				价格<img src="__PUBLIC__/admin/images/arrowdown.png" />
			</a>
			<a href="javascript:;" class="RightFruit_order_2 fl">
				新品<img src="__PUBLIC__/admin/images/arrowdown.png" />
			</a>
			<a href="javascript:;" class="RightFruit_order_2 fl">
				收藏<img src="__PUBLIC__/admin/images/arrowdown.png" />
			</a>
			<div class="cb"></div>
		</div>


		<div class="AllFruit">
			<a href="" class="AllFruit_photo fl">
				<img src="__PUBLIC__/admin/images/p2.jpg"  />
			</a>
			<span class="AllFruit_text fl">
						<p>南丰蜜桔</p>
						<sub>12个装</sub>
						<p class="Fruit_text_Price">￥88<b>￥108</b></p>
					</span>
			<span class="AllFruit_input fr">
						<span class="fl">-</span>
						<input type="text" name="" value="0" class="AllFruit_num fl"/>
						<span class="fl">+</span>
					</span>
			<div class="cb"></div>
		</div>
		<div class="AllFruit">
			<a href="" class="AllFruit_photo fl">
				<img src="__PUBLIC__/admin/images/p2.jpg"  />
			</a>
			<span class="AllFruit_text fl">
						<p>南丰蜜桔</p>
						<sub>12个装</sub>
						<p class="Fruit_text_Price">￥88<b>￥108</b></p>
					</span>
			<span class="AllFruit_input fr">
						<span class="fl">-</span>
						<input type="text" name="" value="0" class="AllFruit_num fl"/>
						<span class="fl">+</span>
					</span>
			<div class="cb"></div>
		</div>
		<div class="AllFruit">
			<a href="" class="AllFruit_photo fl">
				<img src="__PUBLIC__/admin/images/p2.jpg"  />
			</a>
			<span class="AllFruit_text fl">
						<p>南丰蜜桔</p>
						<sub>12个装</sub>
						<p class="Fruit_text_Price">￥88<b>￥108</b></p>
					</span>
			<span class="AllFruit_input fr">
						<span class="fl">-</span>
						<input type="text" name="" value="0" class="AllFruit_num fl"/>
						<span class="fl">+</span>
					</span>
			<div class="cb"></div>
		</div>
		<div class="AllFruit">
			<a href="" class="AllFruit_photo fl">
				<img src="__PUBLIC__/admin/images/p2.jpg"  />
			</a>
			<span class="AllFruit_text fl">
						<p>南丰蜜桔</p>
						<sub>12个装</sub>
						<p class="Fruit_text_Price">￥88<b>￥108</b></p>
					</span>
			<span class="AllFruit_input fr">
						<span class="fl">-</span>
						<input type="text" name="" value="0" class="AllFruit_num fl"/>
						<span class="fl">+</span>
					</span>
			<div class="cb"></div>
		</div>
		<div class="AllFruit">
			<a href="" class="AllFruit_photo fl">
				<img src="__PUBLIC__/admin/images/p2.jpg"  />
			</a>
			<span class="AllFruit_text fl">
						<p>南丰蜜桔</p>
						<sub>12个装</sub>
						<p class="Fruit_text_Price">￥88<b>￥108</b></p>
					</span>
			<span class="AllFruit_input fr">
						<span class="fl">-</span>
						<input type="text" name="" value="0" class="AllFruit_num fl"/>
						<span class="fl">+</span>
					</span>
			<div class="cb"></div>
		</div>
		<div class="AllFruit">
			<a href="" class="AllFruit_photo fl">
				<img src="__PUBLIC__/admin/images/p2.jpg"  />
			</a>
			<span class="AllFruit_text fl">
						<p>南丰蜜桔</p>
						<sub>12个装</sub>
						<p class="Fruit_text_Price">￥88<b>￥108</b></p>
					</span>
			<span class="AllFruit_input fr">
						<span class="fl">-</span>
						<input type="text" name="" value="0" class="AllFruit_num fl"/>
						<span class="fl">+</span>
					</span>
			<div class="cb"></div>
		</div>
		<br /><br /><br /><br />
	</div>
	<div type="hidden" class="RightFruit fr" id="RightFruit_2">
		<div class="RightFruit_order">
			<a href="javascript:;" class="RightFruit_order_1 fl">默认排序</a>
			<a href="javascript:;" class="RightFruit_order_2 fl">
				口碑值<img src="__PUBLIC__/admin/images/arrowdown.png" />
			</a>
			<a href="javascript:;" class="RightFruit_order_2 fl">
				价格<img src="__PUBLIC__/admin/images/arrowdown.png" />
			</a>
			<a href="javascript:;" class="RightFruit_order_2 fl">
				新品<img src="__PUBLIC__/admin/images/arrowdown.png" />
			</a>
			<a href="javascript:;" class="RightFruit_order_2 fl">
				收藏<img src="__PUBLIC__/admin/images/arrowdown.png" />
			</a>
			<div class="cb"></div>
		</div>
		<div class="AllFruit">
			<a href="" class="AllFruit_photo fl">
				<img src="__PUBLIC__/admin/images/p2.jpg"  />
			</a>
			<span class="AllFruit_text fl">
						<p>南丰蜜桔</p>
						<sub>12个装</sub>
						<p class="Fruit_text_Price">￥88<b>￥108</b></p>
					</span>
			<span class="AllFruit_input fr">
						<span class="fl">-</span>
						<input type="text" name="" value="0" class="AllFruit_num fl"/>
						<span class="fl">+</span>
					</span>
			<div class="cb"></div>
		</div>
		RightFruit_2
	</div>
	<div type="hidden" class="RightFruit fr" id="RightFruit_3">
		<div class="RightFruit_order">
			<a href="javascript:;" class="RightFruit_order_1 fl">默认排序</a>
			<a href="javascript:;" class="RightFruit_order_2 fl">
				口碑值<img src="__PUBLIC__/admin/images/arrowdown.png" />
			</a>
			<a href="javascript:;" class="RightFruit_order_2 fl">
				价格<img src="__PUBLIC__/admin/images/arrowdown.png" />
			</a>
			<a href="javascript:;" class="RightFruit_order_2 fl">
				新品<img src="__PUBLIC__/admin/images/arrowdown.png" />
			</a>
			<a href="javascript:;" class="RightFruit_order_2 fl">
				收藏<img src="__PUBLIC__/admin/images/arrowdown.png" />
			</a>
			<div class="cb"></div>
		</div>
		<div class="AllFruit">
			<a href="" class="AllFruit_photo fl">
				<img src="__PUBLIC__/admin/images/p2.jpg"  />
			</a>
			<span class="AllFruit_text fl">
						<p>南丰蜜桔</p>
						<sub>12个装</sub>
						<p class="Fruit_text_Price">￥88<b>￥108</b></p>
					</span>
			<span class="AllFruit_input fr">
						<span class="fl">-</span>
						<input type="text" name="" value="0" class="AllFruit_num fl"/>
						<span class="fl">+</span>
					</span>
			<div class="cb"></div>
		</div>
		<div class="AllFruit">
			<a href="" class="AllFruit_photo fl">
				<img src="__PUBLIC__/admin/images/p2.jpg"  />
			</a>
			<span class="AllFruit_text fl">
						<p>南丰蜜桔</p>
						<sub>12个装</sub>
						<p class="Fruit_text_Price">￥88<b>￥108</b></p>
					</span>
			<span class="AllFruit_input fr">
						<span class="fl">-</span>
						<input type="text" name="" value="0" class="AllFruit_num fl"/>
						<span class="fl">+</span>
					</span>
			<div class="cb"></div>
		</div>
		RightFruit_3
	</div>
	<div class="cb"></div>
</div>
{/block}

