{extend name="Public:index"/}
{block name="main"}
    <h1 class="head">拼团商品管理页面</h1>
    <div class="second">
        <button>
            <input type="text" name="search" value="">
            <i class="icon-search"></i>
        </button>
    </div>
    <table class="pin_list">
        <tbody>
            <tr>
                <th>序号</th>
                <th>商品</th>
                <th>商家</th>
                <th>分类</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tbody>
    </table>
{/block}