{extend name="Public:index"/}
{block name="main"}
<div class="news-BigBox">
    <h1 class="top-head">微信图文消息管理</h1>
    <table class="news-table">
    <tbody>
        <tr>
            <th>编号</th>
            <th>标题</th>
            <th>作者</th>
            <th>图文id</th>
            <th>图文摘要</th>
            <th>图文地址</th>
            <th>最后更新时间</th>
            <th>操作</th>
        </tr>
        {volist name="news.item" id="vo"}
        <tr>
            <td>{$key+1}</td>
            <td>{$vo.content.news_item.0.title}</td>
            <td>{$vo.content.news_item.0.author}</td>
            <td>
                <button class="chakan-newsid">
                    查看
                </button>
                <span class="news-newsId">
                    <i class=" icon-remove-circle" onclick="closeNewsId()" style="float: right;padding:2px 10px;cursor: hand;font-size: 20px;color: green;"></i><br>
                {$vo.media_id}
                </span>
            </td>
            <td>{$vo.content.news_item.0.digest}</td>
            <td><a href="{$vo.content.news_item.0.url}" target="view_window">点击查看</a></td>
            <td>{$vo.update_time}</td>
            <td>
                <button onclick="DelNews('{$vo.media_id}')">
                    <img src="__PUBLIC__/manage/images/recycle_bin_full.png" alt="">删除
                </button>
            </td>
        </tr>
        {/volist}

    </tbody>
    </table>
</div>


{/block}
