.Business{width: 100%;height: 100%;overflow: auto;}
.Business h1{width: 96%;margin-left: 2%;text-align: center;font-size: 22px;}
.Business>.BusinessList-Content-Box p{width: 96%;padding:10px 0;text-align: left;height: 30px;line-height: 30px;margin-left: 2%;}
.Business>.BusinessList-Content-Box p button{float:left;background:none;display: inline-block;height: 100%;margin:3px 0;line-height: 25px;border: 2px solid green;border-radius: 5px;padding-left: 3px;}
.Business>.BusinessList-Content-Box p button img{display: inline-block;height: 100%;float: left;}
.Business>.BusinessList-Content-Box p span{display: inline-block;height: 89%;line-height: 30px;border:2px solid green; border-radius: 5px;float: left;margin: 2px 20px 0 20px;}
.Business>.BusinessList-Content-Box p span input{display: inline-block;height: 95%;background: none;border: none;}
.Business>.BusinessList-Content-Box p span i{display: inline-block;width: 20px;height: 95%;font-size: 18px;color: #959595;}

.Business>.BusinessList-Content-Box>.BusinessList-table{width: 96%;height: auto;border: 1px solid #bfbfbf;margin: 5px 0;border-collapse:collapse;margin-left: 2%;}
.Business>.BusinessList-Content-Box>.BusinessList-table tbody{width: 100%;}
.Business>.BusinessList-Content-Box>.BusinessList-table tbody tr th{border: 1px solid #bfbfbf;height: 30px;line-height: 30px;}
.Business>.BusinessList-Content-Box>.BusinessList-table tbody tr td{border: 1px solid #bfbfbf;padding-left: 3px;height: 30px;line-height: 30px;}
.Business>.BusinessList-Content-Box>.BusinessList-table tbody tr td:nth-child(1){width: 5%;text-align: center;}
.Business>.BusinessList-Content-Box>.BusinessList-table tbody tr td:nth-child(2){width:9%;text-align: center;}
.Business>.BusinessList-Content-Box>.BusinessList-table tbody tr td:nth-child(3){width: auto;padding-left: 5px;}
.Business>.BusinessList-Content-Box>.BusinessList-table tbody tr td:nth-child(4){width: 9%;text-align: center;padding:3px 3px;}
.Business>.BusinessList-Content-Box>.BusinessList-table tbody tr td:nth-child(5){width: 9%;text-align: center;padding:3px 3px;}
.Business>.BusinessList-Content-Box>.BusinessList-table tbody tr td:nth-child(6){width: 12%;text-align: center;}
.Business>.BusinessList-Content-Box>.BusinessList-table tbody tr td:nth-child(7){width: 10%;text-align: center;}
.Business>.BusinessList-Content-Box>.BusinessList-table tbody tr td:nth-child(8){width: 6%;text-align: center;}
.Business>.BusinessList-Content-Box>.BusinessList-table tbody tr td:nth-child(9){width: 6%;text-align: center;}
.Business>.BusinessList-Content-Box>.BusinessList-table tbody tr td:nth-child(10){width: 6%;text-align: center;}
.Business>.BusinessList-Content-Box>.BusinessList-table tbody tr td button{display:inline-block;height: 24px;line-height: 22px;background: none;border: 1px solid green;border-radius: 5px;}
.Business>.BusinessList-Content-Box>.BusinessList-table tbody tr td button img{display: inline-block;height: 95%;float: left;margin: 0 3px;}



.BigImagesButton{display: inline-block;width: 100%;}

.SeeBigImages{width: 100%;height: 100%;position: absolute;top:0;right: 0;left: 0;bottom: 0;background: rgba(255,255,255,0.8);z-index: 999;display: none;}
.SeeBigImages img{display: inline-block;position: absolute;left:auto;}

.Business-AddMenu-Box{position: fixed;top:0;left: 0;right: 0;bottom: 0;background: rgba(255,255,255,0.7);z-index: 999;position: absolute;display: none;}
.Business-AddMenu-Box>.Pcmenu-AddMenu-Window{position: relative;top:6%;left: 30%;right: 30%;border:2px solid green;width: 40%;height: 650px;background: #ffffff;border-radius: 10px;}
.Business-AddMenu-Box>.Pcmenu-AddMenu-Window p{padding:3px;height: 33px;text-align: center;}
.Business-AddMenu-Box>.Pcmenu-AddMenu-Window p button{display: inline-block;border-radius: 5px;float: right;margin: 3px;padding: 3px;border: 2px solid #f19149;background: none;font-size: 18px;}
.Business-AddMenu-Box>.Pcmenu-AddMenu-Window p button b{font-size: 14px;}
.Business-AddMenu-Box>.Pcmenu-AddMenu-Window p b{font-size: 25px;font-family: ���Ŀ���;}
.Business-AddMenu-Box>.Pcmenu-AddMenu-Window h1{text-align: center;font-size: 20px;font-weight: bold;}
.Business-AddMenu-Box>.Pcmenu-AddMenu-Window>.Pcmenu-AddMenu{width: 98%;float: left;margin: 2%;}
.Business-AddMenu-Box>.Pcmenu-AddMenu-Window>.Pcmenu-AddMenu span{display: inline-block;margin:5px 0;width: 95%;height: 30px;line-height: 30px;border-bottom: 1px solid #bfbfbf;}
.Business-AddMenu-Box>.Pcmenu-AddMenu-Window>.Pcmenu-AddMenu span label{width: 25%;height: 100%;display: inline-block;float: left; text-align:justify; text-justify:distribute-all-lines; }
.Business-AddMenu-Box>.Pcmenu-AddMenu-Window>.Pcmenu-AddMenu span input{background: none;border: none;width: 60%;height: 100%;display: inline-block;float: left;}
.Business-AddMenu-Box>.Pcmenu-AddMenu span select{width: 36%;display: inline-block;height: 100%;border: none;background: none;float: left;text-align: center;}
.Business-AddMenu-Box>.Pcmenu-AddMenu-Window>.Pcmenu-AddMenu span>.Menu-ISUSE{display: inline-block;width: 10%;}
.Business-AddMenu-Box>.Pcmenu-AddMenu-Window>.Pcmenu-AddMenu span b{display: inline-block;height: 100%;font-weight: normal;float: left;}
.AddMenu-Submit{width: 98%;float: left;margin: 2%;text-align: center;height: 40px;}
.AddMenu-Submit button{display: inline-block;width: 40%;height: 95%;border: 1px solid green;font-size: 20px;border-radius: 10px;}
.Menu-chose-2{display: none;}
#img1{margin:0 auto;width:71px;height:99px;border:1px solid black;}
.Business-AddMenu-Box>.Pcmenu-AddMenu-Window>.Pcmenu-AddMenu span>.Menu-chose-2{display: none;}


.Business-power-Box{width: 100%;height: 100%;position: absolute;top:0;right: 0;left: 0;bottom: 0;background: rgba(255,255,255,0.8);z-index: 999;display: none;}
.Business-power-Box>.Buinsess-power-content{position: absolute;top:5%;left: 30%;right: 30%;border:1px solid #434343;border-radius: 10px;width: 40%;}
.Business-power-Box>.Buinsess-power-content>.Admin-power-close{margin: 5px 1%;height: 30px;}
.Business-power-Box>.Buinsess-power-content>.Admin-power-close button{background: none;float: right;display: inline-block;height: 100%;border: 1px solid green;border-radius: 5px;padding-right: 5px;line-height: 25px;}
.Business-power-Box>.Buinsess-power-content>.Admin-power-close button i{margin: 0 5px;font-size: 20px;line-height: 30px;height: 100%;}
.Business-power-Box>.Buinsess-power-content h1{text-align: center;font-size: 22px;width: 95%;}
.Business-power-Box>.Buinsess-power-content>.Admin-power-MenuList{width: 95%;margin-left: 2.5%;}
.Business-power-Box>.Buinsess-power-content>.Admin-power-MenuList p{font-size: 20px;font-weight: 800;height: 25px;line-height: 25px;}
.Business-power-Box>.Buinsess-power-content>.Admin-power-MenuList p input{width: 20px;height: 20px;vertical-align: middle;}
.Business-power-Box>.Buinsess-power-content>.Admin-power-MenuList>.Admin-power-MenuList-two{width: 100%;height: auto;border-bottom: 1px solid #bfbfbf;}
.Business-power-Box>.Buinsess-power-content>.Admin-power-MenuList>.Admin-power-MenuList-two>.power-MenuList-two-content{width:100%;color:#434343;font-size: 18px;font-weight: 500;height: 22px;line-height: 22px;}
.Business-power-Box>.Buinsess-power-content>.Admin-power-MenuList>.Admin-power-MenuList-two>.power-MenuList-two-content input{width: 18px;height: 18px;vertical-align: middle;}
.Business-power-Box>.Buinsess-power-content>.Admin-power-MenuList>.Admin-power-MenuList-two>.power-MenuList-two-content b{display: inline-block;width: 25px;float: left;}
.Business-power-Box>.Buinsess-power-content>.Admin-power-MenuList>.Admin-power-MenuList-two>.power-MenuList-three-content{float: left;width: 100%;display: inline-block;padding-left: 50px;}
.Business-power-Box>.Buinsess-power-content>.Admin-power-MenuList>.Admin-power-MenuList-two>.power-MenuList-three-content span{display: inline-block;color:#434343;font-size: 15px;font-weight: 400;height: 15px;line-height: 18px;}
.Business-power-Box>.Buinsess-power-content>.Admin-power-save{width: 100%;margin-top: 5px;height: 30px;text-align: center;margin-bottom: 5px;line-height: 30px;}
.Business-power-Box>.Buinsess-power-content>.Admin-power-save button{color:#ffffff;background: green;border: 1px solid green;border-radius: 10px;display: inline-block;height: 100%;line-height: 30px;padding: 0 10px;font-size: 18px;}


/*密码重置*/
.Business-pwd-Res-Box{width: 100%;height: 100%;position: absolute;top:0;right: 0;left: 0;bottom: 0;background: rgba(255,255,255,0.8);z-index: 999;display: none;}
.Business-pwd-Res-Box>.Business-pwd-Res-content{position: absolute;top:20%;left: 35%;right: 35%;border:1px solid #bfbfbf;}
.Business-pwd-Res-Box>.Business-pwd-Res-content p{text-align: center;font-size: 16px;width: 100%;}
.Business-pwd-Res-Box>.Business-pwd-Res-content>.pwd-Res{margin: 5px 1%;height: 30px;}
.Business-pwd-Res-Box>.Business-pwd-Res-content h1{text-align: center;font-size: 20px;width: 100%;}
.Business-pwd-Res-Box>.Business-pwd-Res-content>.Pwd-res-button{width: 100%;text-align: center;margin: 20px 0;height: 30px;}
.Business-pwd-Res-Box>.Business-pwd-Res-content>.Pwd-res-button button{display: inline-block;width: 20%;height: 100%;background: green;border: none;border-radius: 15px;color: #ffffff;font-size: 20px;line-height: 30px;}


/*商品编辑*/
.EditGoods-AddMenu-Box{position: fixed;top:0;left: 0;right: 0;bottom: 0;background: rgba(255,255,255,0.7);z-index: 999;position: absolute;display: none;}
.EditGoods-AddMenu-Box>.Pcmenu-EditMenu-Window{position: relative;top:10%;left: 30%;right: 30%;border:2px solid green;width: 40%;height: 70%;background: #ffffff;border-radius: 10px;}
.EditGoods-AddMenu-Box>.Pcmenu-EditMenu-Window p{padding:3px;height: 33px;text-align: center;}
.EditGoods-AddMenu-Box>.Pcmenu-EditMenu-Window p button{display: inline-block;border-radius: 5px;float: right;margin: 3px;padding: 3px;border: 2px solid #f19149;background: none;font-size: 18px;}
.EditGoods-AddMenu-Box>.Pcmenu-EditMenu-Window p button b{font-size: 14px;}
.EditGoods-AddMenu-Box>.Pcmenu-EditMenu-Window p b{font-size: 25px;font-family: ���Ŀ���;}
.EditGoods-AddMenu-Box>.Pcmenu-EditMenu-Window h1{text-align: center;font-size: 20px;font-weight: bold;}
.EditGoods-AddMenu-Box>.Pcmenu-EditMenu-Window>.Pcmenu-AddMenu{width: 98%;float: left;margin: 2%;}
.EditGoods-AddMenu-Box>.Pcmenu-EditMenu-Window>.Pcmenu-AddMenu span{display: inline-block;margin:5px 0;width: 95%;height: 30px;line-height: 30px;border-bottom: 1px solid #bfbfbf;}
.EditGoods-AddMenu-Box>.Pcmenu-EditMenu-Window>.Pcmenu-AddMenu span label{width: 25%;height: 100%;display: inline-block;float: left; text-align:justify; text-justify:distribute-all-lines; }
.EditGoods-AddMenu-Box>.Pcmenu-EditMenu-Window>.Pcmenu-AddMenu span input{background: none;border: none;width: 60%;height: 100%;display: inline-block;float: left;}
.EditGoods-AddMenu-Box>.Pcmenu-AddMenu span select{width: 36%;display: inline-block;height: 100%;border: none;background: none;float: left;text-align: center;}
.EditGoods-AddMenu-Box>.Pcmenu-EditMenu-Window>.Pcmenu-AddMenu span>.Menu-ISUSE{display: inline-block;width: 10%;}
.EditGoods-AddMenu-Box>.Pcmenu-EditMenu-Window>.Pcmenu-AddMenu span b{display: inline-block;height: 100%;font-weight: normal;float: left;}
.AddMenu-Submit{width: 98%;float: left;margin: 2%;text-align: center;height: 40px;}
.AddMenu-Submit button{display: inline-block;width: 40%;height: 95%;border: 1px solid green;font-size: 20px;border-radius: 10px;}
.Menu-chose-2{display: none;}
#img1{margin:0 auto;width:71px;height:99px;border:1px solid black;}
.EditGoods-AddMenu-Box>.Pcmenu-EditMenu-Window>.Pcmenu-AddMenu span>.Menu-chose-2{display: none;}



/*删除确认*/
.Business-delete-Box{width: 100%;height: 100%;position: absolute;top:0;right: 0;left: 0;bottom: 0;background: rgba(255,255,255,0.8);z-index: 999;display: none;}
.Business-delete-Box>.Business-delete-content{position: absolute;top:20%;left: 35%;right: 35%;border:1px solid #bfbfbf;}
.Business-delete-Box>.Business-delete-content p{text-align: center;font-size: 16px;width: 100%;}
.Business-delete-Box>.Business-delete-content>.pwd-Res{margin: 5px 1%;height: 30px;}
.Business-delete-Box>.Business-delete-content h1{text-align: center;font-size: 20px;width: 100%;}
.Business-delete-Box>.Business-delete-content>.Buinsess-delete-button{width: 100%;text-align: center;margin: 20px 0;height: 30px;}
.Business-delete-Box>.Business-delete-content>.Buinsess-delete-button button{display: inline-block;width: 20%;height: 100%;background: green;border: none;border-radius: 15px;color: #ffffff;font-size: 20px;line-height: 30px;}

/*商家总权限*/


