/*添加热门分类*/
.GoodsClass-box{width:100%;height: 100%;overflow: auto;float: right;}
.GoodsClass-box h1{width: 98%;margin-left: 1%;text-align: center;font-size: 22px;}
.GoodsClass-box>.GoodsClass-Box p{width: 98%;padding:10px 0;text-align: left;height: 30px;line-height: 30px;margin-left: 1%; }
.GoodsClass-box>.GoodsClass-Box p button{float: left;background: none;display: inline-block;height: 100%;margin: 3px;line-height: 30px;border: 2px solid green;border-radius: 5px;padding-left: 3px;}
.GoodsClass-box>.GoodsClass-Box p button img{display: inline-block;height: 100%;float: left;}
.GoodsClass-box>.GoodsClass-Box p span{display: inline-block;height: 90%;line-height: 30px;border: 2px solid green;border-radius: 5px;text-align: center;margin-left: 20px;    margin-top: 3px;}
.GoodsClass-box>.GoodsClass-Box p span input{display: inline-block;height: 95%;background: none;border: none;}
.GoodsClass-box>.GoodsClass-Box p span i{display: inline-block;width: 20px;height: 95%;font-size: 18px;color: #959595;}


/*热门分类表格*/
.GoodsClass-box>.GoodsClass-Box>.Mobmenu-index-table{width: 98%;height: auto;border: 1px solid #bfbfbf;margin: 5px 0;border-collapse:collapse;margin-left: 1%;}
.GoodsClass-box>.GoodsClass-Box>.Mobmenu-index-table tbody{width: 100%;}
.GoodsClass-box>.GoodsClass-Box>.Mobmenu-index-table tbody tr th{border: 1px solid #bfbfbf;height: 30px;line-height:30px;}
.GoodsClass-box>.GoodsClass-Box>.Mobmenu-index-table tbody tr td{border: 1px solid #bfbfbf;padding-left: 3px;height: 30px;line-height: 30px;}
.GoodsClass-box>.GoodsClass-Box>.Mobmenu-index-table tbody tr td:nth-child(1){width: 6%;text-align: center}
.GoodsClass-box>.GoodsClass-Box>.Mobmenu-index-table tbody tr td:nth-child(2){width:auto;text-align: center}
.GoodsClass-box>.GoodsClass-Box>.Mobmenu-index-table tbody tr td>.title_photo{width:30%;}
.GoodsClass-box>.GoodsClass-Box>.Mobmenu-index-table tbody tr td h4{float: left;line-height: 20px;}
.GoodsClass-box>.GoodsClass-Box>.Mobmenu-index-table tbody tr td p{line-height: 20px;}
.GoodsClass-box>.GoodsClass-Box>.Mobmenu-index-table tbody tr td:nth-child(3){width:13%;text-align:center;padding: 1px 1px}
.GoodsClass-box>.GoodsClass-Box>.Mobmenu-index-table tbody tr td:nth-child(4){width:13%;text-align: center}
.GoodsClass-box>.GoodsClass-Box>.Mobmenu-index-table tbody tr td:nth-child(5){width:15%;text-align: center}
.GoodsClass-box>.GoodsClass-Box>.Mobmenu-index-table tbody tr td:nth-child(6){width:9% ;text-align: center}
.GoodsClass-box>.GoodsClass-Box>.Mobmenu-index-table tbody tr td:nth-child(7){width:17% ;text-align: center}
.GoodsClass-box>.GoodsClass-Box>.Mobmenu-index-table tbody tr td:nth-child(8){width:10% ;text-align: center}
.GoodsClass-box>.GoodsClass-Box>.Mobmenu-index-table tbody tr td>.GoodsImg{display: inline-block;width: 100%;}
.PcMenu-Enable{display: inline-block;width: 100%;text-align: center;padding: 3px 0;}
.PcMenu-Enable>.PcMenu-open{display: inline-block;width:auto;height: 95%;background: none;border: 2px solid green;padding:0 3px;border-radius: 5px;display: none;}
.PcMenu-Enable>.PcMenu-open img{float: left;display: inline-block;}
.PcMenu-Enable>.PcMenu-off{display: inline-block;width:auto;height: 95%;background: none;border: 2px solid black;padding:0 3px;border-radius: 5px;display: none;}
.PcMenu-Enable>.PcMenu-off img{float: right;display: inline-block;}
.chakan{display: inline-block;width:90%;height: 50%;background: none;border: 2px solid green;padding:0 3px;border-radius: 5px;}
.chakan img{float: left;display: inline-block;width:auto;height:25px;margin-left:18%;}
.GoodsClass-box>.GoodsClass-Box>.Mobmenu-index-table tbody tr td button{display: inline-block;height: 24px;line-height: 22px;background: none;border: 1px solid green;border-radius: 5px;padding:1px 3px;}
.GoodsClass-box>.GoodsClass-Box>.Mobmenu-index-table tbody tr td img{display: inline-block;height: 95%;}
#bianji{float:left; }
#shanchu{float:left;}


/*热门商品分类添加*/
.Add_fenlei_re{width:100%;height:100%;position:absolute;top:0;right:0;display:none;background:rgba(255,255,255,1);}
#close_window{position:absolute;top:0;right:0;width:60px;height:40px;font-size:18px;background:rgba(255,255,255,1);border:none;}
.Add_fenlei_re>.middle{width:80%;height:80%;position:absolute;top:80px;left:10%;}
.Add_fenlei_re>.middle li{display:block;width:100%;height:40px;margin-top:40px;}
.Add_fenlei_re>.middle li div{float:left;height:42px;font-size:15px;background:#80FFFF;color:white;width:20%;line-height:40px;text-align:center;margin-left:15%;}
.Add_fenlei_re>.middle li input{float:left;width:50%;height:40px;border:1px solid #80FFFF;}
.Add_fenlei_re>.middle li select{float:left;width:50%;height:41px;border:1px solid #80FFFF;appearance:none;-moz-appearance:none;-webkit-appearance:none;}
.Add_fenlei_re h1{display:block;width:30%;height:50px;font-size:20px;margin-left:35%;margin-top:40px;text-align:center;}
.Add_fenlei_re>.middle>.img_1 img{height:140px;width:49%;margin-left:35%;margin-top:10px;border:5px solid #f0f0f0;}
.Add_fenlei_re>.middle>.moban_1{width:100%;height:105px;}
.Add_fenlei_re>.middle>.moban_1 label{display:block;width:14.5%;height:100px;float:left;margin-left:4%;}
.Add_fenlei_re>.middle>.moban_1>label>img{width:100%;height:80px;}
.Add_fenlei_re>.middle>li>.kaiguan{width:5%;}
.Add_fenlei_re>.middle>li>.Add_fenlei_re_submit{width:70%;height:42px;margin-left:15%;background:#80FFFF;color:white;border:none;}