{extend name="Public:index"/}
{block name="main"}
    <div class="Business">
        <h1>合作商家管理</h1>
        <div class="BusinessList-Content-Box">
            <p>
                <button class="" onclick="Addbuinsess()"><img src="__PUBLIC__/manage/images/icon-add.png" alt="">添加商家</button>
                <span><input type="text" value="" name="BusinessKeywordSearch" placeholder="&nbsp;负责人、公司、地址"><i class="icon-search" onclick="BusinessKeywordSearch('')"></i></span>
                {in name="AdminId" value="1"}
                <button onclick="businessAllPower()">商家权限</button>
                {/in}
            </p>
            <table class="BusinessList-table">
                <tbody>
                <tr>
                    <th>编号</th>
                    <th>负责人 </th>
                    <th>公司信息</th>
                    <th>负责人头像</th>
                    <th>营业执照</th>
                    <th>联系电话</th>
                    <th>有效期</th>
                    <th>权限设置</th>
                    <th>密码重置</th>
                    <th>操作</th>
                </tr>
                {volist name="BusinessList" id="vo"}
                <tr>
                    <td>{$key+1}</td>
                    <td>
                        {$vo.LiablePeople}<br>
                        账号：{$vo.Account}
                    </td>
                    <td>
                        名称：{$vo.CompanyName}<br>
                        地址：{$vo.address}<br>
                        注册时间：{$vo["createTime"]|date="Y-m-d H:i",###}<br>
                        详细资料：<a href="#">查看</a>
                    </td>
                    <td>
                        <img src="__ROTH__/uploads/{$vo.PeopleImg.0}/E{$vo.PeopleImg.1}" alt="" class="BigImagesButton">
                        <input type="hidden" value="__ROTH__/uploads/{$vo.PeopleImg.0}/{$vo.PeopleImg.1}">
                    </td>
                    <td>
                        <img src="__ROTH__/uploads/20171129/E2e3c41062c7f28c81bf07ffe95ab8e71.jpg" alt="" class="BigImagesButton">
                        <input type="hidden" value="__ROTH__/uploads/20171129/2e3c41062c7f28c81bf07ffe95ab8e71.jpg">
                    </td>
                    <td>
                        {$vo.PhoneNum.0}<br>
                        {$vo.PhoneNum.1}
                    </td>
                    <td>
                        {$vo["EndTime"]|date="Y/m/d",###}<br>
                        剩余：{$vo["endDays"]}天
                    </td>
                    <td>
                        <button onclick="AddBuinsesspower('{$vo.id}')">
                            <img src="__PUBLIC__/manage/images/icon-authority.png" alt="">权限
                        </button>
                    </td>
                    <td>
                        <button onclick="BuPwd('{$vo.id}')">
                            <img src="__PUBLIC__/manage/images/shortcuts.png" alt="">重置
                        </button>
                    </td>
                    <td>
                        <button onclick="EditBusiness('{$vo.id}')">
                            <img src="__PUBLIC__/manage/images/iocn-edit.png" alt="">编辑
                        </button>
                        <button onclick="DelBuiness1('{$vo.id}')">
                            <img src="__PUBLIC__/manage/images/recycle_bin_full.png" alt="">删除
                        </button>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
            <div class="fenye" style="float:right;margin-right:2%;width:10.5%;">
                <a class="icon-double-angle-left" href="#"></a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a class=" icon-double-angle-right"></a>
            </div>
        </div>
        <div class="SeeBigImages" onclick="closeImage()">
            <img src="" alt="">
        </div>
    </div>


<script>
    layui.use(['form', 'laydate'], function(){
        var form = layui.form
            ,laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '.date'
        });
        laydate.render({
            elem: '#test1-1'
            ,lang: 'en'
        });

    });
</script>
<div class="Business-AddMenu-Box">
    <div class="Pcmenu-AddMenu-Window">
        <p>
            <button class="icon-remove-circle" onclick="closeAddbuinsess()"><b>关闭</b></button>
            <span class="cb"></span>
        </p>
        <h1>添加</h1>
        <div class="Pcmenu-AddMenu layui-form">
                <span>
                    <label>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</label><input type="text" name="name" value="" placeholder="">
                </span>
                <span>
                    <label>账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：</label><input type="text" name="zhanghao" value="" placeholder="由3-15位字母组成，前二位为大写字母">
                </span>
                <span>
                    <label>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</label><input type="text" name="pwd" value="" placeholder="由3-15位字母组成，前2位为大写字母">
                </span>
                <span>
                    <label>名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</label><input type="text" name="gsname" value="" placeholder="公司名称">
                </span>
                <span>
                    <label>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</label><input type="text" name="address" value="" placeholder="请填写现在具体住址">
                </span>
                <span>
                    <label>手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：</label><input type="text" name="phonenumber" value="" placeholder="请填写商家的手机号码">
                </span>
                <span>
                    <label>座&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：</label><input type="text" name="zuonumber" value="" placeholder="请填写商家的座机号码">
                </span>
                <span>
                    <label>头&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;相：</label><input type="file" name="head" onchange="previewFile('')" id="img2">
                </span>
            <span style="height:100px">
                <div  id="img1">
                    <img src="" height="99" width="71" alt="请上传头像"/>
                </div>
            </span>
            <span>
                    <label>有&nbsp;&nbsp;&nbsp;&nbsp;效&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期：</label><input type="text" name="date" class="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                </span>
            <br>
            <div class="AddMenu-Submit">
                <button onclick="AddBusinessSubmit()">提&nbsp;&nbsp;&nbsp;交</button>
            </div>
        </div>
    </div>
</div>


<!----------------------------------------商家权限------------------------------------------>

<div class="Business-power-Box"></div>


<!------------------------------密码重置------------------------------------>
<div class="Business-pwd-Res-Box">
    <div class="Business-pwd-Res-content">
        <h1>确认重置密码</h1>
        <input type="hidden" value="" name="SureBusinessResPwdNum">
        <br>
        <p>
            注意：重置后的密码为PWd+登录账号！
        </p>
        <br>
        <div class="Pwd-res-button">
            <button onclick="SureBusinessResPwd()">确认</button>&nbsp;&nbsp;&nbsp;
            <button onclick="CloseBusinessBuPwd()">取消</button>
        </div>
    </div>
</div>



<!-------------------------------商家编辑--------------------------------------->

<div class="Business-EditMenu-Box">

</div>


<!--------------------------------商家删除-------------------------------->
<div class="Business-delete-Box">
    <div class="Business-delete-content">
        <h1>确认删除商家</h1>
        <input type="hidden" value="" name="SureResPwdNum">
        <br>
        <p>
            警告：是否确认删除商家；
        </p>
        <br>
        <div class="Buinsess-delete-button">
            <button onclick="SureResPwd()">确认</button>&nbsp;&nbsp;&nbsp;
            <button onclick="CloseDele1()">取消</button>
        </div>
    </div>
</div>

{/block}