{extend name="Public:index"/}
{block name="main"}
    <div class="Business">
        <h1>合作商家管理</h1>
        <div class="BusinessList-Content-Box">
            <p>
                <button class="" onclick="Addbuinsess()"><img src="__PUBLIC__/manage/images/icon-add.png" alt="">添加商家</button>
                <span><input type="text" value="" name="KeywordSearch" placeholder="&nbsp;&nbsp;&nbsp;搜索"><i class="icon-search" onclick="KeywordSearch('')"></i></span>
            </p>
            <table class="BusinessList-table">
                <tbody>
                <tr>
                    <th>编号</th>
                    <th>负责人</th>
                    <th>公司信息</th>
                    <th>负责人头像</th>
                    <th>营业执照</th>
                    <th>联系电话</th>
                    <th>有效期</th>
                    <th>权限设置</th>
                    <th>密码重置</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        李久久<br>
                        账号：lijiujiu
                    </td>
                    <td>
                        名称：四川吃喝玩乐有限责任公司<br>
                        地址：四川省绵阳市涪城区富乐路富乐大厦805<br>
                        注册时间：2017.11.12<br>
                        详细资料：<a href="#">查看</a>
                    </td>
                    <td>
                        <img src="__ROTH__/uploads/20171125/E4a274af96e8d3281492b4b3c3aef6cd2.png" alt="" class="BigImagesButton">
                        <input type="hidden" value="__ROTH__/uploads/20171125/4a274af96e8d3281492b4b3c3aef6cd2.png">
                    </td>
                    <td>
                        <img src="__ROTH__/uploads/20171129/E2e3c41062c7f28c81bf07ffe95ab8e71.jpg" alt="" class="BigImagesButton">
                        <input type="hidden" value="__ROTH__/uploads/20171129/2e3c41062c7f28c81bf07ffe95ab8e71.jpg">
                    </td>
                    <td>
                        18780516325<br>
                        0813-123456
                    </td>
                    <td>
                        2018/12/12<br>
                        剩余：102天
                    </td>
                    <td>
                        <button onclick="AdminPower('{$vo.id}')">
                            <img src="__PUBLIC__/manage/images/icon-authority.png" alt="">权限
                        </button>
                    </td>
                    <td>
                        <button onclick="PwdRes('{$vo.id}')">
                            <img src="__PUBLIC__/manage/images/shortcuts.png" alt="">重置
                        </button>
                    </td>
                    <td>
                        <button onclick="EditAdmin('{$vo.id}')">
                            <img src="__PUBLIC__/manage/images/iocn-edit.png" alt="">编辑
                        </button>
                        <button onclick="DelAdmin('{$vo.id}')">
                            <img src="__PUBLIC__/manage/images/recycle_bin_full.png" alt="">删除
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="SeeBigImages" onclick="closeImage()">
            <img src="" alt="">
        </div>
    </div>


<script>
    layui.use(['form', 'laydate'], function(){
        var form = layui.form
            ,laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#test1-1'
            ,lang: 'en'
        });

    });
</script>
<div class="Pcmenu-AddMenu-Box">
    <div class="Pcmenu-AddMenu-Window">
        <p>
            <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;添加菜单</b>
            <button class="icon-remove-circle" onclick="closeAddbuinsess()"><b>关闭</b></button>
            <span class="cb"></span>
        </p>
        <div class="Pcmenu-AddMenu layui-form">
                <span>
                    <label>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</label><input type="text" name="MenuName" value="" placeholder="">
                </span>
            <span>
                    <label>账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：</label><input type="text" name="fileName" value="" placeholder="由3-15位字母组成，不含数字、汉字、字符">
                </span>
            <span>
                    <label>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</label><input type="text" name="fileName" value="" placeholder="由3-15位字母组成，不含数字、汉字、字符">
                </span>
            <span>
                    <label>名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</label><input type="text" name="fileName" value="" placeholder="公司名称">
                </span>
            <span>
                    <label>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</label><input type="text" name="fileName" value="" placeholder="请填写现在具体住址">
                </span>
            <span>
                    <label>头&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;相：</label><input type="file" name="fileName" value=""  onchange="preview(this)">
                </span>
            <span>
                    <label>有&nbsp;&nbsp;&nbsp;&nbsp;效&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期：</label><input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                </span>
            <br>
            <div class="AddMenu-Submit">
                <button onclick="AddMenuSubmit()">提&nbsp;&nbsp;&nbsp;交</button>
            </div>
        </div>
    </div>
</div>

{/block}