{extend name="Public:index"/}
{block name="main"}
    <div class="Business">
        <h1>合作商家管理</h1>
        <div class="BusinessList-Content-Box">
            <p>
                <button class="" onclick="Addbuinsess()"><img src="__PUBLIC__/manage/images/icon-add.png" alt="">添加商家</button>
                <span><input type="text" value="" name="KeywordSearch" placeholder="&nbsp;&nbsp;&nbsp;搜索"><i class="icon-search" onclick="KeywordSearch('')"></i></span>
            </p>
            <table class="BusinessList-table">
                <tbody>
                <tr>
                    <th>编号</th>
                    <th>负责人 </th>
                    <th>公司信息</th>
                    <th>负责人头像</th>
                    <th>营业执照</th>
                    <th>联系电话</th>
                    <th>有效期</th>
                    <th>权限设置</th>
                    <th>密码重置</th>
                    <th>操作</th>
                </tr>
                {volist name="BusinessList" id="vo"}
                <tr>
                    <td>{$key+1}</td>
                    <td>
                        {$vo.LiablePeople}<br>
                        账号：{$vo.Account}
                    </td>
                    <td>
                        名称：{$vo.CompanyName}<br>
                        地址：{$vo.address}<br>
                        注册时间：{$vo["createTime"]|date="Y/m/d H:i",###}<br>
                        详细资料：<a href="#">查看</a>
                    </td>
                    <td>
                        <img src="__ROTH__/uploads/{$vo.PeopleImg.0}/E{$vo.PeopleImg.1}" alt="" class="BigImagesButton">
                        <input type="hidden" value="__ROTH__/uploads/{$vo.PeopleImg.0}/{$vo.PeopleImg.1}">
                    </td>
                    <td>
                        <img src="__ROTH__/uploads/20171129/E2e3c41062c7f28c81bf07ffe95ab8e71.jpg" alt="" class="BigImagesButton">
                        <input type="hidden" value="__ROTH__/uploads/20171129/2e3c41062c7f28c81bf07ffe95ab8e71.jpg">
                    </td>
                    <td>
                        18780516325<br>
                        0813-123456
                    </td>
                    <td>
                        {$vo["EndTime"]|date="Y/m/d",###}<br>
                        剩余：{$vo["EndTime"]}天
                    </td>
                    <td>
                        <button onclick="AddBuinsesspower()">
                            <img src="__PUBLIC__/manage/images/icon-authority.png" alt="">权限
                        </button>
                    </td>
                    <td>
                        <button onclick="BuPwd()">
                            <img src="__PUBLIC__/manage/images/shortcuts.png" alt="">重置
                        </button>
                    </td>
                    <td>
                        <button onclick="EditBuiness()">
                            <img src="__PUBLIC__/manage/images/iocn-edit.png" alt="">编辑
                        </button>
                        <button onclick="DelAdmin()">
                            <img src="__PUBLIC__/manage/images/recycle_bin_full.png" alt="">删除
                        </button>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
        <div class="SeeBigImages" onclick="closeImage()">
            <img src="" alt="">
        </div>
    </div>


<script>
    layui.use(['form', 'laydate'], function(){
        var form = layui.form
            ,laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#test1-1'
            ,lang: 'en'
        });

    });
</script>
<div class="Business-AddMenu-Box">
    <div class="Pcmenu-AddMenu-Window">
        <p>
            <button class="icon-remove-circle" onclick="closeAddbuinsess()"><b>关闭</b></button>
            <span class="cb"></span>
        </p>
        <h1>添加</h1>
        <div class="Pcmenu-AddMenu layui-form">
                <span>
                    <label>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</label><input type="text" name="name" value="" placeholder="">
                </span>
            <span>
                    <label>账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：</label><input type="text" name="zhanghao" value="" placeholder="由3-15位字母组成，不含数字、汉字、字符">
                </span>
            <span>
                    <label>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</label><input type="text" name="pwd" value="" placeholder="由3-15位字母组成，不含数字、汉字、字符">
                </span>
            <span>
                    <label>名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</label><input type="text" name="gsname" value="" placeholder="公司名称">
                </span>
            <span>
                    <label>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</label><input type="text" name="address" value="" placeholder="请填写现在具体住址">
                </span>
            <span>
                    <label>头&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;相：</label><input type="file" name="head" onchange="previewFile('')" id="img2">

                </span>
            <span style="height:100px">
                <div  id="img1">
                    <img src="" height="99" width="71" alt="请上传头像"/>
                </div>
            </span>
            <span>
                    <label>有&nbsp;&nbsp;&nbsp;&nbsp;效&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期：</label><input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                </span>
            <br>
            <div class="AddMenu-Submit">
                <button onclick="AddBusinessSubmit()">提&nbsp;&nbsp;&nbsp;交</button>
            </div>
        </div>
    </div>
</div>


<!----------------------------------------商家权限------------------------------------------>

<div class="Business-power-Box">
    <div class="Buinsess-power-content">
        <p class="Admin-power-close"><button onclick="closeBuinesspower()"><i class="icon-remove-circle"></i>关闭</button></p>
        <h1>权限管理</h1>

        <div class="Admin-power-MenuList" >
            <p>
                <input type="checkbox" name="MenuPower" value="" placeholder="" >&nbsp;&nbsp;一级权限
            </p>
            <div class="Admin-power-MenuList-two">
                <p class="power-MenuList-two-content"><b>&nbsp;</b><input type="checkbox" name="MenuPower" value="" placeholder="" >&nbsp;&nbsp;二级权限</p>
                <div class="power-MenuList-three-content">
                    <span><input type="checkbox" name="MenuPower" value="" placeholder="" >&nbsp;&nbsp;</span>三级权限
                </div>
                <div class="cb"></div>
            </div>
        </div>
        <div class="cb"></div>
        <div class="Admin-power-save">
            <button onclick="SavePower()">保存</button>&nbsp;&nbsp;&nbsp;&nbsp;<button onclick="closePowerAdmin()">取消</button>
        </div>
    </div>

</div>


<!------------------------------密码重置------------------------------------>
<div class="Business-pwd-Res-Box">
    <div class="Business-pwd-Res-content">
        <h1>确认重置密码</h1>
        <input type="hidden" value="" name="SureResPwdNum">
        <br>
        <p>
            注意：重置后的密码为DHf+电话后6位！
        </p>
        <br>
        <div class="Pwd-res-button">
            <button onclick="SureResPwd()">确认</button>&nbsp;&nbsp;&nbsp;
            <button onclick="CloseBuPwd()">取消</button>
        </div>
    </div>
</div>



<!-------------------------------商家编辑--------------------------------------->

<div class="Business-EditMenu-Box">
    <!--此处为日期插件配置-->
    <script>
        layui.use(['form', 'laydate'], function(){
            var form = layui.form
                ,laydate = layui.laydate;

            //日期
            laydate.render({
                elem: '#date2'
            });
            laydate.render({
                elem: '#test1-1'
                ,lang: 'en'
            });

        });
    </script>
    <div class="Pcmenu-EditMenu-Window">
        <p>
            <button class="icon-remove-circle" onclick="closeEditbuiness()"><b>关闭</b></button>
            <span class="cb"></span>
        </p>
        <h1>编辑</h1>
        <div class="Pcmenu-AddMenu layui-form">
                <span>
                    <label>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</label><input type="text" name="name" value="" placeholder="">
                </span>
                <span>
                    <label>名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</label><input type="text" name="gsname" value="" placeholder="公司名称">
                </span>
                <span>
                        <label>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</label><input type="text" name="address" value="" placeholder="请填写现在具体住址">
                    </span>
                <span>
                    <label>头&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;相：</label><input type="file" name="head" onchange="previewFile2()">

                </span>
                <span style="height:100px">
                    <div  id="img2">
                        <img src="" height="99" width="71" alt="请上传头像"/>
                    </div>
                </span>
                <span>
                    <label>有&nbsp;&nbsp;&nbsp;&nbsp;效&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期：</label><input type="text" name="date2" id="date2" lay-verify="date2" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                </span>
            <br>
            <div class="AddMenu-Submit">
                <button onclick="AddBusinessSubmit()">提&nbsp;&nbsp;&nbsp;交</button>
            </div>
        </div>
    </div>
</div>
{/block}