<div class="Buinsess-power-content">
    <p class="Admin-power-close"><button onclick="closeBuinesspower()"><i class="icon-remove-circle"></i>关闭</button></p>
    <h1>权限管理</h1>

    <div class="Admin-power-MenuList" >
        <p>
            <input type="checkbox" name="MenuPower" value="" placeholder="" >&nbsp;&nbsp;一级权限
        </p>
        <div class="Admin-power-MenuList-two">
            <p class="power-MenuList-two-content"><b>&nbsp;</b><input type="checkbox" name="MenuPower" value="" placeholder="" >&nbsp;&nbsp;二级权限</p>
            <div class="power-MenuList-three-content">
                <span><input type="checkbox" name="MenuPower" value="" placeholder="" >&nbsp;&nbsp;</span>三级权限
            </div>
            <div class="cb"></div>
        </div>
    </div>
    <div class="cb"></div>
    <div class="Admin-power-save">
        <button onclick="SavePower()">保存</button>&nbsp;&nbsp;&nbsp;&nbsp;<button onclick="closePowerAdmin()">取消</button>
    </div>
</div>