body{background:#f2f2f2;}
*{padding:0;margin:0;}
.MAXwidth{width:100%;height:auto;margin:0 auto;}
.width{width:93%;height:auto;margin:0 auto;}
.fl{float:left;}
.fr{float:right;}
.cb{clear:both;}
ul li{list-style-type:none;}
a{text-decoration:none;}
.prompt_Box{position: fixed;top:40%;left: 25%;right:25%;text-align:center;background: rgba(125,125,125,0.4);font-size: 16px;border-radius: 5px;padding: 5px;display: none;z-index: 9999999;}
/*----------------------以上是公共部分---------------------------*/
.Bottom_Menu_Box{position: fixed;bottom:0;z-index: 1000;width:100%;height: 50px;text-align: center;border-top: 2px solid #c8c8c8;background: rgba(255,255,255,0.9);}
.Bottom_Menu_Box a{display: inline-block;width: 18.8%;height:100%;text-align: center;color: #a4a4a4;font-size: 15px;}
.Bottom_Menu_Box a span{font-size: 30px;}

/*-------------------------拼团菜单-------------------------*/
.Groups_Bottom_Menu_Box{position: fixed;bottom:0;z-index: 1000;width:100%;height: 50px;text-align: center;border-top: 2px solid #c8c8c8;background: rgba(255,255,255,0.9);}
.Groups_Bottom_Menu_Box a{display: inline-block;width: 23.8%;height:100%;text-align: center;color: #a4a4a4;font-size: 15px;}
.Groups_Bottom_Menu_Box a span{font-size: 30px;}



.bottom_margin_Box{height:50px;}
.guide_block_Box{height:31px;}
/*------------------以下是首页部分---------------------*/
.topHead_box{height: 50px;background: #00923f;color:#ffffff;line-height: 50px;display: inline-block;}
.logo_box{display: inline-block;width: 25%;height:100%;line-height: 50px;text-align: center;background: none;border: none;color:#ffffff;font-size: 16px;}
.logo_box img{display:inline-block;width: 50px;height: 50px;}
.Search_box{display: inline-block;width: 45%;height:30px;line-height: 30px;background: #ffffff;border-radius: 8px;margin-top: 10px;}
.Search_box input{display: inline-block;width: 85%;height:100%;font-size:14px;border: none;background: none;text-align: left;}
.Search_box button{display: inline-block;width: 15%;border: none;color: #999999;font-size: 16px;height:100%;background: none;}
.margin_box{display: inline-block;width: 2%;}
.index_login_box{display: inline-block;width: 25%;height:100%;line-height: 50px;text-align: center;}
.index_login_box a{color:#ffffff;font-size: 10px;line-height: 12px;display: inline-block;width: 100%;}
.Index_MenuBigBox{background: #ffffff;}
.swiper-container{background:#ffffff;width:100%;height:auto;position:absolute;top:0;z-index: 3;font-size: 20px;}
.swiper-wrapper{width:100%;}
.swiper-slide{display:inline-block;width:100%;height:auto;}
.blue-slide img{width:100%;}
.chevron_button_left{background:rgba(255, 255, 255, 0.5);position: absolute;z-index: 4;top:40%;left:2%;display: inline-block;width:35px;height: 35px;border-radius: 50%;line-height: 35px;text-align: center;color:#ffffff;}
.chevron_button_right{background:rgba(255, 255, 255, 0.5);position: absolute;z-index: 4;top:40%;right:2%;display: inline-block;width:35px;height: 35px;border-radius: 50%;line-height: 35px;text-align: center;color:#ffffff;}
.Index_Menu_box{width:100%;height:auto;text-align: center;background: #ffffff;padding-bottom: 10px;}
.Index_Menu_box a{background: none;border: none;display: inline-block;width: 23.8%;text-align: center;color: #5e9b1a;}
.Index_Menu_box a img{display: inline-block;width: 90%;height: auto;}
.Index_HotShop_Box{text-align: center;padding: 10px 0;background: #ffffff;}

/*--------------以下是个人中心部分--------------*/
/*------------头像部分-------------*/




/*------------------------以下是登录注册页面-------------------------*/
.LoginHtml_head_Box{width: 100%;height: 50px;background: #00923f;color:#ffffff;line-height: 50px;text-align: center;}
.LoginHtml_head_Box span:nth-child(2){display: inline-block;width: 50%;float: left;text-align: center;font-size: 20px;}
.LoginHtml_head_Box span:nth-child(3){display: inline-block;width: 24%;float: right;text-align: center;font-size: 30px;}
.LoginHtml_head_Box span a{color: #ffffff;}
.LoginHtml_count_box{width: 100%;text-align: center;padding-top: 50px;}
.LoginHtml_count_box span{display: inline-block;width: 90%;height: 40px;line-height: 40px;font-size: 25px;border-bottom: 1px solid black;}
.LoginHtml_count_box span i{display: inline-block;width: 25%;color: #747474;float: left;height: 100%;line-height: 40px;}
.LoginHtml_count_box span input{display: inline-block;width: 55%;height: 100%;float: left;background: none;border: none;font-size: 16px;line-height: 40px;}
.LoginHtml_count_box span label{display: inline-block;width: 20%;float: right;font-size: 16px;display: none;}
.LoginHtml_count_forget{border-bottom: none;font-size: 10px;display: inline-block;text-align: right;width: 90%;height: 40px;line-height: 40px;}
.LoginHtml_count_forget a{color: red;float: right;}
.RegisterPhone_Code{display: inline;border: none;width: 20%;height: 100%;float: right;background: green;}
.LoginHtml_count_button1{display: inline-block;width: 90%;height: 40px;line-height: 40px;font-size: 25px;background: #f37b1d;border: 2px solid #f37b1d;border-radius: 20px;color: #ffffff;}
.LoginHtml_count_button2{display: inline-block;width: 90%;height: 40px;line-height: 40px;font-size: 25px;background: #ffffff;border: 2px solid #f37b1d;border-radius: 20px;color: #f37b1d;}




