
<div class="Goods_evaluate_Menu fl">
    <p style="text-align: center;font-size: 14px;background: #e5e5e5; padding:5px;color:#959595;">——&nbsp;&nbsp;<b class="icon-comment-alt">&nbsp;</b>评价&nbsp;&nbsp;——</p>
    <div>
        <button>好评123123</button>
        <button>中评123456</button>
        <button>差评123</button>
    </div>
</div>
<div class="Comment_Box">
    <p class="Comment_Box_top fl">
        <img  onclick="UserInformation('用户信息')" src="__PUBLIC__/admin/images/u-icon1.png" class="fl" alt=""/>这里是用户昵称<label class="icon-star" id="evaluate_Fraction">&nbsp;&nbsp;评分：5分&nbsp;&nbsp;&nbsp;&nbsp;</label>
    </p><div class="cb"></div>
    <div class="Comment_Box_right" onclick="CommentIMG('照片')">
        这里是对景区的描述：好，很好，非常好，好得不得了！
    </div>
    <div class="Comment_Box_button">
        <a href="#">查看更多评论 <i class="icon-chevron-right"></i></a>
    </div>
    <div class="cb"></div>
</div>
