    <div class="Goods_evaluate_Menu fl">
        <div>
            <button>好评123123</button>
            <button>中评123456</button>
            <button>差评123</button>
        </div>
        <div>
            <button>有图12345</button>
            <button>没图12345</button>
            <button>全部123456</button>
        </div>
    </div>
<div class="Comment_Box">
    <p class="Comment_Box_top fl">
        <img  onclick="UserInformation('用户信息')" src="__PUBLIC__/admin/images/u-icon1.png" class="fl" alt=""/>这里是用户昵称<label class="icon-star" id="evaluate_Fraction">&nbsp;&nbsp;评分：5分&nbsp;&nbsp;&nbsp;&nbsp;</label>
    </p><div class="cb"></div>
    <div class="Comment_Box_right" onclick="CommentIMG('照片')">
        这里是对景区的描述：好，很好，非常好，好得不得了！
        <div class="Comment_Box_right_img">
            <a href="javascript:void(0)" onclick="SeeImg(1)"><img src="__ROTH__/uploads/20171113/E0c789f6cfad62799ae0fe00c56af7298.jpg" alt=""></a>
            <a href="javascript:void(0)" onclick="SeeImg(2)"><img src="__ROTH__/uploads/20171113/E2b1d7d70ec577725d77f3217b4d962e8.png" alt=""></a>
            <a href="javascript:void(0)" onclick="SeeImg(3)"><img src="__ROTH__/uploads/20171113/E7a5ae056f5ca6dc7718ecffdcdefcbb8.jpg" alt=""></a>
            <a href="javascript:void(0)" onclick="SeeImg(4)"><img src="__ROTH__/uploads/20171113/E13247678af702576181d964286166e6e.jpg" alt=""></a>
            <a href="javascript:void(0)" onclick="SeeImg(5)"><img src="__ROTH__/uploads/20171113/Ecc27944dbefea989957e6bab4eea8a77.jpg" alt=""></a>
            <div class="cb"></div>
        </div>
    </div>
    <div class="Comment_Box_button">
        <span class="Comment_Box_button_span">2017/10/10</span>
        <span class="Comment_Box_button_span"><i class="icon-eye-open">&nbsp;</i>123</span>
        <button class="Comment_Box_button_span" onclick="ThumbsUp()"><i class="icon-thumbs-up"></i>123</button>
        <button class="Comment_Box_button_span" onclick="ThumbsUp()"><i class="icon-comment-alt"></i>123</button>
    </div>
    <div class="cb"></div>
</div>
