<div class="swiper-container fl">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="__PUBLIC__/admin/images/slider1-1.png"></div>
        <div class="swiper-slide"><img src="__PUBLIC__/admin/images/slider1-2.png"></div>
        <div class="swiper-slide"><img src="__PUBLIC__/admin/images/3.png"></div>
    </div>
    <div class="pagination"></div>
    <div class="cb"></div>
</div>
<div class="Goods_info_Box fl">
    <div class="Goods_info_content">
        <p>这里是商品的炉体名称</p>
        <span>现价：￥25.2</span>
        <span>￥40.00</span>
        <span class="fr"><i class="icon-time">&nbsp;</i>剩余:00天00:00:00</span>
    </div>
    <div class="Goods_info_content1">
        <span><i class="icon-tags">&nbsp;</i>已售123</span>
        <span><i class="icon-map-marker">&nbsp;</i>这里是景区的位置</span>
        <span class="cb"></span>
        <p>会当凌绝顶，一览众山小！会当凌绝顶，一览众山小！</p>
        <p><i class="icon-bullhorn">&nbsp;</i>有效期：2017.10.10 - 2017.11.11</p>
    </div>
    <div class="Goods_info_remind">
        <p><i class="icon-warning-sign">&nbsp;&nbsp;</i>这里是购买提醒!</p>
        <p><i class="icon-warning-sign">&nbsp;&nbsp;</i>这里是购买提醒!</p>
        <p><i class="icon-warning-sign">&nbsp;&nbsp;</i>这里是购买提醒!</p>
    </div>
    <div class="Goods_info_block"></div>
    <table class="Goods_info_Package">
        <tbody>
        <tr>
            <td><span>套餐1</span></td>
            <td>这里是套餐详情这里是套餐详情这里是套餐详情这里是套餐详情这里是套餐详情这里是套餐详情</td>
        </tr>
        <tr>
            <td><span>套餐2</span></td>
            <td>这里是套餐详情这里是套餐详情这里是套餐详情这里是套餐详情这里是套餐详情这里是套餐详情</td>
        </tr>
        <tr>
            <td><span>套餐3</span></td>
            <td>这里是套餐详情这里是套餐详情这里是套餐详情这里是套餐详情这里是套餐详情这里是套餐详情</td>
        </tr>
        </tbody>
    </table>
    <div class="Goods_info_block"></div>
    <div class="Goods_info_Scenic">
        <p><img src="__PUBLIC__/admin/images/sina.png" alt="">&nbsp;这里是景区名</p>
        <a href="tel:18780516325"><i class="icon-phone">&nbsp;&nbsp;</i>18780516325<b class="icon-chevron-right fr"></b></a>
        <p><i class="icon-map-marker">&nbsp;&nbsp;</i>这里是景区位置<b class="icon-chevron-right fr"></b></p>
    </div>
</div>
<div class="Goods_info_block"></div>
<div class="Goods_info_details">

</div>

<div class="cb"></div>
