{extend name="Public:goodsPublic"/}
{block name="main"}
<div class="Goods_guide">
	<input id="hd_referrer" type="hidden" />
	<button  onclick="history.go(-1)"><i class="icon-chevron-left"><a href="javascript:void(0);"></a></i></button>
	<a href="javascript:void(0);" onclick="GoodsDetails('{$GoodsInformation.id}')" class="A-1">商品</a>
	<a href="javascript:void(0);" onclick="goodsEvaluate('{$GoodsInformation.id}')" class="A-2">评价</a>
	<a href="javascript:void(0);" onclick="goodsParameter('{$GoodsInformation.id}')" class="A-3">详情</a>
	<a href="{:url('Index/index')}"><i class="icon-home"></i></a>
</div>

<!--------------以下是商品内容盒子---------------->
<div class="Goods-Details-BigBox">
	<div class="swiper-container fl">
		<div class="swiper-wrapper">
			{volist name="GoodsInformation.DetailsImage|json_decode" id="vo"}
			<div class="swiper-slide"><img src="__ROTH__/uploads/{$vo.0}/{$vo.1}"></div>
			{/volist}
		</div>
		<div class="pagination"></div>
		<div class="cb"></div>
	</div>
	<div class="Goods_info_Box fl">
		<input type="hidden" value=
		'
		{if condition="($NowTime > $GoodsInformation.endTime) or ($NowTime < $GoodsInformation.startTime) "}0
		{else /} {$GoodsInformation.endTime-$NowTime}
		{/if}
		'
			   name="daojishi">
		<div class="Goods_info_content">
			<p>{$GoodsInformation.GoodsName}</p>
			<span>现价：￥
				{if condition="($NowTime > $GoodsInformation['endTime']) or ($NowTime < $GoodsInformation['startTime']) "} {$GoodsInformation.oldPrice}
				{else /} {$GoodsInformation.activityPrice}
				{/if}
			</span>
			<span>
					{if condition="($NowTime < $GoodsInformation['endTime']) and ($NowTime > $GoodsInformation['startTime']) "}￥{$GoodsInformation.oldPrice}
					{else /}
					{/if}
			</span>

			<span class="fr"></span>
		</div>
		<div class="Goods_info_content1">
			<span><i class="icon-tags">&nbsp;</i>已售123</span>
			<span><i class="icon-map-marker">&nbsp;</i>{$GoodsInformation.PositionName}</span>
			<span class="cb"></span>
			<p>{$GoodsInformation.introduce}</p>
			<p><i class="icon-bullhorn">&nbsp;</i>有效期：{$GoodsInformation.startTime|date="Y/m/d",###} - {$GoodsInformation.endTime|date="Y/m/d",###}</p>
		</div>
		<div class="Goods_info_remind">
			{volist name="GoodsInformation.comments" id="vo_1"}
			{notempty name="vo_1.careful"}
			<p><i class="icon-warning-sign">&nbsp;&nbsp;</i>{$vo_1.careful}</p>
			{/notempty}
			{/volist}
		</div>
		<div class="Goods_info_block"></div>
		<table class="Goods_info_Package">
			<tbody>
			{volist name="GoodsInformation.comments" id="vo_2"}
			<tr>
				<td><span>套餐{$key+1}</span></td>
				<td style="text-align: left;">
					{$vo_2.PackageName},价格：￥{$vo_2.OldPrice}
					{if condition="($NowTime > $GoodsInformation.endTime) or ($NowTime < $GoodsInformation.startTime) "}
					{else /},活动价格：￥{$vo_2.ActivityPrice}
					{/if}
				</td>
			</tr>
			{/volist}
			</tbody>
		</table>
		<div class="Goods_info_block"></div>
		<div class="Goods_info_Scenic">
			<p><img src="__PUBLIC__/admin/images/sina.png" alt="">&nbsp;{$ShangJia.CompanyName}</p>
			{volist name="ShangJia.PhoneNum" id="PhoneNum"}
			<a href="tel:{$PhoneNum}"><i class="icon-phone">&nbsp;&nbsp;</i>{$PhoneNum}<b class="icon-chevron-right fr"></b></a>
			{/volist}
			<p style="border-bottom: none;"><i class="icon-map-marker">&nbsp;&nbsp;</i>这里是景区位置<b class="icon-chevron-right fr"></b></p>
		</div>
	</div>

	<div class="Goods_info_details">
	</div>
	<div class="cb"></div>
</div>

<!----------以下是商品评价盒子---------------->
<div class="Goods-Evaluate-BigBox" style="background: #ffffff;"></div>
<!---------以下是商品详情盒子---------->
<div class="Goods-xiangqing-BigBox" style="background: #ffffff;"></div>
<div class="cb"></div>
<input type="hidden" value="{$GoodsInformation.id}" name="ThisGoodsId">
<input type="hidden" value="0" name="ThisGoodsHidden">
<div class="Goods_info_block"></div>

<!----------------添加套餐弹窗---------------->
<div class="Tao_can_list">
	<div class="Tao_can_first">
		<img src="__PUBLIC__/admin/images/sc.jpg"/>
		<div class="Tao_can_first_1">
			<span id="GoodPrice1">¥50</span>
			<span>库存30</span>
		</div>
		<input type="hidden" name="pacageId1">
		<i class="icon-remove-circle" onclick="Tao_que()"></i>
	</div>
	<div style="clear:both;"></div>

	<div class="Tao_second">
		<p>请选择套餐</p>
		<div id="Tao_second_2">
			{volist name="GoodsInformation.comments" id="vol"}
			<div class="active Package{$vol.PackageId}" onclick="Change_price('{$vol.PackageId}')">
				套餐{$key+1}【{$vol.PackageName}】
			</div>
			{/volist}
		</div>
		<div style="clear:both;"></div>
	</div>

	<div class="third">
		<span>购买数量</span>
		<div id="third_2">
			<button>-</button>
			<input type="text" name="taocan" value="1" id="ccid" style="text-align: center;"/>
			<button>+</button>
		</div>
	</div>
	<div style="width:100%;height:90px;"></div>
	<div class="Tao_bottom" onclick="Add_gouwu()">确定</div>
</div>

<!----------------确认---------------->
<div class="Tao_queren">
	<div class="Tao_queren_first">
		<img src="__PUBLIC__/admin/images/sc.jpg"/>
		<div class="Tao_queren_first_1">
			<span id="GoodPrice">¥50</span>
			<span>库存30</span>
		</div>
		<input type="hidden" name="pacageId">
		<i class="icon-remove-circle" onclick="Tao_que_1()"></i>
	</div>
	<div style="clear:both;"></div>

	<div class="Tao_queren_second">
		<p>请选择套餐</p>
		<div id="Tao_queren_3">
			{volist name="GoodsInformation.comments" id="vol"}
			<div class="active Package{$vol.PackageId}" onclick="Change_price('{$vol.PackageId}')">
				套餐{$key+1}【{$vol.PackageName}】
			</div>
			{/volist}
		</div>
		<div style="clear:both;"></div>
	</div>

	<div class="Tao_queren_third">
		<span>购买数量</span>
		<div id="queren_third_2">
			<button>-</button>
			<input type="text" name="taocan" value="1" id="queren1" style="text-align: center;"/>
			<button>+</button>
		</div>
	</div>
	<div style="width:100%;height:90px;"></div>
	<div class="Tao_bottom" id="DingdanSub">确定</div>
</div>

{/block}



