.cont_zhan{display:block;margin-left:30%;float:left;width:25%;height:2.1em;text-align:center;font-size:.8em;line-height:2.1em;color:white;}
.content_dao{width:100%;height:1.8em;background:#e0e0e0;}
.con_s1{display:block;float:left;margin-left:6%;font-size:1.6em;color:white;}