/*--------------------------------点击查询更多(模板一)-----------------------------*/
.content{background:none;}
.content li{list-style:none;}
.cont_zhan{display:block;float:left;margin-left:2.5%;width:25%;height:1.5em;text-align:center;line-height:1.5em;font-size:.8em;margin-top:.3em;}
.content_dao{width:100%;height:1.8em;background:#9D9D9D;}
.content_dao p{color:white;float:right;margin-right:35%;}
.con_s1{display:block;float:left;margin-left:6%;font-size:1.6em;color:white;}
.content-check li a img{width:100%;border-radius:3px;}
.content-check li a{display:block;width:45%;float:left;margin-left:5%;}
.M_1_r{width:40%;float:left;}
.M_1_r span{display:block;width:90%;margin-left:10%;font-size:.6em;text-indent:30%;}
.content-check{width:100%;height:auto;border:1px dashed #f4f4f4;margin-top:.8em;}