.content{background:none;}
.content li{list-style:none;}
.content_dao{width:100%;height:1.8em;background:#9D9D9D;}
.content_dao p{color:white;width:100%;text-align:center;line-height:1.8em;}
.con_s1{display:block;float:left;margin-left:6%;font-size:1.6em;color:white;}
.Index_styleBox_2{display:inline-block;width: 96%;}
.Index_styleBox_2 p{display: inline-block;width: 100%;height:30px;text-align: left;line-height: 30px;padding-bottom: 10px;}
.Index_styleBox_2 p img{display: inline-block;height:30px;float: left;}
.Index_styleBox_2 p a{display: inline-block;width: 50%;float: right;text-align: right;color: #5bc0de;font-size: 14px;}
.Index_styleBox_2 a{display: inline-block;width: 100%;position: relative;}
.Index_styleBox_2 a img{display: inline-block;width: 40%;padding: 5px 0;float: left;margin-left:3%;}
.Index_styleBox_2 div{position: absolute;top:0;left: 55%;right:0;bottom:0;color:black;text-align: left;font-size: 12px;}
.Index_styleBox_2 div p{white-space:nowrap; overflow:hidden; text-overflow:ellipsis;padding-bottom: 0;height: 33.2%;font-size: 14px;float: left;}
.Index_styleBox_2 div span:nth-child(1){display:inline-block;width: 40%;}
.fenge{width:100%;height:.5em;background:#BEBEBE;}
