{extend name="Public:public"/}
{block name="main"}
<div class="content">
    <div class="content_dao">
        <a href="{:url('/admin/home/home/index')}" class="con_s1"><</a>
        <p class="cont_zhan">更多商品展示</p>
    </div>
    <li style="clear:both;"></li>
    <ul class="content-check2">
        <div class="left_img">
                <img src="/public/static/manage/images/1506842609781.jpg" >
        </div>
        <div class="rightcont_content">
            <span class="Sp_1">测试测试</span>
            <p>测试内容测试内容测试内容</p>
            <li>
                <div class="F_1">
                    <b>几个钱</b><br>
                    <span class="Sp_2">这事就是</span>
                </div>
                <div class="F_2">
                    <b>距离结束</b><br>
                    <span class="Sp_3">X天X时X分X妙</span>
                </div>

            </li>
        </div>
    </ul>
    <div style="clear:both;"></div>
    <ul class="content-check2">
        <div class="left_img">
            <img src="/public/static/manage/images/1506842609781.jpg" >
        </div>
        <div class="rightcont_content">
            <span class="Sp_1">测试测试</span>
            <p>测试内容测试内容测试内容</p>
            <li>
                <div class="F_1">
                    <b>几个钱</b><br>
                    <span class="Sp_2">这事就是</span>
                </div>
                <div class="F_2">
                    <b>距离结束</b><br>
                    <span class="Sp_3">X天X时X分X妙</span>
                </div>

            </li>
        </div>
    </ul>
    <div style="clear:both;"></div>


</div>
{/block}