{extend name="Public:public_2"/}
{block name="main"}
<div class="content">
    <div class="content_dao">
        <a href="{:url('/admin/home/home/index')}" class="con_s1 chevron-left"><</a>
        <p class="cont_zhan">更多商品展示</p>
    </div>

    <li style="clear:both;"></li>
    <ul class="content-check">
        <li>
            <a href=""><img src="/public/static/manage/images/1506842609781.jpg"></a>
            <div class="M_1_r">
                <span>商品一</span><br>
                <span>在哪里</span><br>
                <span>价格是啥</span><br>
            </div>
        </li>

    </ul>
    <ul class="content-check">
        <li>
            <a href=""><img src="/public/static/manage/images/1506842609781.jpg"></a>
            <div class="M_1_r">
                <span>商品一</span><br>
                <span>在哪里</span><br>
                <span>价格是啥</span><br>
            </div>
        </li>

    </ul>
    <ul class="content-check">
        <li>
            <a href=""><img src="/public/static/manage/images/1506842609781.jpg"></a>
            <div class="M_1_r">
                <span>商品一</span><br>
                <span>在哪里</span><br>
                <span>价格是啥</span><br>
            </div>
        </li>

    </ul>

</div>
{/block}