{extend name="Public:public_2"/}
{block name="main"}
<div class="content">
    <div class="content_dao">
        <a href="{:url('/admin/home/home/index')}" class="con_s1"><</a>
        <p class="cont_zhan">更多商品展示</p>
    </div>
    <div style="clear:both;"></div>
    <div class="content-check4">
        <img src="/public/static/manage/images/1506842609781.jpg">
        <span>某某旅游胜地&nbsp;&nbsp;&nbsp;121浏览</span>
    </div>
    <div class="content-check5">
        <i>这是一个标题</i>
        <p>这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内</p>
    </div>
    <div style="clear:both;"></div>

    <div class="content-check4">
        <img src="/public/static/manage/images/1506842609781.jpg">
        <span>某某旅游胜地&nbsp;&nbsp;&nbsp;121浏览</span>
    </div>
    <div class="content-check5">
        <i>这是一个标题</i>
        <p>这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内</p>
    </div>
    <div style="clear:both;"></div>

    <div class="content-check4">
        <img src="/public/static/manage/images/1506842609781.jpg">
        <span>某某旅游胜地&nbsp;&nbsp;&nbsp;121浏览</span>
    </div>
    <div class="content-check5">
        <i>这是一个标题</i>
        <p>这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内</p>
    </div>
    <div style="clear:both;"></div>


</div>
{/block}