{extend name="Public:public_2"/}
{block name="main"}

    <div class="content_dao">
        <a href="{:url('/admin/home/home/index')}" class="con_s1 icon-angle-left"></a>
        <p class="cont_zhan">更多商品展示</p>
    </div>


    <div class="Index_styleBox_2">
        <a href="">
            <img src="/public/static/manage/images/1506842609781.jpg" alt="">
            <div>
                <p>1111111111</p>
                <p>1111111111111111</p>
                <span class="fl" style="height: 33%;">
                    仅限1000份1111111111111111111111
                </span>

            </div>
        </a>
    </div>

    <div class="fenge"></div>
    <div class="Index_styleBox_2">
        <a href="">
            <img src="/public/static/manage/images/1506842609781.jpg" alt="">
            <div>
                <p>1111111111</p>
                <p>1111111111111111</p>
                <span class="fl" style="height: 33%;">
                        仅限1000份1111111111111111111111
                </span>

            </div>
        </a>
    </div>
    <div class="fenge"></div>

{/block}