{extend name="Public:public_2"/}
{block name="main"}

    <div class="content_dao">
        <a href="{:url('/admin/home/home/index')}" class="con_s1 icon-angle-left"></a>
        <p class="cont_zhan">更多商品展示</p>
    </div>


    <div class="Index_styleBox_2">
        <a href="">
            <img src="/public/static/manage/images/1506842609781.jpg" alt="">
            <div>
                <p>某某某商品</p>
                <p style="color:#9da0a4;">这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述</p>
                <p  style="display:inline-block;width:100%;height:33%;color:red;">
                    仅限1000份11111111
                </p>

            </div>
        </a>
    </div>

    <div class="fenge"></div>
    <div class="Index_styleBox_2">
        <a href="">
            <img src="/public/static/manage/images/1506842609781.jpg" alt="">
            <div>
                <p>某某某商品</p>
                <p style="color:#9da0a4;">这里是描述这里是描述这里是描述这里是描述这里是描述这里是描述</p>
                <p  style="display:inline-block;width:100%;height:33%;color:red;">
                    仅限1000份11111111
                </p>

            </div>
        </a>
    </div>
    <div class="fenge"></div>

{/block}