{extend name="Public:public"/}
{block name="main"}
<div class="content">
    <div class="content_dao">
        <a href="{:url('/admin/home/home/index')}" class="con_s1 icon-angle-left"></a>
        <p>门票</p>
    </div>
</div>
<div style="width:100%;height:1.8em;"></div>
    <div class="second">
        <img src="/public/static/manage/images/1506842609781.jpg">
        <span>什么玩意什么玩意射手机卡就</span>
    </div>

    <div class="third">
        <span>各种门票</span>
    </div>

    <div class="forth">
            <img src="/public/static/manage/images/1506842609781.jpg">
            <div class="forth_1">
                <span>描述描述描述描绘四</span>
                <span>已卖:XXXXX</span>
                <span style="color:red;">￥：400<p>￥：800</p></span>
            </div>
    </div>

    <div class="forth">
        <img src="/public/static/manage/images/1506842609781.jpg">
        <div class="forth_1">
            <span>描述描述描述描绘四</span>
            <span>已卖:XXXXX</span>
            <span style="color:red;">￥：400<p>￥：800</p></span>
        </div>
    </div>

    <div class="forth">
        <img src="/public/static/manage/images/1506842609781.jpg">
        <div class="forth_1">
            <span>描述描述描述描绘四</span>
            <span>已卖:XXXXX</span>
            <span style="color:red;">￥：400<p>￥：800</p></span>
        </div>
    </div>
{/block}