{extend name="Public:public"/}
{block name="main"}
    <div class="content">
        <div class="content_dao">
            <a href="{:url('/admin/home/home/index')}" class="con_s1 icon-angle-left"></a>
            <p>门票</p>
            <i class="icon-reorder" style="position:absolute;top:4.5px;right:5%;color:white;font-size:1.2em;" onclick="fenlei()"></i>
        </div>
    </div>
    <div class="paixu">
        <div>综合排序</div>
        <div>销量排序</div>
        <div>新品排序</div>
        <div>促销排序</div>
    </div>

    <div class="third">
        <span>各种门票</span>
    </div>

    <div class="forth">
            <img src="/public/static/manage/images/1506842609781.jpg">
            <div class="forth_1">
                <span>描述描述描述描绘四</span>
                <span>已卖:XXXXX</span>
                <span style="color:red;">￥：400<p>￥：800</p></span>
            </div>
    </div>

    <div class="forth">
        <img src="/public/static/manage/images/1506842609781.jpg">
        <div class="forth_1">
            <span>描述描述描述描绘四</span>
            <span>已卖:XXXXX</span>
            <span style="color:red;">￥：400<p>￥：800</p></span>
        </div>
    </div>

    <div class="forth">
        <img src="/public/static/manage/images/1506842609781.jpg">
        <div class="forth_1">
            <span>描述描述描述描绘四</span>
            <span>已卖:XXXXX</span>
            <span style="color:red;">￥：400<p>￥：800</p></span>
        </div>
    </div>

    <div style="clear:both;"></div>
    <div class="fenlei_list">
        <div class="fenlei_list_first">
            <span class="ospan">一起玩欢迎你！</span>
            <div class="fenlei_list_second">
                <span class="icon-home" style="font-size:1.2em;margin-top:5.5px;margin-left:15%;" onclick="tiaozhuan()">跳转首页</span>
            </div>
            <div class="fenlei_list_second">
                <span class="icon-list" style="font-size:1.2em;margin-top:5.5px;margin-left:15%;" onclick="quanfen()">全部分类</span>
            </div>
            <div class="zilist">
                <div class="fenlei_list_second" onclick="check_zifenlei()">
                    <span class="icon-list-ul" style="font-size:1.2em;margin-top:5.5px;margin-left:15%;">门票</span>
                </div>
                <div class="fenlei_list_second_1">
                    <span class="icon-list-ul" style="font-size:1.2em;margin-top:5.5px;margin-left:15%;" onclick="zifenlei()">门票</span>
                </div>
                <div class="fenlei_list_second_1">
                    <span class="icon-list-ul" style="font-size:1.2em;margin-top:5.5px;margin-left:15%;" onclick="zifenlei()">门票</span>
                </div>
            </div>
        </div>
    </div>
{/block}