{extend name="Public:public_2"/}
{block name="main"}
<div class="content_dao">
	<a href="{:url('/admin/shoppingcar/Shoppingcar/index')}" class="icon-angle-left" style="float:left;margin-top:4px;margin-left:3%;color:white;"></a>
	<p class="cont_zhan">确认订单</p>
</div>

<!--<div class="Dqu_first">
	<p>为保证订单尽快送到，请确认收货地址(XXX市区XX县城)</p>
	<button>修改</button>
	<button>确认</button>
</div>-->

<div class="Dqu_second">
	<div class="Dqu_second_1">
		<p>收件人：XXX</p>
		<span>18798745684</span>
	</div>
	<div class="Dqu_second_2">
		<p>收货地址：就打发回家和对方就开始打很谨慎点好粪坑三顿饭哈登发啦；</p>
		<i class="icon-angle-right" style="float:right;margin-right:10%;"></i>
	</div>
	<div style="clear:both;"></div>
</div>

<div class="Dqux_third">
	<li>XX品牌</li>
	<div class="Dqux_third_1">
		<img src="__PUBLIC__/admin/images/sc.jpg">
		<p>这里是航拍描述这里是商品描述这里是商品描述这里是商品描述这里是商品描述</p>
        <i>X2</i>
		<span>￥:400</span>
	</div>
</div>

<div class="Dqux_forth">
	<div class="Dqux_forth_1">
		<span>配送方式</span>
		<p>快递免邮</p>
		<i class="icon-angle-right" style="float:right;margin-right:5%;margin-top:14px;"></i>
	</div>
	<div class="Dqux_forth_1">
		<span>运费险</span>
		<p>这里是运费险这是大家卡就看大</p>
		<i class="icon-angle-right" style="float:right;margin-right:5%;margin-top:14px;"></i>
	</div>
	<div class="Dqux_forth_1">
		<span>买家留言</span>
		<p>此处时买家留言可以与商家</p>
		<i class="icon-angle-right" style="float:right;margin-right:5%;margin-top:14px;"></i>
	</div>
	<div style="width:100%;height:60px;"></div>
	<div class="Dqux_bottom">
		<div class="Dqux_bottom_1">合计：<span>￥321.00</span></div>
		<button>提交订单</button>
	</div>
</div>

{/block}