{extend name="Public:public"/}
{block name="main"}
	<div class="MAXwidth LoginHead">
		<a href="" class="LoginHref fl icon-chevron-left">&nbsp;</a>
		<span>购物车</span>
		<a href="" class="LoginHome fr icon-trash"></a>
	</div>
	<div class="cb"></div>
	<div class="MAXwidth BoughtmenuBox">
		<div class="Boughtmenu">
			已购商品
		</div>
	</div>

	<ul class="MAXwidth BoughtFruitBox" id="BoughtFruitBox">
		<li class="BoughtFruit">
			<input type="checkbox" value="" class="check_one check">
			<a href=""><img class="fl" src="__PUBLIC__/admin/images/sc.jpg"></a>
			<span class="BoughtFruit_text fl">
						<p>南丰贡桔 南丰贡桔</p><br />
						<strong>12个装</strong><br />
						<em class="en_none">0</em>
						<b>88元</b>
					</span>
			<span class="BoughtFruit_input fl">
					<button>-</button><input type="text" class="BoughtFruit_num" name="num" value="1"/><button>+</button>
			</span>
		</li>

		<li class="BoughtFruit">
			<input type="checkbox" value="" class="check_one check">
			<a href=""><img class="fl" src="__PUBLIC__/admin/images/sc.jpg"></a>
			<span class="BoughtFruit_text fl">
						<p>南丰贡桔 南丰贡桔</p><br />
						<strong>12个装</strong><br />
						<em class="en_none">0</em>
						<b>88元</b>
					</span>
			<span class="BoughtFruit_input fl">
					<button>-</button><input type="text" class="BoughtFruit_num" name="num" value="2"/><button>+</button>
			</span>
		</li>
	</ul>

	<div class="TotalAmount">
		<input class="check_all check" type="checkbox"> 全选<span class="heji"></span><a href="{:url('/admin/shoppingcar/Shoppingcar/dingdanqu')}">立即结算</a>
	</div>


{/block}