{extend name="Public:index"/}
{block name="main"}
<div class="Reply-BigBox">
    <h1 class="top-head">微信消息回复管理</h1>
    <p>
        <button class="" onclick="AddReply()"><img src="__PUBLIC__/manage/images/icon-add.png" alt="">添加回复消息</button>
        <span><input type="text" value="" name="KeywordSearch" placeholder="&nbsp;&nbsp;&nbsp;姓名/电话"><i class="icon-search" onclick="KeywordSearch('')"></i></span>
    </p>
    <table class="Reply-table">
    <tbody>
        <tr>
            <th>编号</th>
            <th>接收内容</th>
            <th>关联公众号</th>
            <th>回复类型</th>
            <th>回复内容</th>
            <th>操作</th>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
        </tr>

    </tbody>
    </table>
</div>

<div class="Appaly_box">
    <div class="Appaly_first">
        <p>此处为公众号回复消息添加</p>
        <i class="icon-remove-circle" style="position:absolute;top:20px;right:3%;">关闭</i>
    </div>

    <div class="Appaly_Second">
        <div class="Appaly_Second_1">
            <button>提交</button>
        </div>
        <div class="cb"></div>
        <div class="Appaly_Second_2">
            <li>
                <span>回复消息</span>
                <input  type="text" name="" value="">
            </li>
            <li>
                <span>接受内容</span>
                <input  type="text" name="" value="">
            </li>
            <li>
                <span>回复类型</span>
                <select  onchange="Huifu('mune_x'+this.value)">
                    <option   name="" value="1">图文</option>
                    <option   name="" value="2">图片</option>
                    <option   name="" value="3">文字</option>
                </select>
            </li>

            <!--------------图片输入--------------->
            <div class="list" id="x1" style="display:block">
                <p>图文/图片(点击添加在下面写入添加内容)</p>
                <button onclick="Add_reply()">点击添加</button>
                <div style="clear:both;"></div>
            </div>
            <div class="list" id="x2"  style="display:none">
                2222222222222
            </div>
            <div class="list" id="x3" style="display:none">
                3333333333333333
            </div>

        </div>
    </div>
</div>
{/block}
