{extend name="Public:index"/}
{block name="main"}
    <div class="GoodsClass-box">
        <h1>手机端菜单</h1>
        <p class="operation">
            <button class="" onclick="AddHotClass()"><img src="__PUBLIC__/manage/images/icon-add.png" alt="">&nbsp;添加分类&nbsp;</button>
        </p>
        <table class="Mobmenu-index-table">
            <tbody>
            <tr>
                <th>编号</th>
                <th>分类名称</th>
                <th>图标</th>
                <th>图标修改</th>
                <th>是否启用</th>
                <th>添加时间</th>
                <th>列表模板</th>
                <th>操作</th>
            </tr>
            </tbody>
        </table>
    </div>
{/block}