{extend name="Public:index"/}
{block name="main"}
<div class="order_index">
    <p>已完成订单</p>
</div>
<div class="order_check">
    <p>快速查询：</p>
    <span><input type="text" value="" name="BusinessKeywordSearch" placeholder="&nbsp;商品、姓名、账号"><i class="icon-search" onclick="BusinessKeywordSearch('')"></i></span>
</div>
<table class="yifahuo_list">
    <tbody>
    <tr>
        <th>编号</th>
        <th>订单号</th>
        <th>用户信息</th>
        <th>创建时间</th>
        <th>所买商品</th>
        <th>订单金额</th>
        <th>收货信息</th>
        <th>物流信息</th>
    </tr>
    {volist name="order" id="vo"}
    <tr>
        <td>{$key+1}</td>
        <td>{$vo.GoodsOrderID}</td>
        <td>
            {$vo.UserName} <br>
        </td>
        <td>{$vo['lastUpdateTime']|date="Y.m.d H:i:s",###}</td>
        <td>
            商品名：{$vo.GoodsName};<br>
            套餐名：{$vo.PackageName};<br>
            数量：{$vo.num};
        </td>
        <td>￥：{$vo['price']}</td>
        <td>
            收货人：{$vo.ReceivePeople};&nbsp;&nbsp;&nbsp;联系电话：{$vo.ReceivePhoneNum}<br>
            地址：{$vo.ReceiveAddress}
        </td>
        <td>
            <span>查看物流</span>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>
{/block}