{extend name="Public:groups"/}

{block name="main"}
<div class="content_dao">
    <a href="{:url('/admin/personal/Personal/index')}" class="icon-angle-left" style="float:left;margin-top:4px;margin-left:3%;color:white;"></a>
    <p class="cont_zhan">拼了又拼</p>
</div>
<div class="jiange_kong"></div>
<!--------------中间轮播-------------->
<div class="list">
        <div id="demoLeft2Right" style="overflow:hidden;width:670px;background:#efefef;">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr><td id="demoLeft2Right_right" valign="top" align="center">
                    <table cellpadding="2" cellspacing="0" border="0">
                        <tr align="center">
                            <td>
                                <img src="__PUBLIC__/admin/images/sc.jpg" class="tuan_img">
                                <span class="tuan_span">这里是跟团描述一大堆</span>
                            </td>
                            <td>
                                <img src="__PUBLIC__/admin/images/sc.jpg" class="tuan_img">
                                <span class="tuan_span">这里是跟团描述一大堆</span>
                            </td>
                            <td>
                                <img src="__PUBLIC__/admin/images/sc.jpg" class="tuan_img">
                                <span class="tuan_span">这里是跟团描述一大堆</span>
                            </td>
                            <td>
                                <img src="__PUBLIC__/admin/images/sc.jpg" class="tuan_img">
                                <span class="tuan_span">这里是跟团描述一大堆</span>
                            </td>
                            <td>
                                <img src="__PUBLIC__/admin/images/sc.jpg" class="tuan_img">
                                <span class="tuan_span">这里是跟团描述一大堆</span>
                            </td>
                        </tr>
                    </table>
                </td>
                    <td id="demoLeft2Right_left" valign="top"></td>
                </tr>
            </table>
        </div>

        <div class="tuan_list">
            <img src="__PUBLIC__/admin/images/sc.jpg">
            <p>拼团拼团拼团拼团</p>
            <b>￥：80</b>
            <span>一团5减</span>
            <button onclick="Tuanlist()">马上开团</button>
        </div>
        <div class="tuan_list">
            <img src="__PUBLIC__/admin/images/sc.jpg">
            <p>拼团拼团拼团拼团</p>
            <b>￥：80</b>
            <span>一团5减</span>
            <button onclick="Tuanlist()">马上开团</button>
        </div>
        <div class="tuan_list">
            <img src="__PUBLIC__/admin/images/sc.jpg">
            <p>拼团拼团拼团拼团</p>
            <b>￥：80</b>
            <span>一团5减</span>
            <button onclick="Tuanlist()">马上开团</button>
        </div>
        <div class="tuan_list">
            <img src="__PUBLIC__/admin/images/sc.jpg">
            <p>拼团拼团拼团拼团</p>
            <b>￥：80</b>
            <span>一团5减</span>
            <button onclick="Tuanlist()">马上开团</button>
        </div>
        <div class="cheng"></div>
</div>
{/block}