{extend name="Public:index"/}
{block name="main"}
<div class="Goodslist-Index_left">
    <div class="treemenu">
        <div class="tree-box">
            <p><button class="TreeMenuOne-switch"><img src="__PUBLIC__/manage/images/openFile.png" alt=""></button><a href="javascript:GoodslistRegionChoice('0')">全部</a></p>
        </div>
        <div class="tree-box">
            <p><button class="TreeMenuOne-switch"><img src="__PUBLIC__/manage/images/openFile.png" alt=""></button><a href="javascript:GoodslistRegionChoice()">商家</a></p>
            <dl class="treeMenu-one" id="treeOpen_1">
                <dt><span>&nbsp;</span><button class="TreeMenuTwo-switch"><img src="__PUBLIC__/manage/images/openFile.png" alt=""></button><a href="javascript:GoodslistRegionChoice()">套餐一</a></dt>
                <dd  class="treeMenu-three" id="treeOpen_2">
                    <div><i>&nbsp;</i><button><img src="__PUBLIC__/manage/images/file.png" alt=""></button><a href="javascript:GoodslistRegionChoice()">套餐二</a></div>
                </dd>
                <div class="treeMenu-two"><i>&nbsp;</i><button><img src="__PUBLIC__/manage/images/file.png" alt=""></button><a href="javascript:GoodslistRegionChoice()">套餐三</a></div>
            </dl>
        </div>
    </div>
</div>
<div class="Goodslist">
    <h1>活动商品管理</h1>
    <div class="Goodslist-Content-Box">
        <p>
            <button class="" onclick="AddGoods()"><img src="__PUBLIC__/manage/images/icon-add.png" alt="">添加商品</button>
            <span><input type="text" value="" name="KeywordSearch" placeholder="&nbsp;&nbsp;&nbsp;搜索"><i class="icon-search" onclick="KeywordSearch('')"></i></span>
            <span>
                 活动日期：
            </span>
            <input type="datetime-local" name="start_date" value="" id="start_date" style="max-width: 150px;width: 15%"/>
            <label style="color: red"><font size="20px">至</font></label>
            <input type="datetime-local" name="end_date" value="" id="end_date" style="max-width: 150px;width: 15%"/>
        </p>
        <table class="Goodslist-table">
            <tbody>
            <tr>
                <th>编号</th>
                <th>商品</th>
                <th>商品封面</th>
                <th>套餐名称</th>
                <th>活动日期</th>
                <th>待定</th>
                <th>商品详情</th>
                <th>剩余商品数</th>
                <th>拼团启用</th>
                <th>操作</th>
            </tr>
            <tr>
                <td>{$key+1}</td>
                <td><h4 class="SJC_lin">商品名称：<b style="text-decoration: underline;">绵阳欢乐世界双十二狂欢节</b></h4><br>
                    <h4 class="SJC_lin">商品分类：<b style="text-decoration: underline;">旅游</b></h4><br>
                    <h4 class="SJC_lin">商家：<b style="text-decoration: underline;">大黄蜂有限公司</b></h4><br>
                    <h4 class="SJC_lin" style="text-decoration:line-through;">原价：￥128</h4><br>
                    <h4 class="SJC_lin"><b style="color: red;text-decoration: underline;">活动价：￥99</b></h4>
                </td>
                <td><img src="__ROTH__/uploads/20171129/E2e3c41062c7f28c81bf07ffe95ab8e71.jpg" alt="" class="BigImagesButton">
                    <input type="hidden" value="__ROTH__/uploads/20171129/2e3c41062c7f28c81bf07ffe95ab8e71.jpg"></td>
                <td>
                    <p style="overflow: hidden;">套餐一：<a onclick="PackageBox('')" >全家一日游</a></p>
                    <p style="overflow: hidden;">套餐二：<a onclick="PackageBox('')" >亲情1+1</a></p>
                    <p style="overflow: hidden;">套餐三：<a onclick="PackageBox('')">豪华单人行</a></p>
                </td>
                <td><b>2017.12.01</b>
                    <b style="color: red">2017.12.31</b>
                </td>
                <td>
                    待定
                </td>
                <td>
                    <button class=" icon-file-alt" onclick="GoodsPK()">&nbsp;&nbsp;详情</button>
                    <div class="Praise">
                        <button class=" icon-thumbs-up">&nbsp;&nbsp;点赞</button>
                        <!--点赞详情-->
                        <div class="GoodsPraises">
                            <p>
                                该商品共获赞：<b style="text-decoration: underline;">789</b>&nbsp;次
                            </p>
                        </div>
                    </div>
                    <button class=" icon-align-right" onclick="GoodsParameter()">&nbsp;&nbsp;参数</button>
                    <button class=" icon-comment" onclick="GoodsComment()">&nbsp;&nbsp;评论</button>
                </td>
                <td>
                    <font size="5" color="red">剩余</font>：<b style="text-decoration: underline">118</b><font size="5" face="arial" color="red">张</font>
                </td>
                <td>
                    <span class="GoodsFight" >
                        <input type="hidden" value="{$vo['Enable']==='1'?'open':'off'}" class="status GoodsState{}" style="width:100%;">
                        <button class="GoodsFight-open" onclick="Up_Menu()">
                            <img src="__PUBLIC__/manage/images/inco-open.png" alt="">&nbsp;启用
                        </button>
                        <button class="GoodsFight-off" onclick="End_Menu()">
                            <img src="__PUBLIC__/manage/images/inco-close.png" alt="">禁用&nbsp;
                        </button>
                    </span>
                </td>
                <td> <button onclick="EditGoods()">
                    <img src="__PUBLIC__/manage/images/iocn-edit.png" alt="">编辑
                    </button>
                    <button onclick="DelGoods()">
                        <img src="__PUBLIC__/manage/images/recycle_bin_full.png" alt="">删除
                    </button>
                    <span class="GoodsChoice">
                        <input type="hidden" value="{$vo['Enable']==='1'?'open':'off'}" class="status GoodsState{">
                        <button class="GoodsMenu-open" onclick="UpMenu()">
                            <img src="__PUBLIC__/manage/images/inco-open.png" alt="">&nbsp;上架
                        </button>
                        <button class="GoodsMenu-off" onclick="EndMenu()">
                            <img src="__PUBLIC__/manage/images/inco-close.png" alt="">下架&nbsp;
                        </button>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="SeeBigImages" onclick="closeImage()">
        <img src="" alt="">
    </div>
</div>
<script>
    document.getElementById('start_date').valueAsDate = new Date();
    document.getElementById('end_date').valueAsDate = new Date();

</script>

<!--商品添加-->
<div class="Goods-AddMenu-Box">
    <div class="Pcmenu-AddMenu-Window">
        <p>
            <button class="icon-remove-circle" onclick="closeAddGoods()"><b>关闭</b></button>
            <span class="cb"></span>
        </p>
        <h1>商品添加</h1>
        <div class="Pcmenu-AddMenu layui-form">
            <span>
                <label>商&nbsp;&nbsp;品&nbsp;&nbsp;名&nbsp;&nbsp;称</label><input type="text" name="goodsName" value="" placeholder="请输入商品名称">
            </span><br>
            <span>
                <label>所&nbsp;&nbsp;属&nbsp;&nbsp;商&nbsp;&nbsp;家</label><input type="text" name="sjName" value="" placeholder="请输入商家名称">
            </span><br>
            <span>
                <label>商&nbsp;&nbsp;品&nbsp;&nbsp;分&nbsp;&nbsp;类</label>
                    <select class="AddLiabilityGoods-Choice_one">
                        <option value="0">--选择--</option>
                        <option value="1">--类别--</option>
                    </select>
            </span><br>
            <span>
                <label>实&nbsp;&nbsp;际&nbsp;&nbsp;价&nbsp;&nbsp;格</label>
                <input type="text" name="price" id="price" value="" placeholder="实际价格"></input>&nbsp;&nbsp;
                <label style="width: 5%;"><b>||&nbsp;&nbsp;</b></label>
                <label>活&nbsp;&nbsp;动&nbsp;&nbsp;价&nbsp;&nbsp;格</label>
                <input type="text" name="activeprice" id="activePrice" value="" placeholder="实际价格"  ></input>&nbsp;
            </span>
            <span>
                <label>商&nbsp;&nbsp;品&nbsp;&nbsp;数&nbsp;&nbsp;量</label>
                <input type="number" name="number" id="number" value="">
            </span>
            <span>
                <label>商&nbsp;&nbsp;品&nbsp;&nbsp;详&nbsp;&nbsp;情</label><br>
            <script id="container" name="content" type="text/plain" >
这里写你的初始化内容
            </script>
            </span>
            <span>
                <label>商&nbsp;&nbsp;品&nbsp;&nbsp;照&nbsp;&nbsp;片</label><input type="file" name="head" onchange="previewFile()" id="img2"/>
            </span><br>
            <span style="height: 100px;text-align: center;">
                <div  id="img1">
                    <img src="" height="99" width="71" alt="请上传商品照"/>
                </div>
            </span><br>
            <span>
                <label>有&nbsp;&nbsp;&nbsp;效&nbsp;&nbsp;&nbsp;期</label>
                <input type="datetime-local" name="start_date" value="2015/03/27 10:41" id="Start-Tate" style="max-width: 250px;width: 15%" />
                <label style="width: 5%"><font size="20px" color="red">至</font></label>
                <input type="datetime-local" name="end_date" value="2015/03/27 10:41" id="End-Date" style="max-width: 250px;width: 15%"/>
            </span><br>
            <div class="AddMenu-Submit">
                <button onclick="AddGoodsSubmit()">提&nbsp;&nbsp;&nbsp;交</button>
            </div>
        </div>
    </div>
</div>
<!--商品编辑-->
<div class="EditGoods-EditMenu-Box">
    <div class="Pcmenu-AddMenu-Window">
    <p>
        <button onclick="closeEditGoods()"><b>关闭</b></button>
        <span class="cb"></span>
    </p>
    <h1>商品编辑页面</h1>
    <div class="Pcmenu-AddMenu layui-form">
            <span>
                <label>商&nbsp;&nbsp;品&nbsp;&nbsp;名&nbsp;&nbsp;称</label><input type="text" name="goodsName" value="" placeholder="请输入商品名称">
        </span><br>
        <span>
                <label>所&nbsp;&nbsp;属&nbsp;&nbsp;商&nbsp;&nbsp;家</label><input type="text" name="sjName" value="" placeholder="请输入商家名称">
            </span><br>
        <span>
                <label>商&nbsp;&nbsp;品&nbsp;&nbsp;分&nbsp;&nbsp;类</label>
            <input type="text" name="choice" value="">
                    <select class="AddLiabilityGoods-Choice_one">
                        <option value="0">--选择--</option>
                        <option value="1">--类别--</option>
                    </select>
            </span><br>
        <span>
                <label>实&nbsp;&nbsp;际&nbsp;&nbsp;价&nbsp;&nbsp;格</label>
                <input type="text" name="price"  value="" placeholder="实际价格"></input>&nbsp;&nbsp;
                <label style="width: 5%;"><b>||&nbsp;&nbsp;</b></label>
                <label>活&nbsp;&nbsp;动&nbsp;&nbsp;价&nbsp;&nbsp;格</label>
                <input type="text" name="activeprice"  value="" placeholder="实际价格"  ></input>&nbsp;
            </span>
        <span>
                <label>商&nbsp;&nbsp;品&nbsp;&nbsp;数&nbsp;&nbsp;量</label>
                <input type="number" name="number" id="" value="">
            </span>
        <span>
                <label>商&nbsp;&nbsp;品&nbsp;&nbsp;详&nbsp;&nbsp;情</label>
            <input type="text" name="content" id="content" value="此处我有话要说，这个不必再发了！我也这么觉得，你说的对吗？" overflow="hidden">
            </span>
        <span>
                <label>商&nbsp;&nbsp;品&nbsp;&nbsp;照&nbsp;&nbsp;片</label><input type="file" name="head" onchange="previewFile()"  value=""/>
            </span><br>
        <span style="height: 100px;text-align: center;">
                <div >
                    <img src="" height="99" width="71" alt="请上传商品照"/>
                </div>
            </span><br>
        <span>
                <label>有&nbsp;&nbsp;&nbsp;效&nbsp;&nbsp;&nbsp;期</label>
                <input type="datetime-local" id="starDate" name="start_date" value=""style="max-width: 350px;width: 15%"  />
                <label style="width: 5%"><font size="20px" color="red">至</font></label>
                <input type="datetime-local" id="endDate" name="end_date" value="" style="max-width: 350px;width:15%"  />
            </span><br>
        <div class="EditMenu-Submit">
            <button onclick="AddGoodsSubmit()">提&nbsp;&nbsp;&nbsp;交</button>
        </div>
    </div>
    </div>
</div>
<!--套餐详情-->
<div class="Package-Menu-Box">
    <p >
        <button class="icon-remove-sign" onclick="closeShow()"></button>
        <span class="cb"></span>
    </p><br><br>
    <p>
        这里为解释套餐详细信息
    </p>
</div>
<!--商品详情-->
<div class="GoodsPK-Menu-Box">
    <p >
        <button class="icon-remove-sign" onclick="closeGoodsPK()">关闭</button>
        <span class="cb"></span>
    </p><br><br>
    <p>
        此处为商品信息详细介绍！
    </p>
</div>
<!--商品参数详情-->
<div class="GoodsParameter-Menu-Box">
    <p>
        <button class="icon-remove-sign" onclick="closeGoodsParameter()">关闭</button>
        <span class="cb"></span>
    </p><br><br>
    <script id="GoodsContent" name="content" type="text/plain" >
这里写你的初始化内容
            </script>
</div>
<!--商品评论信息-->
<div class="GoodsComment-Menu-Box">
    <p>
        <button class="icon-remove-sign" onclick="closeGoodsComment()">关闭</button>
        <span class="cb"></span>
    </p><br><br>
    <div>
        <div style="color: red">累计评论<font size="20px" color="#00008b">388</font>条</div>
        <div>
            <span>用户1号</span><span>2017/12/13 17:21</span>
            <p>
                此处为用户评论！
            </p>
            <p>用户所选择商品</p>
        </div>
    </div>
</div>

<!-- 配置文件 -->
<script type="text/javascript" src="ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('container');
    var ue=UE.getEditor('GoodsContent');
</script>
{/block}


