{extend name="Public:index"/}
{block name="main"}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=hYbeIVOGXQCFUANLtYxhpHfDDLzGaxwo"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/DistanceTool/1.2/src/DistanceTool_min.js"></script>

<div class="Goodslist-Index_left">
    <div class="treemenu">
        <div class="tree-box">
            <p>
                <button class="TreeMenuOne-switch">
                    &nbsp;
                </button>
                <a href="javascript:GoodsClassChoice('0')">全部</a>
            </p>
        </div>
        {volist name="ClassList" id="list"}
        <div class="tree-box">
            <p>
                <button class="TreeMenuOne-switch">
                    <img src="__PUBLIC__/manage/images/openFile.png" alt="">
                </button>
                <a href="javascript:GoodsClassChoice('{$list.id}')">{$list.ClassName}</a>
            </p>
            {present name="list.children.0"}


            <dl class="treeMenu-one" id="treeOpen_1">
                {volist name="list.children" id="list_2"}
                {present name="list_2.children.0"}
                <dt>
                    <span>&nbsp;</span>
                    <button class="TreeMenuTwo-switch">
                        <img src="__PUBLIC__/manage/images/openFile.png" alt="">
                    </button>
                    <a href="javascript:GoodsClassChoice('{$list_2.id}')">{$list_2.ClassName}</a>
                </dt>
                <dd  class="treeMenu-three" id="treeOpen_2">
                    {volist name="list_2.children" id="list_3"}
                    <div>
                        <i>&nbsp;</i>
                        <button>
                            <img src="__PUBLIC__/manage/images/file.png" alt="">
                        </button>
                        <a href="javascript:GoodsClassChoice('{$list_3.id}')">{$list_3.ClassName}</a>
                    </div>
                    {/volist}
                </dd>
                {else /}
                <div class="treeMenu-two">
                    <i>&nbsp;</i>
                    <button>
                        <img src="__PUBLIC__/manage/images/file.png" alt="">
                    </button>
                    <a href="javascript:GoodsClassChoice('{$list_2.id}')">{$list_2.ClassName}</a>
                </div>
                {/present}
                {/volist}
            </dl>

            {/present}
        </div>
        {/volist}
    </div>
    <div style="clear:both;"></div>
</div>
<div class="Goodslist">
    <h1>活动商品管理</h1>
    <div class="Goodslist-Content-Box">
        <p class="layui-form">
            <button class="" onclick="AddGoods()">
                <img src="__PUBLIC__/manage/images/icon-add.png" alt="">添加商品
            </button>
            <span>
                <input type="text" value="" name="KeywordSearch" placeholder="&nbsp;&nbsp;&nbsp;搜索">
                <i class="icon-search" onclick="GoodsKeywordSearch('')"></i>
            </span>
            <span>
            &nbsp;&nbsp; 活动日期:
            <input type="text" name="start_date" id="date5" lay-verify="date" placeholder="年-月-日：时-分-秒" autocomplete="off">&nbsp;至
            <input type="text" name="start_date" id="date6" lay-verify="date" placeholder="年-月-日：时-分-秒" autocomplete="off">
            <i class="icon-search" onclick="timeSearch('')"></i>
            </span>
        </p>
        <table class="Goodslist-table">
            <tbody>
            <tr>
                <th>编号</th>
                <th>商品</th>
                <th>商家</th>
                <th>热门分类模板</th>
                <th>套餐</th>
                <th>活动日期</th>
                <th>热门分类</th>
                <th>商品详情</th>
                <th>拼团启用</th>
                <th>操作</th>
            </tr>
            {volist name="GoodsList" id="value"}
            <tr>
                <td>{$key+1}</td>
                <td>
                    名称：{$value.GoodsName}<br>
                    分类：{$value.ClassName}<br>
                    价格：￥{$value.activityPrice}&nbsp;&nbsp;<i style="text-decoration: line-through;color: #8a8a8a;font-size: 12px;">￥{$value.oldPrice}&nbsp;</i><br>
                </td>
                <td>
                    商家：{$value.CompanyName}<br>
                </td>
                <td>
                    <a href="">查看</a><br>
                    模板1
                </td>
                <td>
                    <a href="">查看</a><br>
                </td>
                <td>
                    {$value['startTime']|date="Y/m/d H:i",###}<br>
                    至 <br>
                    {$value['endTime']|date="Y/m/d H:i",###}
                </td>
                <td>
                    {volist name="value.HotClass" id="res"}
                        【{$res.HotName}】<br>
                    {/volist}

                </td>
                <td>
                    <button class="" onclick="GoodsPK()">
                        <img src="__PUBLIC__/manage/images/icon-details.png">详情
                    </button>
                    <button onclick="GoodsParameter()">
                        <img src="__PUBLIC__/manage/images/icon-parameter.png">参数
                    </button><br>
                    <button onclick="GoodsComment()">
                        <img src="__PUBLIC__/manage/images/icon-comment.png" alt="">评论
                    </button>

                        <button class="SHOW_Praise">
                            <img src="__PUBLIC__/manage/images/icon-laud.png" alt="">
                            获赞
                                <span class="GoodsPraise">
                                    该商品共获赞：<b style="text-decoration: underline;">789</b>&nbsp;次
                                </span>
                        </button>
                        <!--点赞详情-->
                        <br>


                </td>
                <td>
                    <span class="GoodsFight" >
                        <input type="hidden" value="" class="status GoodsState{}" style="width:100%;">
                        <button class="GoodsMenu-open" onclick="Up_Menu()">
                            <img src="__PUBLIC__/manage/images/qy-sdks.jpg" alt="">
                            启用
                        </button>
                        <button class="GoodsMenu-off" onclick="End_Menu()">
                            <img src="__PUBLIC__/manage/images/qyyyss.jpg" alt="">
                            禁用
                        </button>
                    </span>
                </td>
                <td>
                    <button onclick="EditGoods()" >编辑
                    <img src="__PUBLIC__/manage/images/iocn-edit.png" alt="">
                    </button><br>
                    <button onclick="DelGoods()" >删除
                        <img src="__PUBLIC__/manage/images/recycle_bin_full.png" alt="">
                    </button><br>
                    <span class="GoodsChoice">
                        <input type="hidden" value="" class="status GoodsState">
                        <button class="GoodsChoiceMenu-open" onclick="UpMenu()">
                            <img src="__PUBLIC__/manage/images/end-ssdk.jpg" alt="">
                            上架
                        </button><br>
                        <button class="GoodsChoiceMenu-off" onclick="EndMenu()">
                            <img src="__PUBLIC__/manage/images/up-ssdk.jpg" alt="">
                            下架
                        </button>
                    </span>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
        <input type="hidden" name="GoodsNowPage" value="{$NowPage}">
        <input type="hidden" name="GoodsAllPage" value="{$AllPage}">
        <div class="fenye" style="float:right;margin-right:2%;">

            <a class="icon-double-angle-left" href="javascript:void(0)" onclick="GoodsFenYe('Previous')"></a>
            {volist name="page" id="vo"}
            <a href="javascript:void(0);" id='{$vo==$NowPage?"NowPage":""}' onclick="GoodsFenYe('{$vo}')">{$vo}</a>
            {/volist}
            <a class=" icon-double-angle-right" href="javascript:void(0)" onclick="GoodsFenYe('next')"></a>
        </div>
    </div>
    <div style="clear:both;"></div>
    <div class="SeeBigImages" onclick="closeImage()">
        <img src="" alt="">
    </div>
</div>
<!------------------------------------商品添加--------------------------------------->
<div class="Goods-AddMenu-Box">
    <div class="Pcmenu-AddMenu-Window">
        <p>
            <button class="icon-remove-circle" onclick="closeAddGoods()"><b>关闭</b></button>
            <span class="cb"></span>
        </p>
        <h1>商品添加</h1>
        <div class="Pcmenu-AddMenu">
            <span>
                <label>商&nbsp;&nbsp;品&nbsp;&nbsp;名&nbsp;&nbsp;称</label><input type="text" name="goodsName" value="" placeholder="请输入商品名称">
                <label style="width: 40px;"><b>*&nbsp;&nbsp;</b></label>
                <label>所&nbsp;&nbsp;属&nbsp;&nbsp;商&nbsp;&nbsp;家</label>
                {if condition="$peopleType neq 'admin'"}
                <input type="text" name="sjName" value="{$businessName}" disabled placeholder="请输入商家名称">
                {else /}
                <select name="sjName" id="BusinessChoice">
                    <option value="0">--请选择--</option>
                    {volist name="BusinessList" id="BU"}
                    <option value="{$BU.id}">{$BU.CompanyName}</option>
                    {/volist}
                </select>
                {/if}
            </span><br>
            <span>
                <label>商&nbsp;&nbsp;品&nbsp;&nbsp;分&nbsp;&nbsp;类</label>

                    <select class="AddLiabilityGoods-Choice_one">
                        <option value="0">--选择--</option>
                        {volist name="ClassList" id="choice"}
                        <option value="{$choice.id}">--{$choice.ClassName}--</option>
                        {/volist}
                    </select>
                    {volist name="ClassList" id="choice_1"}
                    {present name="choice_1.children.0"}
                    <select id="AddLiabilityGoods{$choice_1.id}" class="Choice-hidden">
                        <option value="0">--选择--</option>
                        {volist name="choice_1.children" id="choice_2"}
                        <option value="{$choice_2.id}">--{$choice_2.ClassName}--</option>
                        {/volist}
                    </select>
                    {/present}
                    {/volist}
            </span><br>
            <span>

                <label>实&nbsp;&nbsp;际&nbsp;&nbsp;价&nbsp;&nbsp;格</label>
                    <input type="text" name="price" id="price" value="" placeholder="实际价格">&nbsp;&nbsp;
                <label style="width:20px;">*</label>
                <label>活&nbsp;&nbsp;动&nbsp;&nbsp;价&nbsp;&nbsp;格</label>
                    <input type="text" name="activeprice" id="activePrice" value="" placeholder="活动价格"  >&nbsp;
                <label style="width:20px;">*</label>
                <label>商&nbsp;&nbsp;品&nbsp;&nbsp;数&nbsp;&nbsp;量</label>
                    <input type="text" name="number" id="number" value="">

            </span>
            <span>
                <label>热&nbsp;&nbsp;门&nbsp;&nbsp;分&nbsp;&nbsp;类</label>
                {volist name="HotClass" id="Hot"}
                <b>{$Hot.HotName}</b><input type="checkbox" name="AddHot" value="{$Hot.id}" style="width:2%;">
                {/volist}
            </span>
            <span>
                <label>商&nbsp;&nbsp;品&nbsp;&nbsp;照&nbsp;&nbsp;片</label>
            </span><br>
            <span>
                <a href="javascript:;" class="a-upload">
                    <input type="file" name="file[]" id="doc" multiple="multiple" onchange="javascript:setImagePreviews(this.value);" accept="image/*" />
                </a>
                <button onclick="uplode()" style="width:15%;height:25px;">上传</button>
            </span>
            <span style="height:150px;">
                <div id="dd" style=" width:990px;float: left;"></div>
            </span>
            <span class="layui-form">
                <label style="letter-spacing:8px;">活动时间</label>
                <input type="text" name="start_time" id="date3" lay-verify="date" placeholder="年-月-日：时-分-秒" autocomplete="off" class="layui-input">
                <label style="width: 5%"><font size="20px" color="red">至</font></label>
                <input type="text" name="end_time" id="date4" lay-verify="date" placeholder="年-月-日：时-分-秒" autocomplete="off" class="layui-input">
            </span><br>
            <span>
                商品地址（点击地图获取定位）
            </span><input type="text" value="" placeholder="城市定位" name="Map-serch"><button id="Map-serch">搜索</button>
            <input type="text" value="" placeholder="地名" name="position-name" id="position-name">
            <input type="text" value="" placeholder="经度" disabled name="position-X">
            <input type="text" value="" placeholder="纬度" disabled name="position-Y">

            <div id="allmap" style="height:300px;width:100%;cursor:crosshair"></div>
            <!--<div id="r-result"></div>-->


            <div class="AddMenu-Submit">
                <button onclick="AddGoodsSubmit()">提&nbsp;&nbsp;&nbsp;交</button>
            </div>
        </div>
    </div>
</div>
<!--商品编辑-->
<div class="EditGoods-EditMenu-Box">
    <div class="Pcmenu-AddMenu-Window">
        <p>
            <button class="icon-remove-circle" onclick="closeEditGoods()"><b>关闭</b></button>
            <span class="cb"></span>
        </p>
        <h1>商品编辑</h1>
        <div class="Pcmenu-AddMenu">
            <span>
                <label>商&nbsp;&nbsp;品&nbsp;&nbsp;名&nbsp;&nbsp;称</label><input type="text" name="goodsName" value="" placeholder="请输入商品名称">
                <label style="width: 40px;"><b>*&nbsp;&nbsp;</b></label>
                <label>所&nbsp;&nbsp;属&nbsp;&nbsp;商&nbsp;&nbsp;家</label><input type="text" name="sjName" value="" placeholder="请输入商家名称">
            </span><br>
            <span>
                <label>商&nbsp;&nbsp;品&nbsp;&nbsp;分&nbsp;&nbsp;类</label>
                    <select class="AddLiabilityGoods-Choice_two">
                        <option value="0">--选择--</option>
                        <option value="1">--类别--</option>
                    </select>***
                    <select id="Select0" class="Choice-hidden">
                        <option value="0">--选择--</option>
                        <option value="1">--类别--</option>
                    </select>
                    <select id="Select1" class="Choice-hidden">
                        <option value="0">--选择--</option>
                        <option value="1">--类别--</option>
                    </select>
                    <select id="Select2" class="Choice-hidden">
                        <option value="0">--选择--</option>
                        <option value="1">--类别--</option>
                    </select>
            </span><br>
            <span>

                <label>实&nbsp;&nbsp;际&nbsp;&nbsp;价&nbsp;&nbsp;格</label>
                <input type="text" name="price"  value="" placeholder="实际价格"></input>&nbsp;&nbsp;
                <label style="width:20px;">*</label>
                <label>活&nbsp;&nbsp;动&nbsp;&nbsp;价&nbsp;&nbsp;格</label>
                <input type="text" name="activeprice"  value="" placeholder="实际价格"  ></input>&nbsp;
                <label style="width:20px;">*</label>
                <label>商&nbsp;&nbsp;品&nbsp;&nbsp;数&nbsp;&nbsp;量</label>
                <input type="number" name="number"  value="">
            </span><br>
            <span>
                <label>商&nbsp;&nbsp;品&nbsp;&nbsp;照&nbsp;&nbsp;片</label><input type="file" name="head" onchange="previewFile()" id="img2"/>
            </span>
            <span style="height: 210px;text-align: center;">
                <div  id="img3">
                    <img src="" height="99" width="71" alt="请上传商品照"/>
                </div>
            </span><br>
            <span>
                <label>热&nbsp;&nbsp;门&nbsp;&nbsp;分&nbsp;&nbsp;类</label>
                <b>热卖</b><input type="checkbox" name="" value="" style="width:2%;">
                <b>限时抢购</b><input type="checkbox" name="" value="" style="width:2%;">
                <b>你猜</b><input type="checkbox" name="" value=""  style="width:2%;">
                <b>你再猜</b><input type="checkbox" name="" value=""  style="width:2%;">
                <b>你继续猜</b><input type="checkbox" name="" value="" style="width:2%;">
            </span>
            <span class="layui-form">
                <label style="letter-spacing:8px;">活动时间</label>
                <input type="text" name="start_date" id="date1" lay-verify="date" placeholder="年-月-日：时-分-秒" autocomplete="off" class="layui-input">
                <label style="width: 5%"><font size="20px" color="red">至</font></label>
                <input type="text" name="end_date" id="date2" lay-verify="date" placeholder="年-月-日：时-分-秒" autocomplete="off" class="layui-input">
            </span><br>
            <div class="AddMenu-Submit">
                <button onclick="AddGoodsSubmit()">提&nbsp;&nbsp;&nbsp;交</button>
            </div>
        </div>
    </div>
</div>
<!--套餐详情-->
<div class="Package-Menu-Box">
    <p >
        <button class="icon-remove-sign" onclick="closeShow()"></button>
        <span class="cb"></span>
    </p><br><br>
    <p>
        这里为解释套餐详细信息
    </p>
</div>
<!---------------------------------------------商品详情------------------------------>
<div class="GoodsPK-Menu-Box">
    <p >
        <button class="icon-remove-sign" onclick="closeGoodsPK()">关闭</button>
        <span class="cb"></span>
    </p><br>
    <h1>商品详情编辑</h1>
    <div align="center" style="width:90%;margin-left:5%;">
        <textarea id="newsEditor" name="content" style="height: 100%">请输入新闻内容... </textarea>
        <script type="text/javascript">
            UE.getEditor('newsEditor');
            // var content = UE.getPlainTxt();//content就是编辑器的带格式的内容
            function createEditor(){
                enableBtn();
                UE.getEditor('editor')
            }
            //        function getAllHtml() {
            //            alert( UE.getEditor('newsEditor').getAllHtml() )
            //        }
            function getContent() {
                var arr = [];
    //          arr.push( "使用editor.getContent()方法可以获得编辑器的内容" );
    //          arr.push( "内容为：" );
                arr.push(  UE.getEditor('newsEditor').getContent() );
                var UEvalue = arr.join( "\n" );
                $(".GoodsPK-Yulan-Box").fadeIn(700);
//            alert( arr.join( "\n" ) );
                $("#yulan-box").html(UEvalue);
            }
            function closeYulan() {
                $(".GoodsPK-Yulan-Box").fadeOut(1000);
            }
            function Xiang_Submit(){
                var arr = [];
                //          arr.push( "使用editor.getContent()方法可以获得编辑器的内容" );
                //          arr.push( "内容为：" );
                arr.push(  UE.getEditor('newsEditor').getContent() );
                var UEvalue = arr.join( "\n" );
                $.ajax({
                    url:'Xiangqing',
                    type:'post',
                    data:({data:UEvalue}),
                    success:function (msg) {
                        if(msg=="error")
                        {
                            $.showBox(" 详情提交失败！");
                        }
                        else
                        {
                            $.showBox(" 详情提交成功！");
                        }
                    },
                    error:function (msg) {
                        $.showBox("错误，请重试！");
                    }
                });
            }
        </script>
    </div>
    <div class="Xiang-Submit">
        <div class="X-Submit2">
            <button onclick="Xiang_Submit()">提&nbsp;&nbsp;&nbsp;交</button>
        </div>
        <div class="X-Submit1">
            <button onclick="getContent()">预&nbsp;&nbsp;&nbsp;览</button>
        </div>
    </div>
</div>

<!-----------------------------------商品详情预览-------------------------------------->
<div class="GoodsPK-Yulan-Box">
    <p >
        <button class="icon-remove-sign" onclick="closeYulan()">关闭</button>
        <span class="cb"></span>
    </p><br>
    <div id="yulan-box"></div>
</div>
<!---------------------------------------商品参数--------------------------------->
<div class="GoodsParameter-Menu-Box">
    <p>
        <button class="icon-remove-sign" onclick="closeGoodsParameter()">关闭</button>
        <span class="cb"></span>
    </p><br>
    <textarea id="newsEditor1" name="content" style="height: 50%">请输入新闻内容... </textarea>
    <script type="text/javascript">
        UE.getEditor('newsEditor1');
        // var content = UE.getPlainTxt();//content就是编辑器的带格式的内容

    </script>
</div>
<!--商品评论-->
<div class="GoodsComment-Menu-Box">
    <p>
        <button class="icon-remove-sign" onclick="closeGoodsComment()">关闭</button>
        <span class="cb"></span>
    </p><br><br>
    <div class="Message-Number">
     <p><b>累计留言</b><span>&nbsp;288&nbsp;</span><b>条</b></p>
    </div>
    <div class="user-Message">
        <span>用户1号</span><br>
        <span>2017/12/13 19:20</span>
        <div>
            <div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在此处用户可对商品进行详细的评论！
            </div>
        </div>
        <div style="text-align: right">
            <span >购买的商品：套餐一</span>
        </div>
    </div>
</div>
{/block}


