<li class="icon-remove-sign" onclick="cl_check_tao()" style="width:20%;height:40px;float:right;margin-right:2%;text-align:center;line-height:40px;font-size:20px;cursor:pointer">关闭</li>
<div style="clear:both;"></div>
<li class="taocan_l1">套餐详情添加</li>
<button  class="Bton" onclick="Add_tao()">点击添加</button>
<button  class="Bton" onclick="Add_tao()">点击保存</button>
<br>
<div id="taocan">
    <input type="hidden" value="{$count}" name="PackageCount">
    {empty name="package"}

    {else /}
    {volist name="package" id="vo"}
    <form action="PackageSubmit" method="post" id="PackageSubmit{$key+1}" >
        <li>
        名称：<input type="text" name="Min" value="{$vo.PackageName}">
        提醒：<input type="text" name="Tix" value="{$vo.careful}">
        价格：<input type="text" name="Price" value="{$vo.OldPrice}">
        活动价：<input type="text" name="AcPrice" value="{$vo.ActivityPrice}">
            <input type="hidden" name="PackageID" value="{$vo.PackageId}">
        </li>
        <button class="Dle1" onclick="DEl('{$vo.PackageId}','{$key+1}')">删除</button>
    </form>
    {/volist}
    {/empty}
</div>