<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理系统首页</title>
    <link rel="stylesheet" href="__PUBLIC__/manage/css/M_style.css" />
    <link rel="stylesheet" href="__PUBLIC__/manage/css/treeMenu.css" />
    <link rel="stylesheet" href="__PUBLIC__/admin/css/font-awesome.min.css" />
    <script language="JavaScript" src="__PUBLIC__/admin/js/jquery-3.2.1.js"></script>
    <script language="JavaScript" src="__PUBLIC__/manage/js/index.js"></script>
    <script language="JavaScript" src="__PUBLIC__/manage/js/treeMenu.js"></script>
</head>
<body>

    <div class="Content_Box">
    </div>
</body>
</html>