{extend name="Public:public_2"/}
{block name="main"}
<div class="content_dao">
    <a href="{:url('/admin/personal/Personal/index')}" class="con_s1 icon-chevron-left" style="margin-top:5.5px;"></a>
    <p class="cont_zhan">待评价订单</p>
</div>

<div class="fitst">
    <div class="firdt_1">
        <span>订单号:XXXXXXXXXXXXXXXXXXXXXX</span>
    </div>
    <div class="first_2">
        <img src="/public/static/manage/images/1506842609781.jpg">
        <div class="first_2_1">
            <span>商品名称名称</span>
            <span>￥:800</span>
        </div>
        <div class="first_2_2">
            <span>X2</span><br>
            <a href="{:url('/admin/personal/Personal/pinjiaz')}">点击评价</a>
        </div>
        <div style="clear:both;"></div>
    </div>
    <span class="firdt_3">2018-09-90 00:00:00</span>
</div>

<div class="fitst">
    <div class="firdt_1">
        <span>订单号:XXXXXXXXXXXXXXXXXXXXXX</span>
    </div>
    <div class="first_2">
        <img src="/public/static/manage/images/1506842609781.jpg">
        <div class="first_2_1">
            <span>商品名称名称</span>
            <span>￥:800</span>
        </div>
        <div class="first_2_2">
            <span>X2</span><br>
            <a href="{:url('/admin/personal/Personal/pinjiaz')}">点击评价</a>
        </div>
        <div style="clear:both;"></div>
    </div>
    <span class="firdt_3">2018-09-90 00:00:00</span>
</div>

<div class="fitst">
    <div class="firdt_1">
        <span>订单号:XXXXXXXXXXXXXXXXXXXXXX</span>
    </div>
    <div class="first_2">
        <img src="/public/static/manage/images/1506842609781.jpg">
        <div class="first_2_1">
            <span>商品名称名称</span>
            <span>￥:800</span>
        </div>
        <div class="first_2_2">
            <span>X2</span><br>
            <a href="{:url('/admin/personal/Personal/pinjiaz')}">点击评价</a>
        </div>
        <div style="clear:both;"></div>
    </div>
    <span class="firdt_3">2018-09-90 00:00:00</span>
</div>


{/block}