{extend name="Public:public_2"/}
{block name="main"}
<div class="content_dao">
    <a href="{:url('/admin/personal/Personal/index')}" class="con_s1 icon-chevron-left" style="margin-top:5.5px;"></a>
    <p class="cont_zhan">待评价订单</p>
</div>

{volist name="order" id="vo"}
<div class="fitst">
    <div class="firdt_1">
        <span>订单号:{$vo.GoodsOrderID}</span>
    </div>
    <div class="first_2">
        <a href=""><img src="__ROTH__/uploads/{$vo.CovorImg}"></a>
        <div class="first_2_1">
            <span>{$vo.GoodsName}</span>
            <span>{$vo.PackageName}：￥{$vo['price']/$vo['num']}</span>
        </div>
        <div class="first_2_2">
            <span>X{$vo.num}</span><br>
            <a href="javascript:void(0);" onclick="Pingjia('{$vo.id}','{$vo.Id}')">点击评价</a>
        </div>
        <div style="clear:both;"></div>
    </div>
    <span class="firdt_3">{$vo.lastUpdateTime|date="Y/m/d H:i:s",###}</span>
</div>
{/volist}
{/block}