{extend name="Public:public_2"/}
{block name="main"}
<div class="quan_first">
	<a href="javascript:void(0)" class="icon-chevron-left ComeBack" onclick="history.go(-1)"></a>
	<button class="FenXiang icon-th-list" onclick="FenXiang()"></button><br>
	<div style="width: 110px;display: inline-block">&nbsp;</div>
	这里是用户名字
	<img src="__PUBLIC__/admin/images/978684a9018de9d75fd1fecfc789208d.jpg" alt="" class="UserHead">
</div>
<div class="LeftMenu">
	<p>
		<span class="fl icon-double-angle-right Close_LeftMenu" onclick="CloseFenXiang()"></span>
	</p>
	<table class="LeftMenu_button">
		<tr onclick="FenX('1')">
			<td>分享到朋友圈</td>
			<td><i class="icon-chevron-right"></i></td>
		</tr>
	</table>
	<table class="LeftMenu_button">
		<tr onclick="FenX('2')">
			<td>分享给好友</td>
			<td><i class="icon-chevron-right"></i></td>
		</tr>
	</table>
	<table class="LeftMenu_button">
		<tr onclick="FenX('3')">
			<td>分享到QQ</td>
			<td><i class="icon-chevron-right"></i></td>
		</tr>
	</table>
</div>
<div class="UserInfo">
	<span class="UserInfo_content">
		<b>2级</b><br>
		我的等级
	</span>
	<span class="UserInfo_cont">
		<b>2人</b><br>
		代理人数
	</span>
</div>
<div class="black_box"></div>
<div class="YeJi_Box"></div>
<table class="YeJi">
	<tr>
		<td>
			<b>￥123</b><br>
			我的销售额
		</td>
		<td style="border-right: none;">
			<b>￥123</b><br>
			代理销售额
		</td>
	</tr>
</table>
<div class="YeJi_Box"></div>
<div class="black_box"></div>
<div class="YeJi_Box"></div>
<div class="else_box">
	<table>
		<tr>
			<td><b class="icon-warning-sign"></b></td>
			<td>待处理订单</td>
			<td>
				<button>
					12
				</button>
			</td>
			<td onclick=""><b class="icon-chevron-right"></b></td>
		</tr>
		<tr>
			<td><b class="icon-file-alt"></b></td>
			<td>我的业绩</td>
			<td>
				<button>
					1
				</button>
			</td>
			<td><b class="icon-chevron-right"></b></td>
		</tr>
		<tr>
			<td><b class="icon-align-justify"></b></td>
			<td>更多</td>
			<td>
				<button>
					123
				</button>
			</td>
			<td><b class="icon-chevron-down"></b></td>
		</tr>
		<tr>
			<td></td>
			<td>代理业绩</td>
			<td style="color:#9a9998;">123</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>代理未处理订单</td>
			<td style="color:#9a9998;">123</td>
			<td></td>
		</tr>

	</table>
</div>
<div class="YeJi_Box"></div>

{/block}