{extend name="Public:public"/}
{block name="main"}
		<!-- 头像部分 -->
		<div class="MAXwidth HeadPortraitBox">
			<div class="HeadPortrait">
				{empty name="user.UserImg"}
				<img class="fl" src="__PUBLIC__/admin/images/default.png"/>
				{else /}
					{eq name="user.count" value="1"}
					<img class="fl" src="{$user.UserImg}"/>
					{else/}
					<img class="fl" src="__ROTH__/{$user.UserImg}"/>
					{/eq}

				{/empty}

				<a class="UserMember" href="{:url('/admin/personal/Personal/level')}">
					<b>v</b>1
				</a>
			</div>
			<a href="{:url('/admin/personal/Personal/member')}" class="turnright">
				<img src="__PUBLIC__/admin/images/turnright.png">
			</a>
		</div>
		<!-- 电话号码（账号） -->
		<div class="MAXwidth PhoneNum">{$user.UserName}</div>
		<!-- 积分、余额、优惠 -->
		<div class="MAXwidth IntegralBox">
			<span class="Integral fl">
				积分<br />
				<b>0</b>
			</span>
			<span class="Integral fl">
				余额<br />
				<b>￥0.00</b>
			</span>
			<a class="Integral fl" href="{:url('/admin/personal/Personal/quan')}">
				优惠券<br />
				<b>0</b>
			</a>
		</div>

		<div class="MAXwidth MyMenuBox" style="height: auto;">
			<a href="{:url('/admin/personal/Personal/orderform')}" class="MyMenu fl">
				<img src="__PUBLIC__/admin/images/u-icon1.png" class="MyMenu_icon"><br>我的订单
			</a>
			<a href="" class="MyMenu fl">
				<img src="__PUBLIC__/admin/images/u-icon2.png" class="MyMenu_icon"><br>待评价
			</a>
			<a href="{:url('/admin/personal/Personal/level')}" class="MyMenu fl">
				<img src="__PUBLIC__/admin/images/u-icon3.png" class="MyMenu_icon"><br>会员等级
			</a>
			<a href="" class="MyMenu fl">
				<img src="__PUBLIC__/admin/images/u-icon4.png" class="MyMenu_icon"><br>我的赠品
			</a>
			<a href="" class="MyMenu fl">
				<img src="__PUBLIC__/admin/images/u-icon5.png" class="MyMenu_icon"><br>我的特权
			</a>
			<a href="{:url('/admin/shoppingcar/Shoppingcar/index')}" class="MyMenu fl">
				<img src="__PUBLIC__/admin/images/u-icon7.png" class="MyMenu_icon"><br>购物车
			</a>
			<div class="cb"></div>
		</div>
<div class="bottom_margin_Box"></div>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

{/block}