{extend name="Public:public"/}
{block name="main"}
		<!-- 头像部分 -->
		<div class="MAXwidth HeadPortraitBox">
			<div class="HeadPortrait">
				<img class="fl" src="__PUBLIC__/admin/images/default.png"/>
				<span class="UserMember">
					<b>v</b>1
				</span>
			</div>
			<a href="" class="turnright">
				<img src="__PUBLIC__/admin/images/turnright.png">
			</a>
		</div>
		<!-- 电话号码（账号） -->
		<div class="MAXwidth PhoneNum">187****6325</div>
		<!-- 积分、余额、优惠 -->
		<div class="MAXwidth IntegralBox">
			<span class="Integral fl">
				积分<br />
				<b>0</b>
			</span>
			<span class="Integral fl">
				余额<br />
				<b>￥0.00</b>
			</span>
			<span class="Integral fl">
				优惠券<br />
				<b>0</b>
			</span>
		</div>

		<div class="MAXwidth MyMenuBox">
			<a href="" class="MyMenu fl">
				<img src="__PUBLIC__/admin/images/u-icon1.png" class="MyMenu_icon"><br>我的订单
			</a>
			<a href="" class="MyMenu fl">
				<img src="__PUBLIC__/admin/images/u-icon2.png" class="MyMenu_icon"><br>待评价
			</a>
			<a href="" class="MyMenu fl">
				<img src="__PUBLIC__/admin/images/u-icon3.png" class="MyMenu_icon"><br>会员等级
			</a>
			<a href="" class="MyMenu fl">
				<img src="__PUBLIC__/admin/images/u-icon4.png" class="MyMenu_icon"><br>我的赠品
			</a>
			<a href="" class="MyMenu fl">
				<img src="__PUBLIC__/admin/images/u-icon5.png" class="MyMenu_icon"><br>我的特权
			</a>
			<a href="" class="MyMenu fl">
				<img src="__PUBLIC__/admin/images/u-icon6.png" class="MyMenu_icon"><br>我的试吃
			</a>
			<div class="cb"></div>
		</div>
<div class="bottom_margin_Box"></div>
{/block}