{extend name="Public:public_2"/}
{block name="main"}
	<div class="content_dao">
		<a href="{:url('/admin/personal/Personal/index')}" class="con_s1 icon-angle-left"></a>
		<p class="cont_zhan">会员中心</p>
	</div>
	<div class="le_first">
		<div class="kong"></div>
		<div class="le_first_1">
			<img src="__PUBLIC__/admin/images/sc.jpg">
		</div>
		<span>huiuan1111111</span>
		<p>XXXX会员</p>
	</div>
	<div class="le_second">
		<span class="le_second_span">XX积分234</span>
		<span class="le_second_span_1">已有权益</span>
	</div>
	<div style="clear:both;"></div>

	<div class="le_third">
		<p>会员权益</p>
		<a class="le_third_1">
			<div class="kong"></div>
			<div class="le_third_1_img">
				<img src="__PUBLIC__/admin/images/sc.jpg">
			</div>
			<span>XXXX权益</span>
		</a>
		<a class="le_third_1">
			<div class="kong"></div>
			<div class="le_third_1_img">
				<img src="__PUBLIC__/admin/images/sc.jpg">
			</div>
			<span>XXXX权益</span>
		</a>
		<a class="le_third_1">
			<div class="kong"></div>
			<div class="le_third_1_img">
				<img src="__PUBLIC__/admin/images/sc.jpg">
			</div>
			<span>XXXX权益</span>
		</a>
		<a class="le_third_1">
			<div class="kong"></div>
			<div class="le_third_1_img">
				<img src="__PUBLIC__/admin/images/sc.jpg">
			</div>
			<span>XXXX权益</span>
		</a>
		<a class="le_third_1">
			<div class="kong"></div>
			<div class="le_third_1_img">
				<img src="__PUBLIC__/admin/images/sc.jpg">
			</div>
			<span>XXXX权益</span>
		</a>
		<div class="bian"></div>
	</div>

	<div class="level_forth">
		<p>最近热销</p>
		<div class="level_forth_1">
			<a class="level_forth_2">
				<img src="__PUBLIC__/admin/images/sc.jpg">
				<li>
					这是个商品这是个商品设施哦个商品
				</li>
				<span>￥：200</span>
				<i>￥：800</i>
			</a>
			<a class="level_forth_2">
				<img src="__PUBLIC__/admin/images/sc.jpg">
				<li>
					这是个商品这是个商品设施哦个商品
				</li>
				<span>￥：200</span>
				<i>￥：800</i>
			</a>
			<a class="level_forth_2">
				<img src="__PUBLIC__/admin/images/sc.jpg">
				<li>
					这是个商品这是个商品设施哦个商品
				</li>
				<span>￥：200</span>
				<i>￥：800</i>
			</a>
			<a class="level_forth_2">
				<img src="__PUBLIC__/admin/images/sc.jpg">
				<li>
					这是个商品这是个商品设施哦个商品
				</li>
				<span>￥：200</span>
				<i>￥：800</i>
			</a>
			<div style="clear:both;"></div>
		</div>

	</div>
{/block}