{extend name="Public:public_2"/}
{block name="main"}
		<div class="content_dao">
		<a href="{:url('/admin/personal/Personal/index')}" class="con_s1 icon-angle-left"></a>
		<p class="cont_zhan">会员资料</p>
	</div>
	<div class="Me_head">
			<img src="__PUBLIC__/admin/images/sc.jpg" onclick="xiugai_img()">
			<div class="Me_head_1">
				<span>huiyuan1213312312431</span>
			</div>
	</div>

	<div class="Me_address">
		<p>此处为默认守护地址</p>
		<a class="icon-angle-right"></a>
	</div>
	<div class="Me_shuxing">
		<p>姓名</p>
		<a class="icon-angle-right"></a>
	</div>
	<div class="Me_jian"></div>
	<div class="Me_shuxing">
		<p>年龄</p>
		<a class="icon-angle-right"></a>
	</div>
	<div class="Me_jian"></div>
	<div class="Me_shuxing">
		<p>性别</p>
		<a class="icon-angle-right"></a>
	</div>
	<div class="Me_jian"></div>
	<div class="Me_shuxing">
		<p>联系方式</p>
		<a class="icon-angle-right"></a>
	</div>
	<div class="Me_jian_1"></div>

	<div class="bottom">退出登录</div>

	<!---------------------图片裁剪弹窗----------------------------->
	<div class="img_caijian">

	</div>
{/block}