{extend name="Public:public_3"/}
{block name="main"}
		<div class="content_dao">
		<a href="{:url('/admin/personal/Personal/index')}" class="con_s1 icon-angle-left"></a>
		<p class="cont_zhan">会员资料</p>
	</div>
	<div class="Me_head">
			<img src="__PUBLIC__/admin/images/sc.jpg" onclick="xiugai_img()">
			<div class="Me_head_1">
				<span>huiyuan1213312312431</span>
			</div>
	</div>

	<div class="Me_address">
		<p>此处为默认守护地址</p>
		<a class="icon-angle-right"></a>
	</div>
	<div class="Me_shuxing">
		<p>姓名</p>
		<a class="icon-angle-right"></a>
	</div>
	<div class="Me_jian"></div>
	<div class="Me_shuxing">
		<p>年龄</p>
		<a class="icon-angle-right"></a>
	</div>
	<div class="Me_jian"></div>
	<div class="Me_shuxing">
		<p>性别</p>
		<a class="icon-angle-right"></a>
	</div>
	<div class="Me_jian"></div>
	<div class="Me_shuxing">
		<p>联系方式</p>
		<a class="icon-angle-right"></a>
	</div>
	<div class="Me_jian_1"></div>

	<div class="bottom">退出登录</div>

	<!---------------------图片裁剪弹窗----------------------------->
	<div class="img_caijian">
		<div class="yc-upload-wrap">
			<div class="yc-upload-box">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12" style="padding:0;">

							<div class="ycupload-mainbox">
								<div class="ycupload-main1" style="overflow:hidden;padding-left:25px;">
							<span style="float:left;color:#ff5a5a;font-size:14px;line-height:60px;font-weight:900;margin-right:7px;">
								&middot;
							</span>
									<span style="float:left;color:white
									;font-size:16px;line-height:60px;margin-right:28px;">
								上传封面
							</span>
								</div>
								<div class="ycupload-line"></div>
								<div style="height:30px;"></div>
								<div  style="min-height:1px;">
									<div class="container">
										<div class="row">
											<div class="col-md-12 col-sm-12 col-xs-12" style="padding-right:0;padding-left:36px;">
												<div style="min-height:1px;line-height:160px;text-align:center;position:relative;" ontouchstart="">
													<div class="cover-wrap" style="display:none;position:fixed;left:0;top:0;width:100%;height:100%;background: rgba(0, 0, 0, 0.4);z-index: 10000000;text-align:center;">
															<div id="clipArea" style="margin:10px;height: 520px;"></div>
																<button id="clipBtn" style="width:120px;height: 36px;border-radius: 4px;background-color:#ff8a00;color: #FFFFFF;font-size: 14px;text-align: center;line-height: 36px;outline: none;">保存封面</button>
															</div>

													</div>
													<div id="view" style="width:214px;height:160.5px;border:1px solid white;" title="请上传 428*321 的封面图片"></div>
													<div style="height:10px;"></div>
													<div  class="" style="width:140px;height:32px;border-radius: 4px;background-color:#ff8a00;color: #FFFFFF;font-size: 14px;text-align:center;line-height:32px;outline:none;margin-left:37px;position:relative;">
														点击上传封面图
														<input type="file" id="file" style="cursor:pointer;opacity:0;filter:alpha(opacity=0);width:100%;height:100%;position:absolute;top:0;left:0;">
													</div>
												</div>


											</div>
										</div>
									</div>

								</div>
								<div style="height:25px;"></div>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
{/block}