{extend name="Public:public_2"/}
{block name="main"}

<div class="member-BigBox">
	<div class="content_dao">
		<a href="{:url('/admin/personal/Personal/index')}" class="con_s1 icon-angle-left"></a>
		<p class="cont_zhan">会员资料</p>
	</div>
	<div class="Me_head">
		{empty name="user.UserImg"}
			<img class="fl" src="__PUBLIC__/admin/images/default.png" onclick="xiugai_img()"/>
			{else /}
			{eq name="user.count" value="1"}
			<img class="fl" src="{$user.UserImg}" onclick="xiugai_img()"/>
			{else/}
			<img class="fl" src="__ROTH__/uploads/{$user.UserImg}" onclick="xiugai_img()"/>
			{/eq}
		{/empty}
			<!--<img src="__PUBLIC__/admin/images/sc.jpg" >-->
			<div class="Me_head_1">
				<span>{$user.UserName}</span>
			</div>
	</div>

	<div class="Me_address">
		<p>我的地址</p>
		<a class="icon-angle-right" style="margin-top:9px;" href="{:url('/admin/personal/Personal/address')}"></a>
	</div>
	<div class="Me_shuxing">
		<p>昵称</p>
		<a class="icon-angle-right" style="margin-top:9px;" href="{:url('/admin/personal/Personal/nicheng')}"></a>
	</div>
	<div class="Me_jian"></div>
	<div class="Me_jian"></div>
	<div class="Me_shuxing">
		<p>账号密码</p>
		<a class="icon-angle-right" style="margin-top:9px;"></a>
	</div>
	<div class="Me_jian"></div>
	<div class="Me_shuxing">
		<p>联系方式</p>
		<a class="icon-angle-right" style="margin-top:9px;"></a>
	</div>
	<div class="Me_jian_1"></div>

	<div class="bottom" onclick="">退出登录</div>

	<!---------------------图片裁剪弹窗----------------------------->
	<div class="img_caijian" id="test">
		<a href="javascript:;" class="file">点击上传图片
			<input type="file"  onchange="previewF('')"  class="Mo_file"  id="abc">
		</a>
		<button onclick="caiHead()" id="caijiana">裁剪</button>
		<button id="saveHead">保存</button>
		<button id="cancalImg">取消</button>
		<br>

		<div style="text-align: center;" id="img-Box" >
			<span id="imgBox">
				<img src="" alt="请上传照片" id="asdfg"/>
				<span id="CaiJianBox"></span>
			</span>
		</div>

	</div>
</div>
{/block}