{extend name="Public:public_2"/}
{block name="main"}
	<div class="content_dao">
		<a href="{:url('/admin/personal/Personal/index')}" class="icon-angle-left" style="float:left;margin-top:4px;margin-left:3%;color:white;"></a>
		<p class="cont_zhan">我的订单</p>
		<div><input type="text" name="" value=""><i class="icon-search" style="margin-top:11.5px;color:white;margin-left:3%;float:left;"></i></div>
	</div>
	<div id="Tao_second_2">
		<div class="l_change" onclick="clc(0,1)" id="order0">历史订单</div>
		<div class="active" onclick="clc(1,0)" id="order1">待付款</div>
		<div class="active" onclick="clc(2,0)" id="order2">待发货</div>
		<div class="active" onclick="clc(3,0)" id="order3">待收货</div>
		<div class="active" onclick="clc(4,0)" id="order4">待评价</div>
	</div>
	<div style="clear:both;"></div>
	<div class="tiao"></div>
	<div class="quanbu">
		<div id="Ding0">
			{volist name="order" id="vo"}
			<div class="Tao_second_3">
				<div class="Tao_second_3_1">
					<p>{$vo.GoodsName}</p>
				</div>
				<div class="Tao_second_3_1_1">
					<img src="__ROTH__/uploads/{$vo.Template_4}">
					<p>{$vo.GoodsName}&nbsp;&nbsp;{$vo.PackageName}</p>
					<div class="Tao_second_3_1_little">
						<span>￥:{$vo.price}</span>
						<i>×{$vo.num}</i>
					</div>
					<div style="clear:both;"></div>
                    <li style="font-size: 8px;">{$vo.lastUpdateTime|date="Y/m/d H:i:s",###}</li>
					<div class="form_kong"></div>
				</div>
			</div>
			{/volist}
		</div>
		<div id="Ding1" style="display:none;"></div>
		<div id="Ding2" style="display:none;"></div>
		<div id="Ding3" style="display:none;"></div>
		<div id="Ding4" style="display:none;"></div>
	</div>
{/block}