{extend name="Public:public_4"/}
{block name="main"}
<div class="head">
    <a class="icon-chevron-left" style="font-size:14px;margin-top:13px;float:left;margin-left:5%;" href="{:url('/admin/personal/Personal/daipinjia')}"></a>
    <p class="pin">评价</p>
    <button onclick="fabu()">发布评价</button>
</div>

<div class="first">
    <img src="/public/static/manage/images/1506842609781.jpg">
    <p>某某某某描述描述描述描述</p>
</div>
<div class="third">
    <p>请选择星等</p>
    <input type="hidden" id="hidden_list" value="" name="xing"/>
    <div class="third_1">
        <span class="Level icon-star"><input type="hidden" value="1"></span>
        <span class="Level icon-star"><input type="hidden" value="2"></span>
        <span class="Level icon-star"><input type="hidden" value="3"></span>
        <span class="Level icon-star"><input type="hidden" value="4"></span>
        <span class="Level icon-star"><input type="hidden" value="5"></span>
    </div>
    <!--<table id ="czy">
        <tr>
            <td onclick="test()">★</td>
            <td onclick="test()">★</td>
            <td onclick="test()">★</td>
            <td onclick="test()">★</td>
            <td onclick="test()">★</td>
        </tr>
    </table>-->
</div>
<div class="second">
    <textarea name="pingluna" id="pingluna">评价:</textarea>
    <a href="javascript:;" class="file">点击上传图片
        <input type="file"  onchange="choseMoreImg('')" id="abc" name="tu">
    </a>
    <div id="yulan"></div>
    <div style="clear:both;"></div>
</div>

{/block}