{extend name="Public:public_4"/}
{block name="main"}
<div class="head">
    <a class="icon-chevron-left" style="font-size:14px;margin-top:13px;float:left;margin-left:5%;" href="{:url('/admin/personal/Personal/daipinjia')}"></a>
    <p class="pin">评价</p>
    <button onclick="elease('{$good.id}')">发布评价</button>
</div>

<div class="first">
    <img src="__ROTH__/uploads/{$good.CovorImg}">
    <p>
        <span>{$good.GoodsName}</span><br>
        {$good.introduce}
    </p>
    <div class="cb"></div>
</div>
<div class="third">
    <p>请选择星等</p>
    <input type="hidden" id="hidden_list" value="" name="xing"/>
    <div class="third_1">
        <span class="Level icon-star"><input type="hidden" value="1"></span>
        <span class="Level icon-star"><input type="hidden" value="2"></span>
        <span class="Level icon-star"><input type="hidden" value="3"></span>
        <span class="Level icon-star"><input type="hidden" value="4"></span>
        <span class="Level icon-star"><input type="hidden" value="5"></span>
    </div>
</div>
<div class="second">
    <textarea name="pingluna" id="pingluna" placeholder="评价:"></textarea>
    <div style="clear:both;"></div>
</div>

{/block}